@{
    ViewBag.Title = "Westfield";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/nutrition.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote>
<br><br />

<div class="header">
    Travel Diet Destroyers:<br /><br />
    5 Surprising Medical Facts About ‘Healthy’ Eating On-The-Go
     <br /><br /><br />
</div>
 <div class="writer">
     By Dr. Mike Fenster
 </div>   
    <br><br />
    Before you hit the road on that holiday vacation or business trip with a mindset of maintaining a healthy diet regimen, beware! What you “think” you know about healthy food choices can hurt you. Eating healthfully can be extra-challenging when you are out and about, whether traveling remotely, in transit from point A to point B, or dining out locally.
    <br><br />
    Below is a list of 5 medically-based food facts to help you correct common dietary deceptions. This is information that’ll compel you to rethink your approach to healthy eating not only when you travel, but also when you’re preparing every day fare at home:
    <ol>
        <li>Diet salad dressings are equally, or more, detrimental.  Opting for a salad even with “light” dressing when dining out may not be the healthiest choice. Whether it is low calorie, low fat, or regular salad dressing, it’s often loaded with omega-six polyunsaturated plant oils—too much of which is associated with an increased risk of cardiovascular problems. In fact, consuming too much of these salad dressings can be even more harmful to your waistline and overall health than what you presume to be “less healthy” menu items you were trying to avoid with the best of intentions. When opting for salad, stick with just a little olive oil, vinegar, fresh lemon juice or nothing at all.</li>

        <li>Burgers beat deli meat.  Despite conventional thinking, the consumption of fresh red meat that isn't over processed has not been associated with any increased risk of heart disease, cancer or mortality. Many restaurants today, outside of the fast food variety, offer freshly ground, quality burgers—some even use beef that’s organic, grass fed and pasture raised. In contrast to fresh red meat, the consumption of highly processed meat and meat products like that typically used in deli sandwiches often presumed to be a healthier option over burgers- are proven to be associated with an increased risk of heart disease, cancer and mortality. Piling on a few zombiefied vegetables that have marginal nutritional value won’t give the meal much more health merit.</li>

        <li>Under-salted food may be a diet disservice.  We season our food so it tastes good, and a properly seasoned meal leaves us more satisfied and less likely to binge and over-consume. What’s more, adding salt to fresh food only accounts for about 5% of the daily intake—well within bounds. But, “fresh” is the key word as over 75% of an average person’s daily sodium intake comes from eating highly processed and prepared foods. Seek out those restaurants that utilize fresh ingredients, from produce to proteins. In a worst case scenario stop into a market and grab some fresh fruit, optimally organically grown, to tide you over.</li>

        <li>Low cholesterol advertising is a fat trap.  Most are surprised to learn the cholesterol consumed in one’s diet has little or nothing to do with your blood cholesterol levels. Foods and menu items promoted as a “healthy” because they are “low in cholesterol” are often loaded with fat, sugar or other additives that cause more harm than a three egg omelet ever could.</li>

        <li>Counting calories is a fallacy. A calorie is measured by turning food to ash and recording the amount of heat given off. The caloric content of a food or beverage item doesn't have much to do with how we actually metabolize our food. Additionally, calories alone do not accurately reflect a food’s nutritional value. For example, a 100 calorie soft drink is not the nutritional equivalent of a 100 calorie apple. Healthful eating isn't about focusing on the quantity of calories, but rather it is about the quality of the consumable.</li>
    </ol>
    Whether you are at home or on-the-go, taking even these few considerations into account relative to the quality of the “healthy” food at hand can have a significantly positive impact on your diet and overall well-being. Indeed, the food and drink choices you make when traveling can put you on the road to good health or result in a figurative food fatality.


<br /><br />
<table align="left">
        <tr>
            <td width="280" align="left">
                <img src="~/images/articles/nutrition101a.jpg" border="0">
            </td>
        </tr>
</table>
<i>
    Dr. Mike Fenster, “America’s Culinary Interventionalist,” is a Board Certified Cardiologist, chef and martial artist who’s cutting-edge medical expertise and insight, culinary talents and dedication to fit living convene in his uniquely integrative Grassroots Gourmet™ approach to food-born health. His upcoming book “The Fallacy of The Calorie: Why the Modern Western Diet is Killing Us and How to Stop It” is currently available for pre-order at <a href="http://www.CardioChef.com" target="_blank">
    www.CardioChef.com
</a>
</i>    
  <br><br><br>
</td></tr>
</table>

