@{
    ViewBag.Title = "Westfield";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/ontherecord.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote>
<br>

<div class="writer">    


    <table align="left">
        <tr valign="top">
            <td align="left">
                <img src="~/images/writers/lholstein.jpg" border="0">
            </td>
            <td width="5%"></td>
            <td>   
                <div class="header">
                    Smorgasburg
                </div><br /> <br /><br />         
                By Lauren Holstein
            </td>
        </tr>
    </table>
</div>
    <br><br /><br><br /><br><br /><br><br /><br><br /><br><br /><br>   
    Flea market season is upon us and New York City is active in participating!  As a result, it’s no surprise that NYC locals have taken the concept of flea markets and brought it to the next level by creating a new style of flea markets — all about food. Smorgasburg is an outdoor all-food market occurring at various waterfront locations every Saturday and Sunday, running from April to November from 11am to 6pm."
    <br /><br />
    The “Woodstock of Eating,” as coined by The New York Times, attracts over 100 vendors providing unique and crafty treats to the foodies that come from near and far.
    <br /><br />
    The idea of Smorgasburg was developed by Eric Demby and Jonathan Butler, who also founded the wildly successful Brooklyn Flea; a standard style outdoor flea market.
    <br /><br />
    <table align="center">
        <tr>
            <td width="450" align="center">
                <img src="~/images/articles/ontherecord1.jpg" />
            </td>
        </tr>
    </table>    <br /><br />
    Looking to expand upon their success, they aimed to create a market, which would focus on high-quality and carefully curated food, thus ushering in the new era of food flea markets in New York.
    <br /><br />
    Since opening in 2011, Smorgasburg has expanded from its original Saturday location in Williamsburg’s East River State Park to Sundays at Brooklyn Bridge Park Pier 5.
    <br /><br />
    Smorgasburg is even stretching out into Queens, Coney Island, and the South Street Seaport.  In addition to the weekend markets, Smorgasburg oversees the concessions at Central Park Summer Stage.
    <br /><br />
    With over 100 vendors bringing their best varieties of food, there are sweet and savory treats to please any taste bud. Many vendors offer a twist on what would be a usual meal. I saw people eating mangos cut into a flower shape off a stick and drinks being served out of a coconut.
    <br /><br />
    Several vendors such as Ramen Burger and Home Frite have developed popularity, thus creating long lines. Time Magazine has even voted Ramen Burger one of “The 17 Most Influential Burgers of All Time.” The burger consists of a fresh USDA Prime ground beef chuck patty sandwiched between two craftily formed buns made from freshly cut ramen noodles.
    <br /><br />
    Vendors such as Big Mozz stretch fresh mozzarella right inside their booth, while Kelvin Natural Slush Co offers the original Arnold Palmer iced tea and lemonade mix with a twist. Customers can add in flavors such as strawberry, raspberry, and green apple to their slushy drinks.
    <br /><br />
    While there is plenty of food to eat on site, some vendors such as 3 Nuts make artisanal nut butters in a variety of innovative flavors which are jarred, as an easy way to bring home.
    <br /><br />
    In addition to the food, the location alone is enough to entice a weekend visit. I went to Brooklyn Bridge Park Pier 5 on a Sunday. While the area was crowded, there was plenty of seating along benches, under umbrellas, and even in some boxcars. My favorite seating area was a docked boat with plenty of picnic benches and a great view of the skyline. The surrounding area had several turf fields where children and adults were playing soccer.
    <br /><br />
    When it comes to pricing for food and drinks, items were extremely affordable. The average cost per item was $1 to $15. It should be noted that most vendors were cash only; however there were two ATM stations set up on either side of the venue.
    <br /><br />
    So just like the Smorgasburg founders would want, I suggest that you bring your friends, grab a drink, and eat delicious food all season long.    
    <br><br><br>
</td></tr>
</table>

