@{
    ViewBag.Title = "Westfield";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/recipeheader.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote>
<br><br />
<div class="header">
    Baked Brie with Pear, Cranberry & Walnut Conserve
</div><br>
<br>
  
    <br><br>
    <table align="right">
        <tr>
            <td width="230" align="right">
                <img src="~/images/articles/recipe1west.jpg" />
            </td>
        </tr>
    </table>
    For the Brie:<br />
    1 wheel  (2-pound) firm Brie
    (rind intact), chilled<br />
    2 pk (17 1/4-ounce) frozen
    puff pastry sheets
    (4 pastry -sheets), thawed<br />
    1 lg egg, beaten lightly<br /><br />
    For the Conserve:<br />
    2T unsalted butter<br />
    4 bartlet or bosc pear,
    peeled, cored and diced<br />
    2T brown sugar<br />
    ¼ c dried cranberries<br />
    ¼ c chopped walnuts<br />
    ¼ t allspice<br />
    ¼ t nutmeg<br /><br />

    To make the conserve:
    <ol>
    <li>Heat the butter in a heavy pan over medium heat until it
    begins to foam</li>
   <li>Add the pears and cook stirring for 2 – 3 minutes, until
    the pear is tender.</li>
    <li>Stir in the brown sugar, dried cranberries, walnuts and
    spices.</li>
    <li>Continue cooking for 10 minutes, then set aside and cool
    to room temperature.</li>
    </ol>
    To make the brie:
    <ol>
    <li>Put Brie on a work surface and with a 2-inch round cutter
    cut out 10 rounds.</li>
    <li>On a lightly floured surface unfold 1 pastry
    sheet (do not roll out pastry) and with a 2 1/4inch
    round
    cutter
    cut
    out
    10
    rounds.</li>
    <li>Unfold remaining 3 pastry sheets and with a 5inch
    round
    cutter
    cut
    out
    10
    rounds.</li>
    <li>On cleaned work surface arrange 1 large pastry
    round and brush top with some egg. Center 1    
    cheese round on pastry and wrap pastry up over cheese
    to form a 3/4-inch border on top of cheese. Brush border
    with some remaining egg and top with 1 small pastry
    round, pressing edges of dough together gently but
    firmly to seal. Brush round with some remaining egg and
    chill on a baking sheet. Make more wrapped Brie with
    remaining pastry and cheese rounds in same manner.
    Chill each wrapped Brie, uncovered, at least 30 minutes.
    <li>Preheat oven to 425 F. and lightly grease a baking sheet.</li>
    <li>Bake Brie on baking sheet in middle of oven 15 minutes,
    or until puffed and golden.</li>
    <li>Cool Brie on baking sheet on a rack about 10 minutes
    before serving. Serve warm.</li>
    </ol>

</td></tr>
</table> 





