@{
    ViewBag.Title = "Westfield";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/spicestyle.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote>
<br>
<div class="header">
<table align="left">
	<tr>
		<td width="170" align="left"><img src="~/images/writers/julieurban.jpg" width="150" height="220" alt=""></td>
	</tr>
</table>
<br /><br /><br /><br />
    Fall Fashion 2015
</div> 
<br>
<div class="writer">by Julie Urban</div>
<br><br><br />
    It’s hard to believe summer is already over! Although summer sundresses will be missed, these new fall styles are cuter than ever! Check out these must have wearable trends that you’ll want to get on board with.
    <br /><br /><br><br>
    <table align="right">
        <tr>
            <td width="180" align="right">
                <img src="~/images/articles/style1.jpg" border="0">
            </td>
        </tr>
    </table>    
    <br /><br />
    <b>Oversized Jewelry</b>
    <br /><br /> 
    Make a statement by keeping clothes simple, but accessories large and in charge.
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <table align="left">
        <tr>
            <td width="180" align="left">
                <img src="~/images/articles/style2.jpg" border="0">
            </td>
        </tr>
    </table>    
    <br /><br />
    <b>Super Pleats</b>
    <br /><br /> 
    Pleats get a bad reputation. This fall’s pleat trends are changing that - they can be a sexy option for a night out with alternating see through paneling.
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <table align="right">
        <tr>
            <td width="180" align="right">
                <img src="~/images/articles/style3.jpg" border="0">
            </td>
        </tr>
    </table>    
    <br /><br /><br /><br /><br /><br /><br /><br />
    <b>Gloves</b>
    <br /><br />
    You can thank Mrs. Clooney for this trend! Gloves make every outfit instantly more elegant and chic and were all over the runways for fall.
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <table align="right">
        <tr>
            <td width="180" align="right">
                <img src="~/images/articles/style4.jpg" border="0">
            </td>
        </tr>
    </table>    
    <br /><br /><br /><br /><br />
    <b>Athleisure</b>
    <br /><br />
    Pair upgraded sweats with skirts, heels, and luxurious silk fabrics to make this look like you didn’t just leave the gym.
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <table align="left">
        <tr>
            <td width="180" align="left">
                <img src="~/images/articles/style5.jpg" border="0">
            </td>
        </tr>
    </table>    
    <br /><br />
    <b>High Waisted</b>
    <br /><br />
    Show off your waist! Everything above the waist is slimming and sexy so everyone, no matter what size you are, should try this look!
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <table align="right">
        <tr>
            <td width="180" align="right">
                <img src="~/images/articles/style6.jpg" border="0">
            </td>
        </tr>
    </table>    
    <br /><br /><br /><br /><br /><br />
    <b>One Shoulder</b>
    <br /><br />
    One shoulder gowns are the new strapless. This style is more appropriate for fall, but still lets you make a statement. 
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <table align="right">
        <tr>
            <td width="180" align="right">
                <img src="~/images/articles/style7.jpg" border="0">
            </td>
        </tr>
    </table>
    <br /><br /><br /><br /><br /><br />
    <b>Boxy Bags</b>
    <br /><br />
    These are a great substitute for a night out, since they can hold a lot and still make a statement.
    <br><br><br><br><br><br>
    @*<i>*photos credited to Getty images*</i>*@
    </blockquote>
</td></tr>
</table>