@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Issues</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/pastissues1b.jpg" width="417" height="11"></td></tr>
    <tr><td id="header2" align="left"><div id="pastissues"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/pastissues3.jpg" width="417" height="25"></td></tr>

<tr><td bgcolor="#FFFFFF" valign="top" align="left" height="400">
<blockquote>
<div class="header">
February 2008</div><br>
<table align="left">
<tr><td valign="top">
<table align="left"><tr><td width="160" valign="top"><img src="~/images/artists/taniasen.jpg" width="150" height="220"></td></tr>
</table>
Tania Sen, this month's cover artist lives in Warren with her husband and two daughters. Dance has been a theme of her paintings for many years. Tango, being a social dance is a fun subject matter for her painting "Red Tango" which graces the cover of this month's Warren Showcase.  "Red Tango" is one in a series that Tania created where the predominant color sets the mood. In this particular painting the color red, epitomizes love and fire. 
<br><br>
Tania's career started at age four when she was confined to the hospital bed after being misdiagnosed with diphtheria in a small town in India.  Her father bought Tania her first drawing book and a box of crayons.  During her childhood years, she won several awards in local art contests, the Nehru Children's Award being one of them.  Through Tania's high school years, she pursued a diploma course in Fine Arts at the Birla Academy in Calcutta where she was awarded the Kala Sangam for topping her class every term all through her five years there.  During her final year, she had a show at the Academy with two other artists.  The show received positive reviews in the Statesman and the Telegraph, two major news media in India.  This won her the Manjushree Khaitan Foundation Award which paid her passage to the U.S. as she and her family struggled after her father's demise in 1986.  During her short term with the Indian Railways as a publicity reporter, Tania illustrated portraits and political cartoons for the Telegraph.  
<br><br>
A scholarship at the New York Institute of Technology, NYC, made it possible for her to pursue a Masters in Communication Arts and later an MBA.  For fifteen years Tania worked in the NYC design industry both in the print and web media.  Even though she has created illustrations and displays for various 7th avenue fashion showrooms, Tania still participates in individual and group art shows in Central Jersey. Recently her work has been seen at   "Art In Summit" 2006-7, an initiative by NJ Center of Visual Arts, Millburn Art Fair, organized by the Short Hills Chamber of Commerce and The Watchung Arts Center.  Tania will also be showing in April 2008 at the Somerset Art Association in Bedminster, NJ.  Solo 2007, received acclaim in local media and Brownbag, an online magazine.
<br><br>
Tania works on a wide range of medium, oil, acrylic, Venetian plaster, mosaic, tiles and glass to name a few.  Her topic of work includes Dance, Yoga Indian Mythology and Equestrian themes as well as compositions requested on any given theme.  Among her recent commissions are: An oversized mural on the theme of Coney Island Park at the Somerset Hills YMCA.  It is done in acrylic on drywall.  Oil on canvas compositions based on "The Nutcracker", ballet production for the Broadway Dance Theater and Dance Express, Warren, NJ.   Gotta Dance, also in Warren, owns two of her pencil works on canvas.  A landscape done in four oversized canvases is displayed at the Morris Union Jointure Commission, NJ.  "Icons", Tania's latest exhibition starts April 17th at the Somerset Art Association, 2020 Burnt Mill Rd., Bedminster, NJ.  For more information, please visit her website at <a href="http://www.floatingpointinc.com" target="_blank">www.floatingpointinc.com</a> or email her at <a href="mailto:taniasen@hotmail.com" target="_blank">taniasen@hotmail.com</a>
<br><br>
</td>
<td>&nbsp;&nbsp;</td>
<td valign="top"><img src="~/images/covers/0208-FullSize.jpg" border="0" align="left"></td>
</tr>
</table>
 

<br><br></td></tr>

</table>