@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Issues</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/pastissues1b.jpg" width="417" height="11"></td></tr>
    <tr><td id="header2" align="left"><div id="pastissues"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/pastissues3.jpg" width="417" height="25"></td></tr>

<tr><td bgcolor="#FFFFFF" valign="top" align="left" height="400">
<blockquote>
<div class="header">
February 2010</div><br>
<table align="left">
<tr><td valign="top">
@*<table align="left"><tr><td width="160" valign="top"><img src="~/images/artists/ssnyder.jpg" width="150" height="221"></td></tr>
</table>*@
Stephanie Snyder contributed this month’s front cover of the Warren Showcase featuring a unique and tranquil photograph of The Mainstay Inn in Winter located in Cape May, New Jersey.  
<br><br>
Stephanie has been a Commercial Interior Architect, Artist and Photographer for the past 15 years.  She began studying at the Savannah College of Art and Design, and then went on to earn an Interior Architecture Degree from Cornell University.
<br><br>
Stephanie's illustrations and photography reflect her love of architecture and her desire to find the playfulness in structures.  She began developing her Archicatures illustration and photography style while living in Hong Kong.  What started as drawings and photos of places she visited both nationally and abroad, so became cherished gifts for friends.
<br><br>
Since her return to the US, she has established Archicatures with a client base of companies and collectors, and continues to develop her unique watercolor and ink technique of celebrating Architecture while illustrating private homes, historic landmarks as well as commercial real estate.  Many of her illustrations and photographs are available as note cards, holiday cards, mugs, shirts, wedding stationery, and other products.  In 2007, Stephanie started adding her photographs to her retail art collection.
<br><br>
Today Stephanie resides between Cape May, New Jersey & Bethlehem, Pennsylvania as an artist, photographer & yoga instructor.  To view or purchase additional illustrations, photographs or to learn how Stephanie can illustrate your house, please visit <a href="http://www.archicatures.com" target="_blank">www.archicatures.com</a>. 
<br><br>
<br><br>
</td>
<td>&nbsp;&nbsp;</td>
<td valign="top"><img src="~/images/covers/0210-FullSize.jpg" border="0" align="left"></td>
</tr>
</table>
 

<br><br></td></tr>

</table>