@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Issues</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/pastissues1b.jpg" width="417" height="11"></td></tr>
    <tr><td id="header2" align="left"><div id="pastissues"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/pastissues3.jpg" width="417" height="25"></td></tr>

<tr><td bgcolor="#FFFFFF" valign="top" align="left" height="400">
<blockquote>
<div class="header">
February 2011</div><br>
<table align="left">
<tr><td valign="top">
This month's Showcase front cover is brought to you by  two very talented a successful women in their field,  photographer  Marie Papp and Floral Designer Laura Clare. Laura created the exquisite floral arrangement gracing the front cover and Marie photographed it bringing it to life on paper. 
<br><br>
Marie has been photographing since the early '80s when she earned her BFA in Photography from NYU's Tisch School of the Arts.  She began photographing weddings 15 years ago and her work has been featured in many wedding publications, both nationally and regionally.  She has been recognized by The Knot as a "Best of Weddings" pick for 2007, 2008 and 2009.  Marie's photographs are beautiful emotional landscapes of a couple's wedding day combined with an artistic edge.  She loves to create outside of the box when given the opportunity.
<br><br>
When she is not photographing weddings she is happy creating beautiful images of babies and children alone and along with their families.  You can't help but fall in love with the babies in her photographs as she is able to capture the spirit and essence of these lovely little subjects.  
<br><br> 
Marie also photographs corporate events as well and has worked with major pharmaceutical companies in the New Jersey. 
<br><br> 
A native of Westfield, New Jersey she has been living in Hoboken since she attended NYU.   To view her portrait and wedding work, please visit <a href="http://www.mariepapp.com" target="_blank">www.mariepapp.com</a>.
<br><br>
Laura Clare is a unique floral design company specializing in fine floral arrangements and exquisite table top decor for everyday and special occasions.
<br><br>
Their creative design staff can assist you in personalizing flowers, plants, and table top decor for your home, wedding, corporate events, holiday decorations, and any other special function.
Stemming from her love of nature and passion for gardening, Laura's journey includes her obtaining a four-year degree in floriculture and ornamental horticulture from Cornell University. She has traveled and worked with floral designers in places such as London, Paris, Amsterdam, Copenhagen, and New York. Working with clients worldwide; she has gained a wealth of experience in design for every occasion. Laura Clare's trademark designs are a synthesis of fine European style and American inventiveness.
<br><br>
Since 2000, Laura has earned awards and accolades from regional and national magazines, associations, and private devotees. Most recently she was named "Best Florist" by NJLife Magazine and chosen to be one of The Knot.com "Best of Weddings" 2010 pick. 
<br><br>
<table align="left"><tr><td width="160" valign="top"><img src="~/images/artists/mariepapp.jpg" width="150" height="220"></td><td width="160" valign="top"><img src="~/images/artists/lauraclare.jpg" width="150" height="220"></td></tr>
<tr><td>Marie Papp</td><td>Laura Clare</td></tr>
</table>
</td>
<td>&nbsp;&nbsp;</td>
<td valign="top"><img src="~/images/covers/0211-FullSize.jpg" border="0" align="left"></td>
</tr>
</table>
 

<br><br></td></tr>

</table>