@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Issues</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/pastissues1b.jpg" width="417" height="11"></td></tr>
    <tr><td id="header2" align="left"><div id="pastissues"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/pastissues3.jpg" width="417" height="25"></td></tr>

<tr><td bgcolor="#FFFFFF" valign="top" align="left" height="400">
<blockquote>
<div class="header">
April 2009</div><br>
<table align="left">
<tr><td valign="top">
<table align="left"><tr><td width="160" valign="top"><img src="~/images/artists/eprystauk.jpg" width="150" height="155"></td></tr>
</table>
Elissa Prystauk is an international multi-award winning impressionist painter working in pastel and oil and is the Warren Showcase Cover Artitst for this month. She has been featured this year in the Daily Record and The Herald News. 
<br><br>
Her work has recently appeared at an invitational show in Taiwan, an award at the
Art du Pastel art show in Giverny, France, and Eastern Shore Art show in Alabama which she won an Award of Merit.
<br><br>
She is the recipient of the AAPL Medal of Honor at the 76th Grand National Exhibition
in New York City. Elissa spoke on a four-artist panel on "Artists Talk on Art" at the
School of Visual Arts in NYC the longest-running panel series in the history of art.
<br><br>
Her paintings and pastels have also been featured in The Best of Oil Painting from Northlight Books, Rockport Publishers, Pastel Book, L'Art du Pastel en France/
The Art of Pastel, National Taiwan Arts/International Pastel Artists, Savvy Living Magazine, Morris Magazine and cover of the state New Jersey Calendar.
<br><br>
Her work has also appeared at the Cropsey Museum in Hudson Valley, and at the Huntderton, Monmouth and Morris Museums in New Jersey. In Manhattan, Elissa's work has been exhibited at four prestigious clubs: the Salmagundi Club, the Catharine Lorillard Wolfe Art Club, the Pastel Society of America and the Pen & Brush.
<br><br>
Elissa is an artist member of the Salmagundi Club, a signature member of the
Pastel Society of America as well as board of directors, a full member of Catharine Lorillard Wolfe and a Fellow of the American Artist Professional League, as well as a member of the Hudson Valley Art Association in New York, all juried art clubs.
<br><br>
A New Jersey native, Elissa received her BFA from Rutgers University and continued
her studies at Urbino University in Italy, the Newark School of Fine and Industrial Art,
the School of Visual Arts in New York, and Brooklyn Art Museum.
<br><br>
Her work can be found in numerous private, corporate and collegiate collections.
<br><br>
Also, represented by four art galleries, this summer she will have a two-person show
at the William Ris Galleries in Stone Harbor.
<br><br>
Elissa is listed in Who's Who in America, Who's Who in American Art,
Who's Who in American Women and Who's Who in the World.
<br><br>
For more information on Elissa Prystauk and her works you can go to <a href="http://www.elissaprystauk.com" target="_blank">www.elissaprystauk.com</a> or email her at <a href="mailto:EPrystauk@aol.com" target="_blank">www.EPrystauk@aol.com</a> or call 973- 292- 2445.
  
<br><br>
</td>
<td>&nbsp;&nbsp;</td>
<td valign="top"><img src="~/images/covers/0409-FullSize.jpg" border="0" align="left"></td>
</tr>
</table>
 

<br><br></td></tr>

</table>