@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Issues</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/pastissues1b.jpg" width="417" height="11"></td></tr>
    <tr><td id="header2" align="left"><div id="pastissues"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/pastissues3.jpg" width="417" height="25"></td></tr>

<tr><td bgcolor="#FFFFFF" valign="top" align="left" height="400">
<blockquote>
<div class="header">
April 2010</div><br>
<table align="left">
<tr><td valign="top">
<table align="left"><tr><td width="160" valign="top"><img src="~/images/artists/jstach.jpg" width="150" height="179"></td></tr>
</table>
This month's Showcase Front Cover Artist is Judith G. Stach and the beautiful painting is called Martha's Vineyard.
A life-long resident of Monmouth County who currently calls both Florida and New Jersey "home", Judy focuses on oil paintings of landscapes and seascapes. She maintains studios both in Florida and New Jersey.  Judy paints from photographs and ein plein air, often combining both techniques to complete a painting.  Her approach to landscapes and seascapes is impressionistic in nature representing the full range of colors, values and light found only in nature.
<br><br>
Over the past twenty five years, Judy has received training from a number of outstanding artists.  She studied privately for almost two decades with Anthony Ventura.  She has also worked with the Plein Air Painters of America.  In 2003 and 2006, Judy received a rare invitation to join Richard Schmid and Nancy Guzik to paint in Vermont with the Putney Painters.  Other experiences include still life and live model oil painting with master painter David Laffel at the Art Students League in New York, painting ein plein air and in a studio with Timothy Thies and in New Jersey, Vermont, Arizona and Florida and plein air painting at Epcot in the Walt Disney World in 2005 and 2006 at the invitation of the company.  Judy has painted throughout Florida with the Plein Air Painters of the Treasure Coast, with whom she is a Signature Member.  A signature member of the Audubon Artists as well as the American Impressionist Society. She is also an Artist Member of the Salmagundi Club. 
<br><br>
Her paintings were featured in The Artist's Magazine January 2000 issue, the cover of the Commonwealth Courier Spring 2000 publication, the Summer 2005 edition of the Jersey Shore Vacation Magazine and Long Beach Island Rhapsody and New Jersey Home and Garden Cover Spring Cover 2007, Fine Art Connoisseur magazine A Breath of Fresh Air: Painting Nature Now September/October 2007. Design NJ magazine August 2008 "Enrich Your Home With creations by New Jersey Artists". Her work also has been reviewed and commentary written about her ten-year retrospective in June 2006 entitled "Living the Dream" were featured in The Hub and The Two River Times.  Judy has also been featured in Plein Air Magazine both individually (2004) and in connection with The Plein Air Painters of the Jersey Coast (2005), a group she founded in 2004.  
<br><br>
Judy is represented by The Lambertville Gallery of Fine Art in Lambertville, NJ, the Meghan Candler Gallery in Vero Beach, Florida and Veranda Fine Art and Gift Gallery on River Road in Fair Haven, NJ 732-933-4747. Her works are also available in NJ at the Guild of Creative Art in Shrewsbury and the Frederick Gallery in Spring Lake NJ. To view Judy's work please go to www.judystach.com 
<br><br>
Judy graduated from Mount Ida College in Newton Massachusetts.  She is a listed artist in the Biographical Encyclopedia of American Painters, Sculptors and Engravers of the US.  She is also a listed artist in Who's Who in American Art, 2007/2008 edition and Cambridge Who's Who in America Lifetime Member 2007/ 2008 edition.
<br><br>
</td>
<td>&nbsp;&nbsp;</td>
<td valign="top"><img src="~/images/covers/0410-FullSize.jpg" border="0" align="left"></td>
</tr>
</table>
 

<br><br></td></tr>

</table>