@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Issues</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/pastissues1b.jpg" width="417" height="11"></td></tr>
    <tr><td id="header2" align="left"><div id="pastissues"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/pastissues3.jpg" width="417" height="25"></td></tr>

<tr><td bgcolor="#FFFFFF" valign="top" align="left" height="400">
<blockquote>
<div class="header">
June 2009</div><br>
<table align="left">
<tr><td valign="top">
<table align="left"><tr><td width="160" valign="top"><img src="~/images/artists/ralphgarafola.jpg" width="150" height="220"></td></tr>
</table>
RALPH GARAFOLA was raised in Sheepshead Bay, Brooklyn and he studied at the Art Students League of New York for seven years. He was an assistant to Frank J. Reilly, instructor at the League and Commissioner of Art for New York City.
<br><br>
Ralph Garafola has made a living as an artist for 50 years; and brings a traditional style to his oil and watercolor paintings of portraits, landscapes, seascapes and still life.  He presently teaches at the duCret School of Art, Plainfield, NJ, Art Center of Sarasota, and Longboat Key Art Center of the Ringling College of Art and Design. His works hang in private collections in California, Florida, New York, New Jersey, South Carolina and Virginia.
<br><br>
Garafola was the recipient of a Certificate of Excellence at the International 2000 Portrait Arts Festival of the American Society of Portrait Artists Foundation held at the Metropolitan Museum of Art in New York City. He also won First Place at Long Boat Key Art Center in 2008, First Place in the Anna Maria Art League Show, Fla. in 2005, Honorable Mention in 2005 at the Park Avenue Club, Florham Park, NJ, and the 2000 Marion Anderson Memorial Award for Portraiture at the New Jersey Center for Visual Arts in Summit along with many other awards
<br><br>
Garafola exhibits on a regular basis at Sarasota Art Center, Longboat Key, Anna Maria Island and other Florida galleries. He has exhibited at many galleries including: Children's Hospital in Westfield, Berlex Corporation, Beneficial World Headquarters, Park Avenue Club, Westfield Art Gallery and Warren Public Library. The artist's work was included in the Ridgewood Art Institute's Catalogue for 1997-99.  
<br><br>
Garafola's portrait of the American Revolutionary martyr, Major General Joseph Warren, hangs in Warren Township's Municipal Courtroom. Garafola's recently commissioned portraits included a portrait of Lora Codington, philanthropist; Jamie DiNardo, Equestrienne/Champion Rider; Charles McDowell Sr., former law professor at Washington and Lee University of Lexington, VA; Franklyn Babbit, airplane pilot, entrepreneur of Myrtle Beach, SC; the late Rev. Michael A. McGuire, pastor of Sacred Heart Church, South Plainfield, NJ; Monica as a young child of Somerset County, NJ; Jackie LeClaire, Ringling Brothers Clown; Lorraine; Victor DiLeo, Realtor/Business Owner in Central New Jersey; James and his dog Duke and Bobby and his dog Butchie. Garafola is currently working on a full length, life-size portrait of Nicholas, a Fencing Champion.  
<br><br>
Garafola was featured in The Star Ledger, Asbury Park Press, Courier News, The Home News, The Journal Newspaper, B.Savvy Magazine of Central New Jersey, The Warren Showcase, New Jersey Savvy Living Magazine, The Warren Historical Society Newsletter, Long Island Power and Sail Magazine, Sino Monthly Magazine, Portrait Signature-Journal of the American Society of Portrait Artists and on the Homebuyers Shopping Channel on Cable TV. 
<br><br>
Garafola maintains a studio and gallery in his Warren, New Jersey home. During the winter months he works at a studio in the Sarasota, Florida area. Ralph Garafola is available for private lessons and can be reached at  Cell - 908-625-1980 or Home 908-647-6538.
<br><br>
</td>
<td>&nbsp;&nbsp;</td>
<td valign="top"><img src="~/images/covers/0609-FullSize.jpg" border="0" align="left"></td>
</tr>
</table>
 

<br><br></td></tr>

</table>