@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Issues</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/pastissues1b.jpg" width="417" height="11"></td></tr>
    <tr><td id="header2" align="left"><div id="pastissues"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/pastissues3.jpg" width="417" height="25"></td></tr>

<tr><td bgcolor="#FFFFFF" valign="top" align="left" height="400">
<blockquote>
<div class="header">
June 2010</div><br>
<table align="left">
<tr><td valign="top">
<table align="left"><tr><td width="160" valign="top"><img src="~/images/artists/donnaferrante.jpg" width="150" height="220"></td></tr>
</table>
This month's Showcase Front Cover Artist is Donna Ferrante a resident of Spring Lake, New Jersey.  Her creativity in drawing and the use of pastels, charcoal, and oils was evident since childhood. A self-taught artist, watercolor became her medium after the first lesson over 20 years ago. The spontaneity in her work is challenging and captures the beauty of the shore area in which she lives. Donna has studied watercolors with several well-known area artists notably Tony Ventura.  
<br><br>
Donna's watercolors are exhibited at many local art shows and are represented at the Manasquan Frame Shop, Manasquan, Kate & Company, and the Artiste' Cafe, Spring Lake. She is Vice President of the Manasquan River Group of Artists; a member of the Plein-Air Painters of the Jersey Coast; and the Belmar Arts Council. She also is a juried member in the Manasquan River Group of Artists, the Guild of Creative Arts in Shrewsbury and the Ocean County Artist's Guild, Island Heights.  Her work has been accepted into the Monmouth Festival of the Arts, Tinton Falls, NJ; Christian Brothers Academy Art Show in Lincroft the American Artists Professional League Open State Juried Exhibitions and the Edison Society of the Arts Gardens of the Garden State Art Exhibit, the Tuckerton Seaport Show. Her work may also be viewed on her website: <a href="http://www.jerseyshoreartists.com" target="_blank">http://www.jerseyshoreartists.com</a>.  She accepts commissions.  
<br><br>
Donna's work has appeared in the Coast Star and NJ Monthly magazine and in both private and corporate collections. 
<br><br>
</td>
<td>&nbsp;&nbsp;</td>
<td valign="top"><img src="~/images/covers/0610-FullSize.jpg" border="0" align="left"></td>
</tr>
</table>
 

<br><br></td></tr>

</table>