@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Issues</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/pastissues1b.jpg" width="417" height="11"></td></tr>
    <tr><td id="header2" align="left"><div id="pastissues"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/pastissues3.jpg" width="417" height="25"></td></tr>

<tr><td bgcolor="#FFFFFF" valign="top" align="left" height="400">
<blockquote>
<div class="header">
June 2011</div><br>
<table align="left">
<tr><td valign="top">
<table align="left"><tr><td width="160" valign="top"><img src="~/images/artists/mslevens.jpg" width="150" height="207"></td></tr>
</table>
The June Showcase Front Cover depicts a picture that was taken by Michael J. Slevens of the Kilauea Lighthouse on Kauai's North Shore. On the North Shore of Kauai, Hawaii located on a peninsula 200 feet above the ocean is the site of this picturesque lighthouse. The lighthouse was built in 1913 to guide ships heading to and from the Orient. Its beacon was turned off in the 1970’s and has been replaced by an automatic light.
<br><br>
Growing up in Green Brook NJ, Michael J. Slevens had an early start in photography; his father
had a dark-room in their garage and helping him develop black and white pictures was one of
Michael’s earliest and fondest memories. In high school, Michael took every photography class
that was offered however just as it is today it always remained just a hobby. Some of Michael’s
images have recently appeared in galleries in Upstate New York. Five years ago, Michael
re-located to Houston, Texas with his wife Lisa and takes every opportunity he can to take
landscape photographs.
<br><br>
Michael specializes in landscape HDR or High Dynamic Range Imaging. The process involves
both pre and post production manipulation of the images. This process boosts the natural range
of colors reflecting the way the eye sees the actual scene. The method involves taking five
pictures of the same subject, each at different exposures (a tripod is a must). Images are then
merged on top of one another using special software. The images are not created; they are only
enhanced.
<br><br>
Just about all of the images that are on Michael’s website (www.slevens.com) are taken using
this method, which takes the art of photography to a different level. More often than not, after
taking hundreds of pictures only several will “work” and give the painting like appearance that is
desired.
<br><br>
To contact Michael just go to his website at <a href="http://www.slevens.com" target="_blank">www.slevens.com</a>.
<br><br>
</td>
<td>&nbsp;&nbsp;</td>
<td valign="top"><img src="~/images/covers/0611-FullSize.jpg" border="0" align="left"></td>
</tr>
</table>
 

<br><br></td></tr>

</table>