@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Issues</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/pastissues1b.jpg" width="417" height="11"></td></tr>
    <tr><td id="header2" align="left"><div id="pastissues"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/pastissues3.jpg" width="417" height="25"></td></tr>

<tr><td bgcolor="#FFFFFF" valign="top" align="left" height="400">
<blockquote>
<div class="header">
June 2012</div><br>
<table align="left">
<tr><td valign="top">
<table align="left"><tr><td width="160" valign="top"><img src="~/images/artists/susancox.jpg" width="150" height="220"></td></tr>
</table>

"Tim's Critters" a painting by Canada's Helen Shideler is featured on this month's front cover. As long as Helen can remember she has been drawing and painting. Although her subject matter may have changed with time, what has not changed is her attraction to nature; being drawn in by sunlight, shadows, textures and details with rich colors. 
<br><br>
For Helen, painting is a celebration of life and how light and color interact." I always approach my work with enthusiasm and energy. Painting feels like a rather intimate experience as I spend an inordinate amount of time with each work - from the original photography sessions through the visualization exercise to the initial sketches and beyond."
<br><br>
Over the years, Helen has developed a distinctive style, full of life with a sense of whimsy.
Even when she tries to loosen up or change it up, the style remains recognizable. "I think this is because my approach is the same using vivid colors, focusing on details and precise handling of the paint. It is my signature - my visual voice."
<br><br>
The majority of Helen's work is produced in a series. This is quite intentional as she tries to perfect the handling of a subject." I paint what interests me - one painting most often leads to another and then another."
<br><br>
"For me the joy is in the challenge - the complexity, and getting it right. I constantly strive to hold myself to the highest standards. And yet, I subscribe to the philosophy there is nothing you can't fix, you just have to go for it!"
<br><br>
Helen's work is included in numerous private and corporate collections in Canada and in the US. Having always been an active supporter of regional art events and organizations, her work has been included in numerous invitational and juried shows across Canada. This active participation has presented Helen with numerous exhibition opportunities, recognition and awards, including Best in Show. To date, Helen has held nine solo exhibitions and planning the next.
<br><br>
Helen lives in Quispamis, New Brunswick in Canada with her husband Gary, a Border Collie Lab mix named Sadie and several fish between a pond and two aquariums. Primarily a self taught artist who paints whenever she can Helen does take numerous workshops and reads continuously. Helen and her husband have a blended family with five children.
<br><br>
Contact information:<br>
<a href=www.helenshideler.com" target="_blank">www.helenshideler.com</a><br>
<a href=www.helenshideler.wordpress.com" target="_blank">www.helenshideler.wordpress.com</a><br>
<a href="mailto:helen.shideler@gmail.com">helen.shideler@gmail.com</a>

<br><br>
</td>
<td>&nbsp;&nbsp;</td>
<td valign="top"><img src="~/images/covers/0612-FullSize.jpg" border="0" align="left"></td>
</tr>
</table>
 

<br><br></td></tr>

</table>