@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Issues</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/pastissues1b.jpg" width="417" height="11"></td></tr>
    <tr><td id="header2" align="left"><div id="pastissues"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/pastissues3.jpg" width="417" height="25"></td></tr>

<tr><td bgcolor="#FFFFFF" valign="top" align="left" height="400">
<blockquote>
<div class="header">
September 2008</div><br>
<table align="left">
<tr><td valign="top">
<table align="left"><tr><td width="160" valign="top"><img src="~/images/artists/pattyromo.jpg" width="150" height="220"></td></tr>
</table>
Art and creativity have always been a part of Patty Romo's life in some way or another, whether it was painting sets for local theatre groups or starting a small graphic design business after college. With family and career obligations, creating paintings was put on hold for a while. It wasn't until she took the advice of a good friend and traveled to North Carolina to study with pastel artists Kevin Beck and Susan Ogilvie, PSA, that Patty found her passion for working in pastels. 
<br><br>
A New Jersey native, Patty lived in East Orange and Orange before moving with her husband and two sons to Avalon in Cape May County 13 years ago. Living year-round on one of New Jersey's barrier islands gives Patty plenty subject matter for her artwork. The changing light throughout the seasons, the shifting sands, seas and bays are always a source of inspiration. Painting both in the studio and plein air (painting outdoors), Patty seeks to capture the beauty of the beaches, marshes and woodlands of South Jersey in her pastel landscapes. Dune Path, the painting on the cover of September's Warren Showcase, is just one example of the local sites in Avalon. 
<br><br>
Patty paints whenever she can, while juggling her graphic design and bookkeeping businesses. Her artwork has been accepted into several juried art shows including: Cape May County Art League Members Show, Cape May Court House, NJ; Brendan Borek Local Artists and Friends Art Show, Avalon, NJ; Ocean City Annual Juried Art Show and Ocean City Art Center Gala Art Show, Ocean City, NJ. 
<br><br>
Patty's work is currently on display at Ocean Galleries of Avalon and Stone Harbor (www.oceangalleries.com). For more information on Patty's artwork please contact her at  <a href="mailto:macromo@comcast.net" target="_blank">macromo@comcast.net</a> or visit her website at  <a href="http://www.pattyromo.com" target="_blank">www.pattyromo.com</a>.
<br><br>
<br><br>
</td>
<td>&nbsp;&nbsp;</td>
<td valign="top"><img src="~/images/covers/0908-FullSize.jpg" border="0" align="left"></td>
</tr>
</table>
 

<br><br></td></tr>

</table>