@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Issues</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/pastissues1b.jpg" width="417" height="11"></td></tr>
    <tr><td id="header2" align="left"><div id="pastissues"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/pastissues3.jpg" width="417" height="25"></td></tr>

<tr><td bgcolor="#FFFFFF" valign="top" align="left" height="400">
<blockquote>
<div class="header">
September 2009</div><br>
<table align="left">
<tr><td valign="top">
<table align="left"><tr><td width="160" valign="top"><img src="~/images/artists/lbrown.jpg" width="150" height="183"></td></tr>
</table>
This month's Warren Showcase front cover features Lisa Brown's painting called "Coming Into the Woods". During a long illness Lisa found art to be so rewarding and comforting that she wanted to share it with others. The painting on the cover of the September Showcase is called "Coming Into the Woods" In the hope of directing others towards renewing their spirituality, capturing their imagination and channeling their feelings into creative endeavors in her belief that art is therapeutic she created "Art as Therapy" programs using mixed media while incorporating themes specific to the clientele she is working with. These workshops are all hands on and meant to help students explore art by expanding their visions, and giving them a voice.
<br><br>
Lisa is a certified CJEA Supervisor (Creative Journal Expressive Arts) in association with Lucia Capacchione, A.T.R., Ph.D. author of 14 books on Art Therapy/Journaling. Lucia developed a technique which uses your non-dominate hand for writing.  Based on current brain research this is a therapeutic method which often taps into intuitive and creative depths. 
<br><br>
Lisa is also a fine artist as well as a teacher and has exhibited and sold in local art shows for over 30 years consistently searching for an expression that best conveys her inner self. She works in a variety of media including fabric collage, ceramics, painting and sculpture and thus has an expertise that is extensive. 
<br><br>
Through exploration and experimentation she has found a lively frolicsome expression of nature. Her paintings have a calming effect as the colors are vibrant drawing you into the scene, yet letting you feel as if you are alone and at peace.
<br><br>
"In making the art pieces, the art process envelops me and I lose track of time while my mind is concentrating on the task at hand. I use both hands and thus both sides of my brain bringing my creative imagination together with my expertise in art media."
<br><br>
Lisa most recently has been offering "Adult Art Parties" for small groups such as support groups, books clubs, couples clubs, birthday parties, or simply for a fun and different night out. 
To learn more about Lisa's process, see more samples of her work, or learn about the workshops available, please visit her website at <a href="http://Art-as-therapy.com.com" target="_blank">Art-as-therapy.com</a>.
<br><br>
</td>
<td>&nbsp;&nbsp;</td>
<td valign="top"><img src="~/images/covers/0909-FullSize.jpg" border="0" align="left"></td>
</tr>
</table>
 

<br><br></td></tr>

</table>