@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Issues</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/pastissues1b.jpg" width="417" height="11"></td></tr>
    <tr><td id="header2" align="left"><div id="pastissues"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/pastissues3.jpg" width="417" height="25"></td></tr>

<tr><td bgcolor="#FFFFFF" valign="top" align="left" height="400">
<blockquote>
<div class="header">
November 2009</div><br>
<table align="left">
<tr><td valign="top">
<table align="left"><tr><td width="160" valign="top"><img src="~/images/artists/mnorton.jpg" width="150" height="139"></td></tr>
</table>
This month's front cover of the Warren Showcase features a spectacular photograph of Rockefeller Center taken by Michele Norton.
Michele is a graduate of Whitesville Central School, Whitesville, NY and holds an AS Degree in Photography from Villa Maria College in Buffalo, NY with a minor in fine arts. She has spent the past 20 years preparing graphics for the print media world. Michele diligently practices her photo shooting skills and  keeps her creative sense sharp by designing 5 monthly, 3 bi-monthly magazines, and a weekly newspaper. 
In her free time she enjoys designing jewelry. Each piece of Jewelry is one of a kind. Michele hand selects all the semi-precious gems and hand strings each bead. All workmanship is guaranteed for life.
<br><br>
Michele lives with her husband Steve and daughter in Williamstown, NJ. She has been married for just 3 years. Michele's daughter has inherited her mother's eye for composition and has a keen sense for art and beauty. She is Senior in high school and plans to attend college next fall to obtain a degree in art therapy with the hopes of helping troubled children.
<br><br>
Michele Norton tries to instill happiness and joy in her work and world. It makes her happy to create and be productive and hopes to continue for many years to come.
<br><br>
To view samples of her work in the Jewelry, Media and Photo Galleries visit her web site at www.meaneyesdesign.com.
<br><br>
"You can't use up creativity. The more you use, the more you have." - Michele Norton
  
<br><br>
</td>
<td>&nbsp;&nbsp;</td>
<td valign="top"><img src="~/images/covers/1109-FullSize.jpg" border="0" align="left"></td>
</tr>
</table>
 

<br><br></td></tr>

</table>