@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Issues</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/pastissues1b.jpg" width="417" height="11"></td></tr>
    <tr><td id="header2" align="left"><div id="pastissues"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/pastissues3.jpg" width="417" height="25"></td></tr>

<tr><td bgcolor="#FFFFFF" valign="top" align="left" height="400">
<blockquote>
<div class="header">
November 2011</div><br>
<table align="left">
<tr><td valign="top">
<table align="left"><tr><td width="160" valign="top"><img src="~/images/artists/vgiordano.jpg" width="150" height="181"></td></tr>
</table>
The Showcase Holiday front cover is a beautiful watercolor of the home of Mr. Vincent Giordano who lives in Long Branch, NJ. The House, considered to be a Queen Anne Cottage, is by no means considered a cottage by today's standards. The house has over 3,500 sq feet.  Built in 1869, it sits across from 7 Presidents Beach Park in the north end of Long Branch. This area, once known as The Reservation, was the site of Buffalo Bill Cody's Wild West Show and might be one of the last remaining Indian houses. During renovation, old feed sacks and oats were found in the walls. Restoring the house has become a passion for Vincent. The biggest challenge is recreating its former glory architecturally, as well as décor, while making it a comfortable home with modern conveniences.
Vincent dedicates this watercolor in memory of his Father Vincent Giordano Sr. 1937 - 2011. A true renaissance man who taught him about craftsmanship, detailing, design, color and decor.
Mr. Michael Booth took the picture of Mr. Giordano's home during the holidays and the owner loved it so much that he had Michael turn into a watercolor.
Michael Booth was born and raised in Long Branch, NJ. After a stint in the United States Army, he founded the Atlanticville Newspaper in 1976. The Atlanticville was sold to Greater Media in 2001. He then bought half interest in the Coaster Newspaper located in Asbury Park, where he is now the publisher. 
In 1976, Michael attended Brookdale Community College in Lincroft. It was there, in addition to writing and business courses, that he became interested in photography and took photography and creative design lessons. 
His interest in watercolor design was honed under the direction of noted photographer Mike Jones. Michael, through the years, has created hundreds of watercolors, including houses, businesses and pets. 
Final products have been produced as greeting cards for the holidays, memo cards, T-shirts, cups just to name a few. 
Water coloring homes has become very popular and is Mr. Booth's specialty; custom digital watercolors on archival paper or canvas of your home, pet and business. 
 Please visit his website at <a href="http://www.watercolorsbymike.com" target="_blank">www.watercolorsbymike.com</a>. Photos of homes can be emailed directly to <a href="mailto: michaeljbooth@aol.com" target="_blank">michaeljbooth@aol.com</a> and to reach him by phone, call 848-667-3010. 
<br><br>
</td>
<td>&nbsp;&nbsp;</td>
<td valign="top"><img src="~/images/covers/1111-FullSize.jpg" border="0" align="left"></td>
</tr>
</table>
 

<br><br></td></tr>

</table>