@{
    Layout = "_HomeMainLayout";
    ViewData["Title"] = "Home Page";
}

<div class="col-md-8 content-left">
    <!-- <div class="slider"> -->
    <div class="callbacks_wrap">
        <div class="covers" style="">
            <table style="width:100%;text-align:center">
                <tr>                    
                    <td width="25%"><a href="http://www.epgraphics.com/ezine/Warren_Showcase/Warren_Showcase_Apr2017/index.html" target="_blank"><img src="~/images/covers/0418.jpg" alt="" style="width:100%" /></a><br /><br /><span style="font-size:18px;">April 2018 Issue</span></td>
                    <td width="50%"><a href="http://mypivotalmedia.com/ezine/Warren/Warren_Showcase_Sept2018/index.html" target="_blank"><img src="~/images/covers/0918.jpg" alt="" style="width:70%" /></a><br /><br /><span style="font-size:18px;">September 2018 Issue</span></td>
                    <td width="25%"><a href="http://www.mypivotalmedia.com/ezine/Warren/Warren_Showcase_June2018/index.html" target="_blank"><img src="~/images/covers/0618.jpg" alt="" style="width:100%" /></a><br /><br /><span style="font-size:18px;">June 2018 Issue</span></td>
                </tr>
            </table>
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="articles">
        <header>
            <h3 class="title-head">Publisher's Showcase</h3>
        </header>
        <div class="article">
            <div class="article-left">
                <a href="#"><img src="~/images/home/publisher.jpg" style="width:100%" /></a>
            </div>
            <div class="article-right">
                <div class="article-text" style="padding-left:5px;">
                    <div class="scrollbar" id="style-2" style="height:500px">
                        <div class="force-overflow">
                            <div class="popular-post-grids">
                                <div class="popular-post-grid">
                                    <p>Autumn, back to school, fall sports, Halloween &amp; holidays are all ahead. It&rsquo;s a great time of year and we are excited to be sharing it with our readers! Beginning with our beautiful front cover <b>&ldquo;Late Autumn&rdquo;</b> by artist Deborah Leonard, <b><em>The Showcase Magazine</em></b> is welcoming this time of year by bringing you pages full of the best <b>LOCAL</b> businesses &amp; professionals and useful, informative articles. We hope you take advantage of all the<b> LOCAL</b> shops, restaurants and businesses advertising in this issue and use it as your <b>&ldquo;Fall Guide&rdquo;</b> for everything <b>LOCAL!</b></p>
                                    <p>Looking for some <b>&ldquo;Fall Fun&rdquo;</b> activities for you and the kids? We have plenty! Just turn to pg. 24 to <b>&ldquo;On the Record in NYC&rdquo;</b> and check out the <b>&ldquo;Fall Fun Festivals&rdquo;</b> on pg. 34 packed with great family fairs &amp; festivals. <b>Community Chatter</b> found on pgs. 50&amp;51, offers several fall events including the Warren Seniors Picnic, Casino Night, Berkeley Heights Restaurant Week, &amp; The Warren Car Show just to name a few.</p>
                                    <p><b><em>Showcase Salutes </em></b>are featured in every issue highlighting businesses &amp; professionals. In this issue, we have <b><em>Showcased</em></b> 4 advertisers, so be sure to read all about these <b>LOCAL</b> businesses and their success stories! Featured salutes include <b>Giovanni&rsquo;s Bistro, Bar &amp; Catering, Goodman&rsquo;s Restaurant &amp; Deli, Hacienda Mexican Restaurant &amp; Grill, and Salted Lime Modern Latin Cuisine. </b></p>
                                    <p>In the spirit of Giving Back<b>, </b><b><em>The Showcase Magazine</em></b> continues to donate to the community. To view a list of organizations that we have supported, visit our website at <a href="http://www.theshowcasemagazine.net" target="_blank"><b>www.theshowcasemagazine.net</b></a> and click on the Giving Back Tab. The <b>Giving Back</b> Column <b><em>Showcases </em></b>3 organizations looking for donations and time and the <b>Community Chatter</b> is always full of wonderful events, <b>LOCAL</b> businesses and organizations donating in many ways.</p>
                                    <p><b>The Showcase</b> is available ON-LINE at <a href="http://www.theshowcasemagazine.net" target="_blank"><b>www.theshowcasemagazine.net</b></a>. Follow us on Twitter &amp; Instagram <b><a href="https://twitter.com/@('@')theshowcasemag" target="_blank">@@TheShowcaseMag</a></b> and friend us on Facebook at <b><a href="http://www.facebook.com/TheShowcaseMagazine" target="_blank">www.facebook.com/TheShowcaseMagazine</a></b>. This allows our advertisers to increase their visibility and helps to promote their goods and services. Our <b>ON-LINE Business Guide</b> is bigger and better than ever with over 100 businesses and new additions joining every day! Just go to 
                                    <a href="http://www.theshowcasemagazine.net" target="_blank"><b>www.theshowcasemagazine.net</b></a> and click on Business Guide. You will find categories to make it easy to navigate and
                                    find exactly what you are looking for. Can&rsquo;t find it? Just email or call us and we will be more than happy to refer you to the business you are looking for.</p>
                                    <p>As always, we would like to thank our readers and advertisers for supporting us and the <b>LOCAL</b> businesses and professionals of <b><em>The Showcase</em></b> <b><em>Magazine</em></b> who make it possible for us to give back to the community for the past 22 years! We encourage you to patronize your <b>LOCAL</b> businesses and professionals and <b>SHOP SMART &amp; SHOP LOCAL!</b> <b>LOCAL IS THE BEST PLACE TO BE!</b></p>
                                    <p>We wish you and your families a wonderful Autumn!</p>
                                    <br />
                                    <b>Nina and Patti</b>
                                    
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="articles" style="width: 85vw;">
        <header>
            <h3 class="title-head">Featured Articles</h3>
        </header>
        <div class="article">
            <div class="article-left">
                <a href="~/warren_edition/articles/LocalLowdown1"><img src="~/images/articles/localtalent1.jpg"  style="width:45% !important" /></a>
            </div>
            <div class="article-right">
                <div class="article-title">
                    <a class="title" href="~/warren_edition/articles/LocalLowdown1">Local Lowdown: Charlie Alberto IV</a>
                </div>
                <br /><br />
                <div class="article-text">
                    <p>A short sci-fi drama starring Michael Madsen and filmed, in part, right here in Warren. A series of shorts, documentaries and music videos compiled over a 10-year career in the film industry. A Production Assistant credit on the blockbuster <em>The Amazing Spider-Man 2</em>. Full-time location department work on <em>The Americans</em> and <em>High Flyin&rsquo; Bird, </em>the latter an upcoming project from Steven Soderbergh. An outstanding body of work for anyone working in the business, but especially exciting given that it belongs to one of Warren&rsquo;s own &ndash; Charlie Alberto IV, a graduate of Watchung Hills Regional High School and one of America&rsquo;s most exciting new film talents!</p>
                    <p>Being in the movie industry is about more than making movies, Charlie says &ndash; &ldquo;It&rsquo;s about making an experience.&rdquo; Getting to travel, meet new people, and speak to an audience through the medium of film are the things that engage him most when he takes on a project as an actor, writer, director or producer. He&rsquo;s able to change hats easily and often, filling multiple roles on any given work and instilling his own sense of quality and authenticity into each.</p>
                    <br /><br /><span style="font-size:8px"><a class="title" href="~/warren_edition/articles/LocalLowdown1">Read more</a></span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>        
        <div class="article">
            <div class="article-left">
                <a href="~/warren_edition/articles/home"><img src="~/images/featured1.jpg" style="width:45% !important" /></a>
            </div>
            <div class="article-right">
                <div class="article-title">
                    <a class="title" href="~/warren_edition/articles/home">Hints for the Home: <br>Raising the Bar and Wine Cellar to New Heights</a>
                </div>
                <br /><br />
                <div class="article-text">
                    <p>(NAPS)&mdash;When you&rsquo;re looking for a great place to unwind with friends, as more and more Americans are discovering, few spots can beat your own home bar or wine cellar.</p>
                    <p><strong>What&rsquo;s Cool In Wine Cellars</strong></p>
                    <p>A recent survey of home decorators, designers and fabricators found four facts and trends to consider when you want to install your own bar.</p>
                    <br /><br /><span style="font-size:8px"><a class="title" href="~/warren_edition/articles/home">Read more</a></span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="article">
            <div class="article-left">
                <a href="~/warren_edition/articles/funfestivals"><img src="~/images/featured3.jpg" style="width:45% !important" /></a>
            </div>
            <div class="article-right">
                <div class="article-title">
                    <a class="title" href="~/warren_edition/articles/funfestivals">Family Fun Fall Calendar</a>
                </div>
                <br /><br />
                <div class="article-text">
                    <p><strong>Apple Pancake Breakfast</strong><br />September 2, 2018 &mdash; September 9, 10 am-5 pm<br />Alstede Farms<br />Start with a Scenic Hay Wagon ride to Harvest Hall. Then enjoy a hearty farm All You Can Eat Breakfast which includes Pancakes, our Special Apple Topping and whipped cream and lots more. You will also gain entrance to our Pick Your Own fields to pick your own apples.&nbsp;Tickets may be purchased online.<br />1 Alstede Farms Ln., Chester, NJ 07930</p>                    
                    <br /><br /><span style="font-size:8px"><a class="title" href="~/warren_edition/articles/funfestivals">Read more</a></span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>