@{
    Layout = "_InsideLayout";
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Testimonials</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
 <link href="~/scripts/demonstration.css" rel="stylesheet" type="text/css" />
 <script type="text/javascript" src="~/scripts/jquery.min.js"></script>
 <script type="text/javascript" src="~/scripts/s3slider.js"></script>
 <script type="text/javascript" src="~/scripts/jquery.cycle.all.2.74.js"></script>
 <script type="text/javascript">
        $(document).ready(function () {
            $('#slider2').s3Slider({
                timeOut: 6000
            });
			checkIEVersion();
        });
   
        $(document).ready(function () {
            $('.slideshow').cycle({
                fx: 'fade' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
            });
        });    
		
		function getInternetExplorerVersion()
		{
		   var rv = -1; 
		   if (navigator.appName == 'Microsoft Internet Explorer')
		   {
			  var ua = navigator.userAgent;
			  var re  = new RegExp("MSIE ([0-9]{1,}[\.0-9]{0,})");
			  if (re.exec(ua) != null)
				 rv = parseFloat( RegExp.$1 );
		   }
		   return rv;
		}

        function checkIEVersion()
		{
		   var msg = "You're not using Windows Internet Explorer.";
		   document.getElementById("sliderTable").style.paddingLeft = "140px";
		   var ver = getInternetExplorerVersion();
		   if ( ver> -1 )
		   {
			  if ( ver <= 8.0 )               
				document.getElementById("sliderTable").style.paddingLeft = "183px";   
		   }			
		}
  </script>
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/testimonials1.jpg" width="417" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="testimonials"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/testimonials3.jpg" width="417" height="25"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top">
  <center>
    <table>
         <tr>
            <td></td>
            <td>
                 <div class="header">
                    Advertising In The Showcase...<br /><br />
                   The BEST Way to Increase Your Business!
                  </div>
            </td>
         </tr>
         <tr>
            <td></td>
            <td><br/>View The <b>SLIDESHOW</b> Below of Testimonials From Our Valued Customers</td>
         </tr>
      </table>
      <table><tr><td>&nbsp;&nbsp;</td></tr></table>
   </center>
 </td>
 </tr>
 <tr valign="top"><td bgcolor="#FFFFFF"  id="sliderTable">
 <div id="slider2" style="width:660px; top:0px">
        <ul id="slider2Content"> 
            @*<li class="slider2Image">
			  <img src="~/images/testimonials/gray1.jpg"  />
			  <span style="background-color:white"></span>
		    </li>*@
            <li class="slider2Image">
			  <img src="~/images/testimonials/lavander10.jpg"  />
			  <span style="background-color:white"></span>
		    </li>
             <li class="slider2Image">
			  <img src="~/images/testimonials/yellow7.jpg"  />
			  <span style="background-color:white"></span>
		    </li>             
            <li class="slider2Image">
			  <img src="~/images/testimonials/green9.jpg"  />
			  <span style="background-color:white"></span>
		    </li>
            @*<li class="slider2Image"> ------- Kris Wade 
			  <img src="~/images/testimonials/lavander9.jpg"  />
			  <span style="background-color:white"></span>
		    </li>*@
             <li class="slider2Image">
			  <img src="~/images/testimonials/blue9.jpg"  />
			  <span style="background-color:white"></span>
		    </li>
             <li class="slider2Image">
			  <img src="~/images/testimonials/yellow9.jpg"  />
			  <span style="background-color:white"></span>
		    </li>            
            <li class="slider2Image">
			  <img src="~/images/testimonials/lavander8.jpg"  />
			  <span style="background-color:white"></span>
		    </li>
            <li class="slider2Image">
			  <img src="~/images/testimonials/green8.jpg"  />
			  <span style="background-color:white"></span>
		    </li>
             <li class="slider2Image">
			  <img src="~/images/testimonials/blue8.jpg"  />
			  <span style="background-color:white"></span>
		    </li>
             <li class="slider2Image">
			  <img src="~/images/testimonials/yellow8.jpg"  />
			  <span style="background-color:white"></span>
		    </li>            
		    <li class="slider2Image">
			  <img src="~/images/testimonials/lavander7.jpg"  />
			  <span style="background-color:white"></span>
		    </li>
		    <li class="slider2Image">
			  <img src="~/images/testimonials/green7.jpg"  />
			  <span style="background-color:white"></span>
		    </li>
			@*<li class="slider2Image"> ----- Oceans Grill
				<img src="~/images/testimonials/lavander6.jpg"  />
				<span style="background-color:white"></span>     
			</li> *@
			@*<li class="slider2Image"> 
				<img src="~/images/testimonials/blue6.jpg"  />
				<span style="background-color:white"></span>     
			</li>*@ 	
            <li class="slider2Image"> 
				<img src="~/images/testimonials/yellow6.jpg"  />
				<span style="background-color:white"></span>     
			</li> 					
			<li class="slider2Image">
				<img src="~/images/testimonials/green5.jpg"  />
				<span style="background-color:white"></span>
			</li>
			<li class="slider2Image"> 
				<img src="~/images/testimonials/blue1.jpg"  />
				<span style="background-color:white"></span>
			</li> 
			<li class="slider2Image"> 
			   <img src="~/images/testimonials/lavander1.jpg"  />
			   <span style="background-color:white"></span>
			</li> 
			<li class="slider2Image"> 
				<img src="~/images/testimonials/yellow2.jpg"  />
				<span style="background-color:white"></span>     
			</li>                 
			<li class="slider2Image">
				<img src="~/images/testimonials/green1.jpg"  />
				<span style="background-color:white"></span>
			</li> 
			@*<li class="slider2Image">   ------ Corrin's Closet
				<img src="~/images/testimonials/blue2.jpg"  /> 
				<span style="background-color:white"></span> 
			</li> *@
			<li class="slider2Image"> 
				<img src="~/images/testimonials/lavander2.jpg"  />
				<span style="background-color:white"></span> 
			</li> 
				<li class="slider2Image"> 
				<img src="~/images/testimonials/green2.jpg"  />
				<span style="background-color:white"></span> 
			</li> 
			<li class="slider2Image"> 
				<img src="~/images/testimonials/yellow3.jpg"  />
				<span style="background-color:white"></span> 
			 </li>                      
			<li class="slider2Image"> 
				<img src="~/images/testimonials/blue3.jpg"  />
				<span style="background-color:white"></span> 
			</li> 
			<li class="slider2Image"> 
				<img src="~/images/testimonials/lavander3.jpg"  />
				<span style="background-color:white"></span> 
			</li> 
			<li class="slider2Image"> 
				<img src="~/images/testimonials/green3.jpg"  />
				<span style="background-color:white"></span> 
			</li> 
			<li class="slider2Image"> 
				<img src="~/images/testimonials/yellow4.jpg"  />
				<span style="background-color:white"></span> 
			</li>                      
			@*<li class="slider2Image"> 
				<img src="~/images/testimonials/blue4.jpg"  />
				<span style="background-color:white"></span> 
			</li>*@ 
			<li class="slider2Image"> 
				<img src="~/images/testimonials/lavander4.jpg"  />
				<span style="background-color:white"></span> 
			</li> 
			<li class="slider2Image"> 
				<img src="~/images/testimonials/green4.jpg"  />
				<span style="background-color:white"></span> 
			</li>
			<li class="slider2Image">
			  <img src="~/images/testimonials/lavander5.jpg"  />
			  <span style="background-color:white"></span>
			</li>
			@*<li class="slider2Image"> -----  Village Wireless
				<img src="~/images/testimonials/blue5.jpg"  />
				<span style="background-color:white"></span> 
			</li>            *@
			<li class="slider2Image">
			  <img src="~/images/testimonials/lavander5.jpg"  />
			  <span style="background-color:white"></span>
		  </li>
        </ul>                       
    </div>       
                      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</td></tr>
</table>