@{
    Layout = "_InsideLayout";
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Cover Artist</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/fca1.jpg" width="417" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="fca2"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/fca3.jpg" width="417" height="25"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left" height="400">
<br>
<blockquote>
    <div class="header">
        <table align="left">
            <tr>
                <td width="350" align="left">
                    <img src="~/images/artists/dleonard.jpg" alt=""><br /><br />
                </td>
            </tr>
        </table>                
    </div>
    <p>Deborah Leonard is an impressionistic and abstract painter that lives in West Simsbury, Connecticut. Deborah&rsquo;s love of nature, through observation and academic study has a strong influence on her painting. She finds enjoyment, interest &amp; beauty in her surroundings. In the more traditional pieces, atmospheric conditions and varied brush strokes are used to express the subject matter. Deborah often prefers to emphasize the simple elegance of a single tree or a forgotten barn. Her work captures the light and mood of the soft meadows or misty ocean for a particular day, turning her canvas into a diary.</p>
    <p>Deborah paints en plein air and in her studio. She is an active member of the&nbsp;<a href="https://www.facebook.com/groups/323588964352906/" target="_blank">Avon Art Association</a>,&nbsp;<a href="http://www.cpaps.org/" target="_blank">CT Plein Air Painters Society</a>,<a href="http://www.simsburyartists.org/" target="_blank">&nbsp;Simsbury Open Studios</a>, Simsbury Land Trust and a director on the board of the&nbsp;<a href="http://www.frwa.org/" target="_blank">Farmington River Watershed&nbsp;</a>Association.&nbsp;She has held leadership positions in many local art groups and has done much to promote the arts in her community and beyond. She teaches at the Farmington Valley Arts Center and she continues to teach art at the Simsbury community center as she has for eighteen years.&nbsp;She has also designed jewelry to benefit the Farmington River Watershed Association, The Flower Bridge, and The Simsbury Land Trust.</p>
    <p>Her work has won awards and appeared in numerous juried shows. One of her abstract paintings was chosen to appear in AcrylicWorks5 this year. She is dedicated to preserving the Connecticut farmland and watershed areas that are the subjects of so many of her paintings. Working with various like-minded groups, she donates her art work and service to protect and educate.</p>
    <p><a href="http://www.deborahleonardart.com/" target="_blank">www.deborahleonardart.com</a></p>
</blockquote>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</td></tr>
</table>

