@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Westfield";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/givingbackhead.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote>
<br>
<div class="header">
    Remain Safe and Warm at Home While Receiving Food This Winter
</div><br>
  <br>
    If you know of an older adult who may be finding it difficult to get to the grocery store or who cannot easily prepare their own meals, then perhaps one of SAGE Eldercare’s services would help out as the weather turns cold.  SAGE has a Grocery Shopping and Errand Service and provides Meals On Wheels to parts of Union, Essex, and Morris Counties in New Jersey.  Both of these programs are available to individuals age 60 and older, as well as disabled individuals.
    <br /><br />
    “In this tough economy, the food and human contact we provide to seniors in the surrounding communities is needed more than ever,” said Marianne Kranz, SAGE Eldercare’s Director of Meals On Wheels and Volunteers.  “SAGE volunteers are often the only people checking in on these individuals.”
    <br /><br />
    Kranz emphasizes that for many homebound older adults, the daily visit from a friendly Meals On Wheels (MOW) volunteer may be the only contact they have with someone that day.  About fifteen times a year, SAGE has to turn to the police to do welfare checks on clients who don’t respond, and about five times a year, a SAGE MOW volunteer calls 911 when finding a client in need of immediate professional and/or medical assistance.
    <br /><br />
    SAGE’s Meals On Wheels, established in 1966, is the oldest MOW program in New Jersey.  In 2013, approximately 600 volunteers delivered more than 44,000 meals to 250 people in Union County (Berkeley Heights, Mountainside, New Providence, Scotch Plains, Springfield, and Summit), Essex County (Millburn and Short Hills) and Morris County (Chatham and Madison).  Each weekday, 20-30 volunteers collectively drive nearly 200 miles to deliver approximately 160 meals to 120 clients in the three counties.
    <br /><br />
    SAGE Eldercare’s Grocery Shopping and Errand Service is also beneficial to homebound older adults.  The service has grown from three clients in 1998 to about 60 annually.  Each year, volunteers shop and deliver more than 1,000 orders and buy more than $70,000 worth of groceries.  They also pick up and deliver laundry to and from a local laundromat.  Errands to the post office, dry cleaners, and other places can also be accommodated.
    <br /><br />
    On Wednesday mornings, Grocery Shopping and Errand Service volunteers meet a shopping coordinator at a Berkeley Heights supermarket to shop and then deliver the items to older adults who live in Berkeley Heights, Chatham, Madison, Mountainside, New Providence, and Summit.  On Thursday mornings, volunteers shop in Millburn and deliver groceries and other items to seniors who live in Millburn, Short Hills, Springfield, and parts of Union.  Individual shopping lists are picked up by SAGE’s shopping coordinators earlier in the week prior to the delivery day.
    <br /><br />
    “The biggest benefit to the service is the personalized care we can provide.  We are flexible as to the brands and sizes of items that we pick up, we will accommodate dietary-specific needs, and we will use coupons if requested.  Additionally, we save caregivers effort so that they can spend quality time with their relatives and we look out for their loved one, often becoming a companion to them,” stated Kranz.
    <br /><br />
    If you know of a friend, relative, or neighbor who could use a helping hand with grocery shopping or needs a Meals On Wheels delivery, please contact Marianne Kranz at 908.273.5554 or email <a href="mailto:mkranz@sageeldercare.org">
    mkranz@sageeldercare.org
</a>
    <br /><br />
    For the past 60 years, SAGE Eldercare has been helping make the communities they serve an amazing place to age.  The organization provides a wide array of information, support, and services designed to help people lead the most independent and active lives possible.  From helping with errands, to exercise classes, community programs, and home health care, SAGE’s expertise helps older adults remain in their own homes.  SAGE is committed to being the leading provider of programs and services to meet the changing needs of older adults, their families, and caregivers throughout Union, Essex, Morris, and Somerset Counties.  For more information, please call 908.273.5550 or visit <a href="http://www.sageeldercare.org" target="_blank">
        www.sageeldercare.org
    </a>
    <br /><br /> <br /> <br />
    <table align="left">
        <tr>
            <td width="250" align="center"><img src="~/images/articles/givingback1west.jpg" alt=""></td>
            <td>
                Pictured is Ernie Moore of Berkeley Heights, a SAGE Eldercare Meals On Wheels volunteer, who is preparing to make his daily delivery of hot meals.  Meals On Wheels is one of many services provided by the organization to help older adults remain independent in the comfort of their own homes.  Similarly, SAGE’s Grocery Shopping and Errand Service also shops for and delivers groceries to homebound older adults.  Both programs are available through SAGE Eldercare to individuals who are over 60 years of age in parts of Union, Essex, and Morris Counties.  To check on availability of these services in your community, please call 908.598.5514 or visit <a href="http://www.sageeldercare.org" target="_blank">www.sageeldercare.org</a>
            </td>
        </tr>
    </table>
    <br /><br /><br />
    <br /><br /><br />
</td></tr>
</table>


