@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote>
<br><br />
<div class="header">
    5TH ANNUAL GREEN FAIR
</div>
<br><br>
<table align="right">
	<tr>
		<td width="260" align="right"><img src="~/images/articles/annualgreen1.jpg"  alt=""></td>
	</tr>
</table>
    On Saturday, April 25, 2015, from 10 a.m. to 1:00 p.m., the Warren Township
    Green Team and the Watchung Green Team will hold a Regional Green Fair.  The
    rain date is May 2, 2015.
    <br /><br />
    The event will take place in the parking lot of the Warren Municipal Complex
    at 46 Mountain Boulevard adjacent to Bardy Road.  There will be activities, environmental
    information,
    and
    recycling
    collections
    of
    hard-to-dispose-of
    items.
    <br /><br />
    Local community groups and business are invited to participate: Participation
    is free; however, the following criteria must be met: Participants must be able to
    demonstrate a connection to environmental awareness and provide information or
    goods of value to the public that are appropriate at a Green Fair.  Please provide
    table, chairs, and display.  The maximum recommended space is 3’ by 6’.  Please be
    available for set up at 9:30 a.m. in order to open at 10:00 a.m. for the duration of
    the fair which concludes at 1:00 p.m. on April 25th with a rain date of May 2nd.
    <br /><br />
    All interested groups and businesses are invited to send a brief proposal to participate
    in
    the
    Green
    Fair
    providing
    your
    contact
    information
    (name,
    phone,
    email
    address
    and
    home/business
    address).
    Groups
    hosting
    a
    recycling
    activity
    will
    be
    required
    to
    submit
    a
    tonnage
    report.
    Creativity
    and
    interactive
    proposals
    are
    encouraged.

    Relevant groups are encouraged to participate through the sign up form:
    <a href="https://warrengreenteam.wufoo.com/forms/2015-warren-watchung-green-fairsignup/" target="_blank">
        https://warrengreenteam.wufoo.com/forms/2015-warren-watchung-green-fairsignup/
    </a>
        or
        email
        <a href="mailto:green.nj.laura@gmail.com">
            green.nj.laura@gmail.com
        </a>
        The
        deadline
        to
        submit
        a
        proposal
        is
        March
        30,
        2015.


        Participation
        may
        be
        limited
        by
        space
        considerations.
        <br /><br />
        Styrofoam, watercolor, tempera or acrylic paints, residential papers to be shredded,

        unused paper, all electronics including tv’s, computers, printers, monitors,
        keyboards, game consoles, large clean shirts for smocks, ink & toner cartridges, usable
        glue
        &
        glue
        sticks,
        scrap
        metal,
        bubble

        wrap, crayons, unopened straws,
        eyeglasses, unopened chopsticks, cell
        phones, tissue paper, shoes new or gently
        worn, books, eyeglasses, pencils, hearing
        aids, paintbrushes, textiles & clothing
        <br /><br />
        Fun activities for all ages:
        <ul>
            <li>
                Valuable information about how you
                can improve our environment
            </li>
            <li>
                Practical solutions to environmental
                issues
            </li>
            <li>Recycling Arts & Crafts</li>
            <li>Rain Barrel Demonstration</li>
            <li>Beekeeping Display</li>
            <li>Book Swap</li>
            <li>Composting Information</li>
            <li>Pollinator Information</li>
        </ul>
        Participants at the Fair will include:
        the Lions Club, Wagner Farm Arboretum,
        Dean’s Natural Food Market, Newtech
        Recycling, Warren and Watchung Girl
        Scouts, the Environmental Club of
        WHRHS, Windsong Farm, Camp Jotoni,
        NRJ Homes Services, Watchung Garden Club, Regional Pollinator Partnership,
        Morris/ Somerset County Beekeepers Association, Arbonne International and
        Guardian Paper Shredding.
        <br /><br />
        Over the past two years, the recycling collections of the Green Fair have
        brought in approximately 36,000 pounds of electronics, 6,275 pounds of shredded
        paper, and 700 pounds of medicines which were all recycled and properly disposed
        of with the least impact to the environment. In addition I2,000 pounds of books,
        textiles, eye glasses, and shoes were directed to those in need.
        <br /><br />
        For Green Fair updates, please check the Warren Township Website at warrennj.org

        or the Watchung Borough Website at:  <a href="http://www.watchungnj.gov" target="_blank">
            watchungnj.gov
        </a> or
        <a href="http://www.Facebook.com/warrengreenteam" target="_blank">
            Facebook.com/warrengreenteam
        </a>


        <br><br><br>
</td></tr>
</table>