@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/artscene.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote>
<br>

<br>
<br /><br />
<div class="header">
      HALF TIME at the PAPER MILL<br><br>
    This New Show Needs More Work
</div>
<br /><br />
<div class="writer">
    By Walker Joyce
</div> 
   <br /><br />   
    <p><span style="font-weight: 400;">As I&rsquo;ve stipulated, the Book Musical is America&rsquo;s finest contribution to World Theatre, a legacy that happily continues. Millburn&rsquo;s Paper Mill Playhouse is one of the best preservers and presenters, having transferred several productions to Broadway in recent years.</span><em><span style="font-weight: 400;"> Newsies</span></em><span style="font-weight: 400;"> and </span><em><span style="font-weight: 400;">A Bronx Tale</span></em><span style="font-weight: 400;"> are two examples of ones that began here and then enjoyed success across the river.</span></p>
<p><span style="font-weight: 400;">This summer, New Jersey&rsquo;s State Theatre prepped </span><em><span style="font-weight: 400;">Half Time</span></em><span style="font-weight: 400;">, which premiered in Chicago, for a New York run. I attended to sample this latest effort, hoping for a new hit aborning.</span></p>
<p><span style="font-weight: 400;">Alas, while </span><em><span style="font-weight: 400;">Half Time</span></em><span style="font-weight: 400;"> has its heart in the right place, it needs more revision to achieve main-stem success. </span></p>
<p><span style="font-weight: 400;">It wants to be a latter-day </span><em><span style="font-weight: 400;">A Chorus Line,</span></em><span style="font-weight: 400;"> and like its predecessor celebrate underdogs who defy long odds, while making points about defying societal expectations&mdash;in this case, the limits we put on the Elderly. </span></p>
<p><span style="font-weight: 400;">Based on the true story of actual seniors who entertained at New Jersey Nets&rsquo; games, we meet the motley crew of old hoofers after they&rsquo;ve won their audition. Having answered an ad for people over 60, they&rsquo;re stunned to learn they&rsquo;ll be doing Hip Hop routines after they&rsquo;re chosen.</span></p>
<p><span style="font-weight: 400;">This makes no sense, as it means the oldsters&mdash;who already have real infirmities to overcome&mdash;were never tested on the skills they&rsquo;ll need to master. In my own 40-year career as an actor, director and producer, I&rsquo;ve never seen or heard of such a blind tryout. It&rsquo;s like a beach hiring lifeguards without knowing if they can swim.</span></p>
<p><span style="font-weight: 400;">Our heroes and their coach struggle mightily to master the routines&hellip;but the result is never in doubt. This is yet another flaw: </span><em><span style="font-weight: 400;">A Chorus Line&rsquo;s</span></em><span style="font-weight: 400;"> depiction of an ultimate job interview was filled with suspense; </span><em><span style="font-weight: 400;">Half Time&rsquo;s</span></em><span style="font-weight: 400;"> padded length has us waiting for the inevitable triumph. &nbsp;</span></p>
<p><span style="font-weight: 400;">The former show also featured unique individuals who, while representing certain categories of Broadway Gypsies, were still fully-formed characters worthy of our admiration. The latter serves up more than a few stereotypes, e.g. the Fiery Spitfire Latina, the Inscrutable Asian, the Sassy Black Matron. </span></p>
<p><span style="font-weight: 400;">That the cast surpasses such cut-outs is a tribute to its professionalism. All of the headliners manage to engage us when the writing does not. </span></p>
<p><span style="font-weight: 400;">In aforementioned order, Nancy Ticotin channels Chita Rivera in a sexy solo, Lori Tan Chinn does everything the creators ask, which unfortunately is mostly crude comedy, and Lillias White lands all her put-downs with expert timing. Unfortunately, the humor never exceeds that of an average sit-com.</span></p>
<p><span style="font-weight: 400;">The other trio of stars is no less accomplished, but also struggle with constraints. </span></p>
<p><span style="font-weight: 400;">Georgia Engle of Mary Tyler Moore fame, arguably the story&rsquo;s central figure, plays her patented innocent lamb character who&rsquo;s wiser than she seems, and truth to tell she coaxed belly-laughs. But I&rsquo;ve always found her baby doll voice mannered and annoying, and I still do. It was also hard to buy the notion that she was a split personality (she&rsquo;s called Sybil at one point) who could toss away her cane and become a rubber-limbed champ on cue.</span></p>
<p><span style="font-weight: 400;">Andre De Shields has lost nothing off his fastball. Most of his lines have a nice dry wit, and he too knows his way around a punchline. Inexplicably the troupe&rsquo;s only male, his final monologue is rather absurd, even if it&rsquo;s supposedly derived from &ldquo;Ron&rsquo;s&rdquo; real life prototype.</span></p>
<p><span style="font-weight: 400;">Donna McKechnie&rsquo;s &ldquo;Joanne&rdquo; is the most ticklish figure, as she&rsquo;s a credible older version of &ldquo;Cassie&rdquo; from </span><em><span style="font-weight: 400;">A Chorus Line</span></em><span style="font-weight: 400;">. In other words, the librettists are evoking that Tony Award-winning character and show throughout. She even dances in front of a wall of mirrors, as she famously did 44 years ago! Why they&rsquo;d invite a naked comparison to a much better number and production is baffling. Such memories diminish this still-charismatic performer and their musical.</span></p>
<p><span style="font-weight: 400;">One similarity that&rsquo;s missing is a soaring anthem, an 11 o&rsquo;clock number like &ldquo;What I Did for Love&rdquo; that could sum up the plot and provide a pop tune hit. The score is as pedestrian as many modern ones, when the songs are conversational and extensions of dialogue. The best book shows feature numbers that may advance the story or flesh out a persona but can also stand alone and become standards.</span></p>
<p><span style="font-weight: 400;">Even the title needs a re-write. </span><em><span style="font-weight: 400;">Half Time</span></em><span style="font-weight: 400;"> is too evocative of sporting events, and even though the finale is done at a basketball game, the show is only tangentially about athletics. The original label </span><em><span style="font-weight: 400;">Gotta Dance</span></em><span style="font-weight: 400;"> was closer to the mark.</span></p>

</blockquote>
    <br><br><br />
</td></tr>
</table>