@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/autozone.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote>
<br><br />
<div class="header">
 Ask Six Simple Questions to Select the Right Auto Repair Shop
</div><br><br>
<br><br>
<table align="right">
	<tr>
		<td width="320" align="right"><img src="~/images/articles/autozone1.jpg"  alt=""></td>
	</tr>
</table>
 <p><span style="font-weight: 400;">(NAPS)&mdash;By asking six simple questions, you may be better able to identify the right auto repair shop to properly care for one of your most valuable assets, your car.</span></p>
<p><strong>What to Ask</strong></p>
<ol>
<li><strong>Does the business employ ASE-certified technicians?</strong><span style="font-weight: 400;"> Credentials and affiliations are indicators of professionalism and the management&rsquo;s commitment to training and education.</span></li>
<li><strong>Is the shop and customer waiting area clean and organized? </strong><span style="font-weight: 400;">Cleanliness and organization are signs of a well-run business.</span></li>
<li><strong>Are customers greeted and treated in a friendly and respectful manner? </strong><span style="font-weight: 400;">Many auto repair businesses excel in the area of customer service and satisfaction. A simple phone call to the shop to inquire about their services can give you a glimpse of how they treat customers.</span></li>
<li><strong>Does the business provide a written estimate?</strong><span style="font-weight: 400;"> The business should complete a written estimate and request your signature prior to starting any repairs on your car.</span></li>
<li><strong>Does the business offer a warranty? </strong><span style="font-weight: 400;">Most auto repair businesses offer a warranty on parts and labor and the warranty is usually in writing or posted in the waiting area.</span></li>
<li><strong>Does the business have a list of satisfied customers or references that it is willing to give you? </strong><span style="font-weight: 400;">Satisfied customers and recommendations from family, friends and neighbors are helpful in finding a good shop. Many auto repair facilities also have company websites that are worth checking out as they often include testimonials and additional information about the business.</span></li>
</ol>
<p><span style="font-weight: 400;">&ldquo;A vehicle is a major purchase for most people, so it makes sense to take the time to select an auto repair facility that will take the best care of that investment,&rdquo; said Rich White, executive director of the nonprofit Car Care Council. &ldquo;Being an informed auto care consumer means not only learning about your vehicle and its service needs, but also the facility that will make the repairs.&rdquo;</span></p>
<p><span style="font-weight: 400;">A Car Care Council video, titled &ldquo;Auto Service and Repair: What to Expect,&rdquo; provides valuable information on such topics as what to expect at the shop and covers the real truth about consumer rights and the manufacturer&rsquo;s warranty.</span></p>
<p><span style="font-weight: 400;">The Car Care Council is the source of information for the &ldquo;Be Car Care Aware&rdquo; consumer education campaign promoting the benefits of regular vehicle care, maintenance and repair to consumers. </span></p>
<p><strong>Learn More</strong></p>
<p><span style="font-weight: 400;">To order a free copy of the popular &ldquo;Car Care Guide,&rdquo; visit the council&rsquo;s consumer education website at www.carcare.org. </span></p>
<p>&nbsp;</p>
<p><strong>It may pay to find out a few facts before you let anyone work on your car.</strong></p>   
</blockquote>
    <br><br><br>
</td></tr>
</table>