@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="left">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9" align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/booknook.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote>
<br>
<div class="header">	
The Book Nook
</div><br>

<div class="writer">
by Nina Ulloa</div>
<br><br />    
    <p>Whether you treasure fiction or nonfiction or relish in short stories, business, biographies,<br />politics, sports, mystery or fantasy, books still inspire minds and imaginations of the young and<br />mature reader. Now that summer is coming to an end and autumn is just around the corner<br />below are some selections perfect for a crisp fall day! Very different reads for the diverse tastes<br />of many readers. Enjoy and Happy Reading!</p>
<p>&nbsp;</p>
<p><strong>FICTION</strong></p>
<p><strong>1. SHARP OBJECTS</strong><br />by Gillian Flynn</p>
<p>After a stay at a psychiatric hospital, a reporter returns (reluctantly) to her hometown to<br />cover the murders of two girls.</p>
<p><strong>2. THE GOOD FIGHT</strong><br />by Danielle Steel</p>
<p>Meredith McKenzie embraces and eschews the values of her family of lawyers<br />during the tumultuous 1960s.</p>
<p><strong>3. THE PERFECT COUPLE</strong><br />by Elin Hilderbrand</p>
<p>A body is found in Nantucket Harbor hours before a picture-perfect wedding.</p>
<p><strong>4. THE PRESIDENT IS MISSING&nbsp;</strong><br />By Bill Clinton and James Patterson</p>
<p>When Tom Wolfe noted that &ldquo;the problem with fiction&rdquo; is that &ldquo;it has to be plausible,&rdquo; he<br />may have had efforts like this one in mind. Bill Clinton and James Patterson&rsquo;s ambitious<br />and wildly readable new novel, &ldquo;The President Is Missing,&rdquo; arches more closely toward<br />plausibility in its geopolitical subplots &mdash; threats against the Saudi king, malicious<br />Russian meddling in world affairs &mdash; than its main story line of a president who ditches<br />his handlers and goes rogue from the White House, convinced he is the only one who can<br />foil a huge cyberterrorism plot.</p>
<p><strong>5. CLOCK DANCE</strong><br />by Anne Tyler</p>
<p>A window into Willa Drake&rsquo;s life over 50 years and how she adjusts to some of life&amp;#39;s<br />surprises.</p>
<p>&nbsp;</p>
<p><strong>NON-FICTION</strong></p>
<p><strong>1. HOW TO CHANGE YOUR MIND</strong><br />by Michael Pollan<br />A personal account of how psychedelics might help the mentally ill and people dealing<br />with everyday challenges.</p>
<p><strong>2. TRUMP'S AMERICA</strong><br />by Newt Gingrich</p>
<p>The former speaker of the House&rsquo;s views on the achievements of and obstacles facing<br />the current administration.&nbsp;</p>
<p><strong>3. THE PLOT TO DESTROY DEMOCRACY</strong><br />by Malcolm Nance<br />&nbsp;<br />The former U.S. intelligence officer describes the tools and techniques used by<br />Vladimir Putin to affect the 2016 election.</p>
<p><strong>4. BARRACOON</strong><br />by Zora Neale Hurston<br />&nbsp;<br />A previously unpublished, first-person account of a man who was enslaved 50 years<br />after the slave trade was banned.</p>
<p><br /><strong>5. Liars, Leakers, and Liberals: The Case Against the Anti-Trump Conspiracy&nbsp;</strong><br />by&nbsp;Jeanine Pirro&nbsp;&nbsp;</p>
<p>As host of her own show on Fox for many years, Judge Jeanine Pirro has seen<br />firsthand how narratives take form, whether they are based in truth or not. In her<br />explosive new book, she will write about some of the most egregious lies she&amp;#39;s<br />seen, and take on the Liars, Leakers, and Liberals.</p>
<p>&nbsp;</p>
<p><strong>HARD COVER ADVICE &amp; MISCELLANEOUS</strong></p>
<p><strong>1. THE PLANT PARADOX COOKBOOK</strong><br />by Steven Gundry</p>
<p><br />From renowned cardiac surgeon and acclaimed author Dr. Steven R. Gundry, the companion<br />cookbook to New York Times bestselling The Plant Paradox, offering 100 easy-to-follow recipes<br />and four-color photos.</p>
<p><br /><strong>2. MY DIARRHE</strong><br />by Miranda Sings<br />&nbsp;<br />From the #1&nbsp;New York Times&nbsp;bestselling author of&nbsp;Selp-Helf&nbsp;comes the &ldquo;leaked&rdquo; diary of<br />YouTube comedic personality Miranda Sings.&nbsp;<br />Taped together so the world can read all about her life through her eyes,&nbsp;My Diarrhe&nbsp;includes<br />pages from Miranda&rsquo;s baby book, poems from her years as an emotional teen, secrets from her<br />dating life, and stories from her rise to fame. As Miranda herself says, &ldquo;It has every single secret<br />about my life in it. My first kiss, my first period, stories about secret family members, secret<br />photos of other celebrities, etc... so don&rsquo;t read it!&rdquo;</p>
<p><strong>3. FIRST, WE MAKE THE BEAST BEAUTIFUL</strong><br />by Sarah Wilson<br />&nbsp;<br />New York Times Bestseller **Probably the best book on living with anxiety that I&rsquo;ve<br />ever read.** &ndash; Mark Manson</p>
<p><strong>4. Go Ask Ali : Half-Baked Advice (and Free Lemonade)</strong><br />by Ali Wentworth&nbsp;</p>
<p><br />New York Times bestselling author Ali Wentworth offers her hilarious and unique advice on<br />surviving the absurdity of modern life in her third collection of laugh-out-loud comic vignettes.</p>
<p><strong>5. Road Trip Book : 1001 Drives of a Lifetime - by Darryl Sleath</strong><br />The world's superlative road trips--scenic, thrilling, and memorable--in both natural and<br />urban settings.<br />For anyone who has fallen under its spell, a car represents freedom and adventure. For decades,<br />the American tradition of the road trip has been bound up with the idea of new possibilities and<br />new horizons. This book is an indispensable guide to the most beautiful, breathtaking,<br />extraordinary, and fun road trips the world has to offer.</p>
<p>&nbsp;</p>
<p><strong>CHILDREN&rsquo;S BOOKS</strong></p>
<p><br /><strong>1. DAY IN THE LIFE OF MARLON BUNDO</strong><br />by Marlon Bundo with Jill Twiss. Illustrated by E.G. Keller<br />&nbsp;<br />A lonely bunny meets a companion.</p>
<p><strong>2. AN ELEPHANT AND PIGGIE BIGGIE!</strong><br />by Mo Willems<br />&nbsp;<br />An anthology combines five of Gerald and Piggie&amp;#39;s adventures.</p>
<p><strong>3. WILLA OF THE WOOD</strong><br />by Robert Beatty<br />&nbsp;<br />Willa sets out to unravel the mystery of imprisoned children in Dead Hollow.</p>
<p><strong>4. POPULARMMOS PRESENTS A HOLE NEW WORLD</strong><br />by Pat and Jen from PopularMMOs. Illustrated by Dani Jones<br />&nbsp;<br />Pat and Jen search for their friend Bomby in a dangerous underworld filled with zombies.</p>
<p><strong>5. HOCUS POCUS AND THE ALL-NEW SEQUEL</strong><br />by A.W. Jantha<br />&nbsp;<br />Poppy fights to save her family from the Sanderson sisters.</p>
    <br><br><br>
   </blockquote>
</td></tr>
</table>











