@{
	Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote>
<br>
<div class="header">
<table align="left">
	<tr>
		<td width="200" align="left"><img src="~/images/articles/samantha.jpg" alt=""></td>
	</tr>
</table>
<font color="pink">I Conquered Breast Cancer at 30</font>
</div>
<br /><br />
<div class="writer">
By Samantha Golkin <br />
Contributing Writer At the Huffington Post
<table align="right">
	<tr>
		<td width="200" align="right"><img src="~/images/articles/breastcancer1.jpg" alt=""></td>
	</tr>
</table>
</div>
<br><br />

If my mother taught me anything before she passed away of breast cancer when I was only 7 years old, it was to live life to the fullest. Her infectious laugh and dimpled smile, branded in my memory, inspired me to be adventurous, to travel and to earn a degree from an Ivy League university and law school. Memories of my mother even inspired me to run and complete the New York City Marathon. But as I looked to experience everything life had to offer, I always knew in the back of my mind that there was a real possibility that I could be diagnosed with breast cancer someday. Breast cancer has affected every woman on the maternal side of my family. Knowing my risk, I became proactive, wanting to do what I could to enhance my chances for a full, active, healthy and happy life. I was diagnosed with breast cancer earlier this year at age 30. It was my awareness and vigilance that saved my life.
<br /><br />
At a young age, I knew the only way to protect myself against the disease was to be knowledgeable and extraordinarily vigilant. While the scientific community continued its heated debate regarding the appropriate time to begin mammography screenings, I was faced with the challenge of being a young woman in her mid-twenties trying to secure an appointment for a mammogram. I was my own army, preparing for a possible fight against breast cancer. Even while I was armed with prescriptions from a breast specialist for mammograms and sonograms, like many women my age, I struggled to get an appointment for breast imaging. Even after I secured an appointment, it was nearly impossible to get my health insurance carrier to cover the mammogram. Every two years, I faced these same obstacles to get proper screening, and each time, I succeeded by being my own best advocate. It was a fight worth fighting, but I knew there had to be an easier way.
<br /><br />
Last year, I discovered Memorial Sloan Kettering's Special Surveillance Breast Program, which provides services for the prevention and early detection of breast cancer for at risk-women who have a family history of breast cancer in the first degree or a known genetic predisposition to the disease. I was relieved, having found allies that provided resources to young women like me who were trying to be vigilant and proactive about their health. After meeting with a physician, I was told that, in addition to a mammogram, I should have a baseline MRI for more detailed and conclusive breast imaging. With ease, Memorial Sloan Kettering scheduled the same appointments for which I had previously fought for, and representatives were able to work with my insurance carrier to assure coverage of the rather expensive testing. 
<br /><br />
On August 12, 2013, I went in to the Evelyn H. Lauder Breast Center for what I thought would be routine breast imaging. The following day, my doctor called to tell me that the MRI detected an abnormality. I was asked to return to the Breast Center that afternoon for a spot-mammogram, which pinpointed a cluster of cells about the size of a pencil eraser. The cluster was biopsied and the very next day.... I got the call. "We found some malignant cells." With five little words, my doctor confirmed what I had always feared, but what I had prepared myself to hear. At 30 years old (and exactly three months before my wedding), I was diagnosed with Ductal Carcinoma In Situ (DCIS), an early stage of breast cancer that has the potential to become invasive if not treated. I let the words seep in for a moment, I took a deep breath and I said "OK, what do we do to knock this out?"
<br /><br />
The "Big C" puts things in perspective. Stressing over a case at work, obsessing over wedding planning or getting frustrated in traffic all seemed to be of little concern. The week after my diagnosis, I changed from wedding planning mode to cancer warrior and conqueror. With today's technology giving me an edge, I wanted to take advantage of the opportunities that my mom didn't have nearly 25 years ago. It's my nature to research thoroughly and weigh all options carefully before making big decisions. Lumpectomy, unilateral mastectomy, bilateral mastectomy, tamoxifen, radiation. The words bounced around in my head as my physicians at Memorial Sloan Kettering explained different options and follow-up therapies.
<br /><br />
I chose to undergo a bilateral mastectomy to address the DCIS in my right breast and to drastically reduce the chances of breast cancer forming in my left breast. I did not enter into this decision lightly, but given my family history, my diagnosis at such a young age, and my chances of recurrence, I wanted to take the most aggressive course of action which would give me the best chance for a long and cancer free life. On August 30th, a mere 17 days after my initial screening, I underwent the bilateral mastectomy. Shortly after the surgery, my surgeon told me that the cancer had been detected before it had spread to my lymph nodes. I was now cancer-free! I felt relief. I felt joy. For the next six weeks, I underwent a reconstructive expansion procedure in order to prepare for a second surgery which has not yet occurred, where doctors will place an implant underneath the muscle where the removed breast tissue used to be. I now have a renewed sense of confidence, having taken control of the variables within my power regarding my health. I have altered the path my life will take.
<br /><br />
Since my bilateral mastectomy, I have refused to allow my breast cancer diagnosis, surgery and reconstruction to interfere with my quality of life. I returned to work two weeks after my surgery; I attended a friend's wedding; my family threw me a bridal shower, and I even went to New Orleans for my Bachelorette party. Most importantly, I was able to continue to prepare for my upcoming wedding in December to the love of my life. Life goes on after cancer, and so do I. 
<br /><br />
Throughout this whole experience, I learned that the best way to live life to the fullest is to do all you can to be healthy enough to enjoy it. Looking back over the past life-changing two months, it was my vigilance from an early age and my enrollment in the Special Surveillance Breast Program that saved my life. For young women, particularly those with a family history of the disease, it is extraordinarily important to be your own army, to stay aware of your risks and to protect yourself by screening and early detection. I tell my story with the hope that young women like myself will take control of their bodies by being proactive and vigilant so that they can live life to the fullest, an opportunity that others, like my mother, did not have. Breast cancer is a terrible disease, but it's one that young women can face head on and conquer.

<br /><br /><br />
<em>Samantha Golkin is a practicing attorney in New York City and holds a J.D. from Seton Hall Law School, a LL.M in Real Estate from New York Law School and a B.A. in Communications and Sociology from the University of Pennsylvania. A breast cancer survivor, Samantha is an advocate for early screening for young at-risk women and supports innovative research in the fight against breast cancer through the Breast Cancer Research Foundation. Samantha is a former intern at "Good Morning America," "Live! with Regis and Kelly" and Turner Entertainment.
<br /><br />
<b>Article Originally Published in the Huffington Post</b>
</em>

  <br><br><br>
</td></tr>
</table>