@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/bytheexit.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote>
<div class="header">           
    Journey Up the Toms River for Some Hidden Jersey Gems
</div><br><br />
<div class="writer">by Erik R. Slagle</div>
<br><br />      
    <table align="right">
        <tr>
            <td width="220" align="right"><img src="~/images/articles/bytheexit2.jpg" alt=""></td>
        </tr>
    </table><br>
    <p><strong><em>Check out a &ldquo;Horror House,&rdquo; relive the legend of Captain Kidd and more!</em></strong></p>
<p><span style="font-weight: 400;">This year, By the Exits has been taking a ride around the state, traveling county-by-county and finding spots you might not necessarily think about when planning a road trip. &nbsp;But this summer my family and I journeyed up one particular New Jersey river in a spot whose name you might already know. It was a &ldquo;tour boat,&rdquo; to be sure, but I was amazed that the sites we were passing had such rich histories beneath their surface appeal. &nbsp;We were so impressed that halfway through the trip, my wife said to me, &ldquo;THIS should be your next column!&rdquo;</span></p>
<p><span style="font-weight: 400;">So today, I&rsquo;m here to recommend a trip along _the_ Toms River in Ocean County.</span></p>
<p><strong>Exit 81, Toms River. &nbsp;</strong><span style="font-weight: 400;">A short trip up the Toms River will take you past some fascinating spots many people don&rsquo;t know about if they&rsquo;re not from the area. &nbsp;Here are just a few:</span></p>
<p><strong>The Amityville Horror House. &nbsp;</strong><span style="font-weight: 400;">The 1979 film, based on true events that took place in Amityville, Long Island, was filmed in large part at a home on the banks of the Toms River. &nbsp;Margot Kidder, James Brolin, and Rod Steiger all filmed here. Many of the movie&rsquo;s &ldquo;from-the-water&rdquo; shots were taken from a boat on the river &ndash; not Long Island&rsquo;s South Oyster Bay!</span></p>
<p><strong>Beachwood. &nbsp;</strong><span style="font-weight: 400;">Fun fact: the New York Tribune ran a promotion in the 1910s, allowing people to buy building lots in Beachwood &ndash; a suburb of Toms River proper &ndash; for $20 if they subscribed to the Tribune at the same time. &nbsp;It&rsquo;s since been built up into one of the most beautiful waterfront spots in all Central-Southern New Jersey.</span></p>
<p><strong>Coats Point. &nbsp;</strong><span style="font-weight: 400;">This spot holds significance as the site of a key turning point the Revolutionary War. &nbsp;Located roughly where the Toms River meets the Barnegat Bay, it was here that a brigade of British soldiers landed and stormed the town of Toms River, burning the homes and capturing an American naval commander named Joshua Huddy. &nbsp;Huddy would be hanged further north, in the Atlantic Highlands, and his execution helped galvanize the colonists in their fight against the Brits. This all happened in 1782, towards the war&rsquo;s end, and negotiations to exchange the life of a British officer for Huddy&rsquo;s helped bring about the end of the conflict.</span></p>
<p><strong>Island Heights. &nbsp;</strong><span style="font-weight: 400;">A Native American settlement here was believed to be the home of &ldquo;Indian Tom,&rdquo; alleged to be a native who spied for the British. &nbsp;Some believe that the river and city take their name from this local legend (although it&rsquo;s more likely to have been from a landowner named Tom Luker who operated a barge service across the river).</span></p>
<p><strong>Money Island. &nbsp;</strong><span style="font-weight: 400;">What you see from the water is about what you&rsquo;d expect for a place called Money Island, a bluff on the river&rsquo;s northern shore: stunning homes with unbeatable views of the water that look like they don&rsquo;t come cheap. &nbsp;(It&rsquo;s also not exactly an island.) Captain Kidd is rumored to have buried his treasure there at the end of the 17</span><span style="font-weight: 400;">th</span><span style="font-weight: 400;"> century. &nbsp;To date no one&rsquo;s been able to find out &ndash; which might have something to do with the fact that another set of rumors places his bounty on Money Island on the shore of Wilmington, North Carolina.</span></p>
<p><span style="font-weight: 400;">***</span></p>
<p><strong>If you go: &nbsp;</strong><span style="font-weight: 400;">This is by no means an endorsement, but the River Lady paddleboat tours that run from the town docks at Huddy Park are an excellent way to spend a day on the water. &nbsp;Outstanding food, drinks, staff and facilities. There are also private charters to be found there. However, you go, the Toms River is going to surprise you &ndash; no matter how well you think you might know the Garden State and its exits!</span></p>
    <br><br><br>
</blockquote>
</td></tr>
</table>