@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/cardiology.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote>
<br>
<div class="header">
<table align="left">
	<tr>
		<td width="220" align="left"><img src="~/images/writers/sgeorgeson.jpg" alt=""></td>
	</tr>
</table>
    Get Off the Couch. Walk the Dog. Live Longer.
</div><br><br />
<div class="writer">
    By STEVEN GEORGESON, MD<br /><br />
</div>
    <br /><br />    
    <p><span style="font-weight: 400;">&ldquo;Sitting is the new smoking&rdquo;. This is the new mantra in cardiology and global population health. Sitting, or a sedentary lifestyle, has long been known as a risk factor for the development of heart disease. Excessive sitting is also associated with a higher mortality rate. Is sitting as bad as smoking for your health? Why is sitting so detrimental? What strategies can combat a sedentary life?</span></p>
    <p><span style="font-weight: 400;">A sedentary lifestyle is a global health hazard.&nbsp; In a recent study looking at adults in 54 countries (representing 25 percent&nbsp;of the world&rsquo;s population), more than 61 percent&nbsp;of people sat for more than 3 hours per day. It was found that sitting for greater than&nbsp;three hours per day could account for 433,000 deaths per year globally.&nbsp; Why is sitting so bad? Sitting reduces glucose uptake and leads to diabetes. When sitting, triglycerides are not used or broken down. This increases the level of triglycerides in the blood, which subsequently lowers the good cholesterol (HDL). The combination of high triglycerides, low HDL and diabetes all lead to heart disease.&nbsp; Sitting also results in obesity and fat deposition in the heart.&nbsp; In addition, recent research showed that patients who sat for more than 10 hours per day had above average levels of troponin in their blood. Troponin is an enzyme that is released when the heart muscle is injured. High levels of troponin are released during a heart attack.&nbsp; It was found that sedentary individuals have chronically high levels of troponin (although at much lower levels than heart attack patients). Chronically high troponins indicate that the heart muscle has ongoing damage occurring.</span></p>
    <p><span style="font-weight: 400;">To combat this ongoing damage, a change from a sedentary lifestyle to even a mildly active lifestyle can yield great benefits. Any physical activity is better than no physical activity. For instance, replacing sitting with standing for 2 hours per day is associated with a 10 percent&nbsp;lower chance of death. There appears to be a benefit even if the recommended amount of exercise (150 minutes of moderate exercise per week or 75 minutes of vigorous exercise per week) is not met. In those who only exercised to about two thirds of the weekly recommended volume, there was a lower mortality rate than those who were sedentary.&nbsp; Increasing the amount of exercise results in further reductions in cardiac disease and mortality.</span></p>
    <p><span style="font-weight: 400;">Walking is a great way to get the recommended exercise. It doesn&rsquo;t require any training or equipment; it&rsquo;s cheap and easy to do. Since walking alone can be boring, many people join a walking group or walk with a friend. However, what if the friend is ill and can&rsquo;t walk? What if they are away or have other engagements?&nbsp; Wouldn&rsquo;t it be great to have a walking partner available always? A partner that has walking in its DNA? A partner that would never refuse to go out for a walk, no matter the weather? Look no further than the family dog. It has been shown that dog owners who walk their dogs are more likely to achieve recommended exercise goals, have lower cholesterol levels, lower blood pressure and less obesity. In addition, dogs offer social support by providing companionship and acting as a vehicle for increased interaction with other people while out walking.&nbsp; Can owning a dog prolong life?&nbsp; In a recent study of 3.4 million Swedes, researchers compared hospital records with dog ownership registers. They showed that owning a dog reduced the risk of death by 33 percent&nbsp;and reduced the risk of a heart attack by 10%. &nbsp;Perhaps this effect may be because more active people choose to own dogs or perhaps dogs alter the balance of the household and force people to be active at least a couple of times per day.</span></p>
    <p><span style="font-weight: 400;">The most troubling aspect of the research on sedentary lifestyles is that sitting for prolonged periods (more than seven&nbsp;hours per day) can still increase the risk for death even if the recommended amount of exercise is met. This means that going to the gym after work won&rsquo;t offset the potential damage done by sitting for hours in an office all day. Therefore, it is important to consider physical activity across the entire spectrum, by incorporating a weekly exercise regimen and to use light intensity physical activity to replace sitting during the daily routine.</span></p>
    <p><span style="font-weight: 400;">So, to live a longer and healthier life, first get off the couch. Next, in addition to starting a weekly exercise program, start altering your daily habits to incorporate more exercise and less sitting. Take the stairs at work. Park at the end of the parking lot and walk further to the office. Instead of sitting at your desk, try a standup desk, or a desk that has a treadmill underneath it. With more activity and less sitting, you might find yourself more productive. Hold meetings in rooms without chairs. By standing and talking meetings may be quicker and more productive. Buy a smart watch that gives you an alert when you have been sitting too long. And, of course, take your furry friend out for a nice long walk when she scratches at the door.</span></p>
    <br /><br /><br />
    <i>
    Bridgewater resident Steve Georgeson is a cardiologist who works for Medicor Cardiology. Here, he writes about topics and events pertaining to cardiology.
    </i>
    <br /><br /><br />
</blockquote>
  <br><br>
</td></tr>
</table>