@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/collegebound.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
        <blockquote>
            <br>
            <div class="header">
                Ready, Aim, Score: A 4-Week Plan to October SAT Success
             </div><br>
            <div class="writer"><br />
                by Erik R. Slagle<br>
            </div>
            <br /><br /><br />            
            <p><span style="font-weight: 400;">With almost 20 years of experience in the test prep and college admissions business, I&rsquo;ve come to know this time of the year well. &nbsp;It&rsquo;s back-to-school, and with summer behind them, high school seniors are staring down the October SAT wondering if they&rsquo;ve done all they can to maximize their chances of getting into their top-choice schools. &nbsp;</span></p>
<p><span style="font-weight: 400;">There&rsquo;s enough stress happening in September &ndash; don&rsquo;t let test prep add to it! &nbsp;Here&rsquo;s an easy-to-follow four-week plan any student can use to boost his or her scores in time for the first test date of the Fall without hitting the panic button!</span></p>
<p><strong>Week One: &nbsp;Build your plan. &nbsp;</strong><span style="font-weight: 400;">Take a practice test from the College Board study guide. &nbsp;Pay attention to your overall scores but look more closely at the types of questions you&rsquo;re missing. &nbsp;This will show you where your biggest opportunities for points are. Get specific &ndash; don&rsquo;t just look at your Reading score as your weakest section, for example. &nbsp;What questions did you miss most often? Big Picture, or Detail? Do the paired questions give you more trouble than the rest? Passage types &ndash; Literature, Humanities, Historical Perspectives, or STEM: what stumped you? &nbsp;You&rsquo;ll study more effectively this month by concentrating on where you can earn the most points. </span></p>
<p><span style="font-weight: 400;">Once you&rsquo;ve done that, choose your two biggest opportunities for points: one overall section &ndash; Math, Reading, or Writing &amp; Language &ndash; and from another section, one &ldquo;finer points&rdquo; question type you seemed to have the most trouble with. &nbsp;Algebra, for example, or Semi-Colon Use.</span></p>
<p><strong>Week Two: &lsquo;Big Picture&rsquo; Section. &nbsp;</strong><span style="font-weight: 400;">If you&rsquo;ve identified Math as your primary opportunity, learn to apply the strategies of Picking Numbers and Elimination to those questions you can&rsquo;t immediately solve. &nbsp;See how the ordering of the questions &ndash; from easiest to hardest &ndash; can work in your favor. Use that information to build your own timing strategy within the two Math sections: the Grid-In questions at the end of each section &ldquo;reset&rdquo; in terms of difficulty, so find where it makes sense for you to stop in the multiple choice portion, turn ahead to the Grid-Ins to earn easier points, and then turn back to the hardest M.C.&rsquo;s with the time you have left.</span></p>
<p><span style="font-weight: 400;">If you&rsquo;ve selected Writing &amp; Language, start by reviewing the most commonly tested types of grammar errors: comma use, verb tense, subject-verb (number) agreement, and pronouns. &nbsp;Then move on to colons and semi-colons, parallelism, word choice and idioms &ndash; the less frequently, but still important, types of errors you&rsquo;ll see on the test. Practice tests will show how often &ldquo;No Change&rdquo; should be the right answer (about 20% of the time) and why &ldquo;Delete&rdquo; is the answer choice you should look at first when it&rsquo;s offered. &nbsp;The long-form &ldquo;editorial&rdquo; types of questions about inserting or removing sentences, rearranging paragraphs, etc., are harder to master in a short amount of time &ndash; if you&rsquo;re looking for a quick boost, focus on shorter questions where you&rsquo;re only correcting errors.</span></p>
<p><strong>Week Three: &nbsp;Finer Points. &nbsp;</strong><span style="font-weight: 400;">Unless your score is low enough in one area that you need to concentrate only there, identify one or two &ldquo;finer points&rdquo; from the remaining sections. &nbsp;For example, Geometry in Math; Evidence questions in Reading. Any of the particular areas of opportunity from your original analysis will work; look for areas where you can earn at least 3-4 more right answers. &nbsp;Practice problems from these specific question types as you continue working on the &ldquo;Big Picture&rdquo; from Week Two.</span></p>
<p><strong>Week Four: &nbsp;Final Review. &nbsp;</strong><span style="font-weight: 400;">The weekend of September 29th take another test and review the areas where you concentrated for the last three weeks. &nbsp;Identify what worked and what didn&rsquo;t, and do some additional light review to fine-tune what you&rsquo;ve already learned. This isn&rsquo;t the time to immerse yourself in heavy preparation; the key for this week is to relax and take a realistic look at how your October performance might be. &nbsp;And feel confident that in just a few weeks, you&rsquo;ve taken serious steps to improve your scores without stressing out!</span></p><br><br>
    </blockquote>
    
</td></tr>
</table>