@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/divaforaday.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
        <blockquote>
            <br><br />
            <div class="header">   
                Diva For A Day Foundation <br /><br />
                Growing Nationwide
            </div><br />
            <div class="writer">
            </div>
            <br>            
            <br>
            The Diva for a Day Foundation is proud to

            announce 11 new partner salons bringing the total

            number of participating salons/spas nationwide to

            73. As a participating salon, they will offer our

            Divas a full day of spa services including a facial,

            manicure, pedicure, massage, shampoo, blow out

            and make up application.

            <br /><br />
            The kindness that is felt by every Diva who

            is honored with a Diva Day touches their heart

            and their soul. To date, we have honored 663 Divas in 28 States.
            <br /><br />

            Save the Dates!
            <br /><br />
            Sunday, July 31, 2016, 4 pm. Diva for a Day Night at MCU Park, Coney

            Island, NY. Brooklyn Cyclones vs Ironbirds. One of our lucky Divas will throw

            out the first pitch!

            <br /><br />

            Sunday, September 25, 2016 Sky Blue Women's Professional Soccer League.

            Sky Blue FC vs Portland orns FC. Kickoff 7pm. Rutgers Yurcak Field, Piscat-
            away, NJ. Local fan favorite Tobin Heath will be playing for Portland. Diva for a

            Day is honored to be their charity partner!
            <br /><br />

            Saturday, October 1, 2016 Diva for a Day 3rd Annual Cornhole for Cancer

            Charity Event. Basking Ridge Country Club, under the tent. The LARGEST

            cornhole competition in the State of NJ with as many as 64 players, 32 teams!

            <br /><br />
            Anyone interested in donating items for the auction, please contact us at

            <a href="mailto:adivaday@gmail.com">adivaday@gmail.com</a>.

    <br /><br /><br />
            <i>
                Debbie Sestokas & Peggy Matzen, Founders
                <br />
                43B South Finley Ave. Basking Ridge, NJ 07920
                <br />
                <a href="http://www.divaforaday.org" target="_blank">www.divaforaday.org</a> • <a href="mailto:adivaday@gmail.com">adivaday@gmail.com</a>
            </i>
</blockquote>
</td></tr>
</table>