@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/doctorisin.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote>
<br>
<div class="header">
<table align="left">
	<tr>
		<td width="190" align="left"><img src="~/images/writers/klee.jpg" alt=""></td>
	</tr>
</table>
  All About Ulcers
</div><br>
<div class="writer">
By Dr. Kristen Lee<br /><br />
</div>
    
    <p>Peptic ulcer disease most commonly occurs in the stomach and the duodenum, which is the first portion of the small intestine. An ulcer is a defect in the mucosa lining of the stomach or duodenum into the deeper layers of the wall.</p>
    <p>The most common symptom is upper abdominal pain, reported in up to 80% of patients with ulcer disease. Food can either aggravate or relieve the pain. Other symptoms include indigestion, early fullness, bloating, heartburn and nausea or vomiting. </p>
    <p>Many patients with peptic ulcers may not have any symptoms. These patients present later due to ulcer related complications, such as bleeding, which can cause slow blood loss leading to anemia or severe acute blood loss leading to black, bloody stools or vomiting blood. Other complications include obstruction or perforation of the wall of the stomach or duodenum, which may require emergent surgery.</p>
    <table align="right">
        <tr>
            <td width="190" align="right"><img src="~/images/articles/klee1.jpg" alt="" height=""></td>
        </tr>
    </table>
    <p>Ulcers form when the protective mucus containing layer of the stomach or duodenum becomes disrupted. Ulcers are treated by reducing stomach acid to promote healing.&nbsp;</p>
    <p>Medications that block acid formation in the stomach are proton pump inhibitors (PPIs), such as omeprazole, lansoprazole, and pantoprazole. Histamine (H2) H2 blockers, such as ranitidine or famotidine, also reduce acid production. Studies have shown PPIs are likely more effective in healing ulcers than H2 blockers. These medications are used for eight to twelve weeks. Antacids provide rapid symptom relief by neutralizing acid in the stomach, but in general, they are not used for ulcer healing.</p>
    <p>In addition to reducing gastric acid, treatment for peptic ulcers include addressing the risk factors for ulcer development. The two main causes for ulcers include helicobacter pylori (H. pylori) infection of the stomach and use of non-steroidal inflammatory medications (NSAIDs), such as ibuprofen, aspirin, and naproxen. </p>
    <ol>
        <li>pylori is a bacteria that is thought to be transmitted through fecal-oral routes among people who are in close contact. Initial infection does not cause any symptoms, but over time, H. pylori lives on the mucosal layer of the stomach causing inflammation that leads to ulcers. </li>
    </ol>
    <p>If H. pylori is detected, it is treated with a combination of antibiotics along with PPIs. If ulcers are found related to NSAID use, the medication should be avoided. If chronic NSAID use is required, your physician may recommend continuing an acid reducer to protect the stomach and prevent recurrent ulcer disease. </p>
    <p>Psychological stress has not been proven to be a cause of peptic ulcer disease, although many patients feel gastrointestinal symptoms during times of stress. Spicy foods can worsen symptoms but do not cause ulcers.&nbsp;</p>
    <p>Ulcers are diagnosed through direct visualization during an upper endoscopy. Imaging, such as barium x-rays or CT scan, can sometimes detect large defects if present, but an upper endoscopy is usually required to confirm imaging findings. H. pylori is detected through biopsies during an upper endoscopy, a breath test, or a stool sample. If stomach ulcers are found, a repeat upper endoscopy may be necessary to document ulcer healing.</p>
    <p>Ulcers are commonly seen among older individuals, but it can occur at any age. Not all burning upper abdominal pain is due to an ulcer. Proper diagnosis and management with your physician is important. </p>
    
        <br /><br /><br />
    <i>
        Dr. Lee is a physician with Digestive HealthCare Center with offices in Hillsborough, Somerville and Warren.  She is a gastroenterologist providing endoscopic obesity treatment. Please visit the website at <a href="http://dhccenter.com" target="_blank">dhccenter.com</a>.
</i>
<br></br><br />
</blockquote>
  <br><br>
</td></tr>
</table>