@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/doctorisin.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
        <blockquote>
            <br>
            <div class="header">
                <table align="left">
                    <tr>
                        <td width="190" align="left"><img src="~/images/articles/cbarghash.jpg" alt=""  height="229"></td>
                    </tr>
                </table>
                Colon Cancer Screening
            </div><br>
            <div class="writer">
                By Dr. Claudia Barghash<br /><br />
            </div>
            <i>
                Dr. Claudia Barghash is a gastroenterologist at Digestive Healthcare Center in Hillsborough and Somerville. She completed her internal medicine residency at Staten Island University Hospital, and gastroenterology fellowship at SUNY Downstate Medical Center, NY. She has a special interest in digestive diseases in women, and pelvic floor disorders. She lives in Somerset County with her husband and three children.
            </i>
            <br><br /><br /><br />
            <p>Colorectal cancer is the second leading cause of cancer death in the US. More than 50,000 people in the US die annually of colorectal cancer. Over 140,000 are expected to be diagnosed with colorectal cancer in 2018.</p>
            <p>Screening colonoscopy is generally recommended for all patients age 50 to 75, and individualized plans made for patient&rsquo;s age 76 to 85 depending on their overall health and prior screening history.</p>
            <p>People who have a family history of colon rectal cancer or polyps and a 1st&deg; relative, are at increased risk and might need to start colorectal cancer screening before age 50.</p>
            <p>The American Cancer Society has released updated guidelines in 2018, recommending that average risk adults age 45 and older start colorectal cancer screening.</p>
            <p>African Americans have the highest death rates from colorectal cancer, and the age recommendation to start screening is already at 45 years of age.</p>
            <p>When colorectal cancer was found early, the five-year survival is 90%.</p>
            <p>Colonoscopy is the gold standard of colorectal cancer screening, because it can both detect and remove pre-cancerous polyps. It is the only suitable test for people have risk factors such as family history of colorectal cancer.</p>
            <p>In 2017, the US multi society task force on colorectal cancer recommended that physicians offer a colonoscopy first, with annual fecal immunohistochemical testing offered to patients who decline colonoscopy, followed by second-tier tests for patients who decline fecal immunohistochemical testing.</p>
            <p>Second-tier options include CT Colonography, Cologuard (fecal test), and flexible sigmoidoscopy every five years.</p>
            <p>Medicare patients may face co-insurance charges if colonoscopy is done after an abnormal second-tier test. For example, if the fecal immunohistochemical test is positive, then subsequent colonoscopy may result in a large patient deductible or coinsurance bill because the second test would be considered diagnostic instead of preventative.</p>
            <p>Stool beast screening tests are more effective at detecting colorectal cancer than those tests used to be, but they are not as effective as colonoscopy at accurately detecting pre-cancerous polyps.</p>
            <p>The fecal immune test for microscopic blood in the stools misses most advanced precancerous lesions. It detects about 24% of advanced pre-cancerous lesions and misses the majority of the dangerous &ldquo;flat&rdquo; lesions.</p>
            <p>Cologuard quantifies hemoglobin and tests for markers of altered DNA in the stools. The cost is approximately $600. It detects 69% of advanced polyps, and 42% of serrated polyps. 20 to 30% of colorectal cancer are believed to arise from a serrated polyp.</p>
            <p>Fecal immunohistochemical testing and Colo guard or both recommended for average risk patients who do not have a family history of colon cancer or polyps. They are not approved for patient at high risk such as personal history of polyps, family history of colon cancer, and inflammatory bowel disease.</p>
            <p>In summary, Colonoscopy remains the gold standard for colon polyp and precancerous lesions detection and lasts 10 years, no other tests need to be used within 10 years of a negative high-quality colonoscopy.</p>
        </blockquote>
<br></br><br />
  <br><br>
</td></tr>
</table>
