@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/doctorisin.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
        <blockquote>
            <br>
            <div class="header">
                <table align="left">
                    <tr>
                        <td width="220" align="left"><img src="~/images/writers/cvergilio.jpg" alt=""></td>
                    </tr>
                </table>
                The Liver
            </div><br>
            <div class="writer">
                By: Dr. Vergilio
            </div>
            <br /><br />
            Liver blood tests "LFTs" are done on many patients for a variety of reasons. They are often part of testing done when cholesterol lowering medicines are taken, are drawn when other disease processes are suspected, and often as a part of routine blood tests done as a part of work physicals or as part of an annual physical examination done through the primary care physician.
            <br /><br />
            Abnormalities found during such exams are commonly found, and sorting these out can be either relatively simple or occasionally complex.
            <br /><br />
            The liver forms one of the major metabolic "filters" of the body, and toxins such as alcohol, drugs, and environmental exposure substances can affect the enzymes that are measured when these blood tests are done. Elevated levels of these enzymes are often a sign of disease in the liver or elsewhere. However, any or all of these blood tests can be abnormally elevated in someone with a liver that is functioning perfectly. While these tests are collectively referred to as liver function tests, or "LFTs," many of the tests have little to do with liver function per se. The range of abnormalities that can cause abnormal liver function tests is huge. Your health care professional can use the pattern of elevation of these tests to help determine the underlying problem causing the abnormalities in liver function. Often this can lead to early diagnosis of a malady that is more effectively treated when found early. Untreated processes in the liver can sometimes lead to cirrhosis, a condition of the liver that is usually irreversible and can ultimately result in liver failure.
            <br /><br />
            Measure of the transaminases - often referred to as AST and ALT (old nomenclature: SGOT and SGPT, respectively) can be found as a result of damage to liver cells. AST is found in other organs in the body, including the heart and skeletal muscle, but ALT is pretty specifically found in the liver. These levels may be elevated in a wide variety of conditions from hepatitis to too much fat in the liver (often from being overweight, or related to diabetes), to exposure to toxins or certain drugs, to tumors, or to gallbladder or bile-duct related disease. Elevation of these levels can be seen in chronic liver diseases such as hemochromatosis. Alcohol-related liver diseases may also lead to an elevation in these enzyme levels. Mild elevations in these enzyme levels are leading many health care providers to check for infection with hepatitis C, and this disease is being treated much more often in patient who have minimal or no symptoms. Recently medicines that are very safe and effective have been introduced that have changed the way we treat hepatitis C. Routine Hepatitis C testing has also been recently advocated at routine testing in the "baby boomer" population born 1946 to 1964.
            <br /><br />
            Other liver tests such as alkaline phosphatase or GGTP can indicate obstruction of the bile ducts of the liver. Alkaline phosphatase can also be found in other organs of the body, including bone and placenta, but GGTP is pretty specific for liver disease. These levels can also be elevated in a variety of conditions, including chronic diseases of the bile ducts such as primary biliary cirrhosis and sclerosing cholangitis, in acute conditions such as choledocholithiasis (gallstones in the bile ducts) and in other forms of liver diseases. GGTP can also be elevated in the person who uses alcohol regularly.
            <br /><br />
            Albumin is a protein which is made by the liver and circulates in the blood. Its level is often checked to determine how well the liver is working to make proteins, one of its major jobs. Low serum (blood) albumin levels can be a sign of either poor nutrition or of chronic liver disease. The liver also makes proteins that aid in the clotting of blood, and levels of this protein are often measured indirectly by checking the clotting of the blood in a test called the prothrombin time, or PT. It is often expressed as a ratio of the patient's clotting time to a standard control, and this is known as the INR. The INR can be elevated for a myriad of conditions in addition to liver disease; one of the most common conditions is when patients take the blood thinner warfarin (Coumadin (R)).
            <br /><br />
            The combinations of these elevations can be helpful in trying to sort out the cause of liver test elevations. However, since the range of possible causes is so wide, oftentimes more testing needs to be done. CT scanning is often helpful to exclude solid tumors or lesions of the liver as a possible cause. Ultrasound of the liver is particularly helpful to exclude problems in the gallbladder and bile ducts. Liver biopsy is often necessary to help sort out the various causes of liver disease. It is sometimes the best test to sort out the reason for persistent elevations in liver tests.
            <br /><br />
            The most important aspect in the evaluation of abnormal liver tests is a thorough initial evaluation and the necessary follow-up to assure that these issues are completely assessed
            <br /><br /><br />
            <i>
            Dr. Vergilio is board certified in gastroenterology. He practices at Digestive Healthcare Center (NJ). Dr. Vergilio earned his medical degree from the University of Medicine and Dentistry of New Jersey. He specialized in all aspects of gastroenterology and liver diseases.
            </i>
        </blockquote>
<br><br> 
  <br><br>
</td></tr>
</table>