@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/simplyentertaining.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote>
<br>    
        <div class="writer">
            <table align="left">
                <tr>
                    <td width="150" align="left"><img src="~/images/writers/jsorentino.jpg" alt=""></td>
                </tr>
            </table><br />
            <div class="header">
                Simply Entertaining: 3 Cook-Off Ideas
            </div>
            <br /><br />
            by Jessica Sorentino
        </div>
        <br><br></br>
        <br /><br /><br /><br />
    
    <table align="right">
        <tr>
            <td width="250" align="right">
                <img src="~/images/articles/simplyentertaining2.jpg" />
            </td>
        </tr>
    </table>     
    <p>Well, it&rsquo;s that time of year again! Pools are open, yards are being used and barbeque grills are the preferred method of cooking. A really fun way to socialize in the summer is to capitalize on the grill situation. You can hold a cook-off!</p>
    <p>I&rsquo;m going to share three types of cook-offs with you today, and then go into some sides options that either you as the host can prepare, or have others bring.</p>
    <p><strong>Chili Cook-Off</strong></p>
    <p>The first cook-off party idea is a chili cook-off. Have you ever been to one? They&rsquo;re actually really fun! I&rsquo;ll advise you &ndash; Host &ndash; to supply lots and lots of bread. One thing chili gets judged on is level of spiciness, and you don&rsquo;t want your guests to start getting stomachaches from all the heat.</p>
    <p>That being said, there are a million and one chili recipes out there, which is why this is really fun. You never know the type of chili someone will make! Of course, everyone has to supply their own chili and slow cooker &ndash; or whatever they used &ndash; for the day-of. You can lay out bowls, spoons and garnish: shredded cheese, chives, I don&rsquo;t know! Have fun with it!</p>
    <p><strong>Burger Fest</strong></p>
    <p>Is there anything better than a burger straight off the grill in the summer? When I was thinking about how to turn burgers into a contest, I came up with two ways. The first would be give all competitors a raw patty and let them season/marinate as they please. I think the more fun contest though, would be who tops the burger best. Lay out all types of toppings and condiments, the regular and some more creative ones, and see what type of concoctions people come up with.</p>
    <p>Note: you can get kids involved by also including hot dogs here!</p>
    <p><strong>Hot Wings Cook-Off</strong></p>
    <p>Like the chili version, prepare your guests for the spices and the heat. Maybe buy extra milk. It&rsquo;s fun to see the types of hot sauce and varying temperatures of them all that people use. Maybe ask everyone to make a dozen wings or so, that way all guests can have a taste. You&rsquo;ll definitely want to put out carrot sticks and celery sticks.</p>
    <p>Okay, and now onto the sides. While the three meals we mentioned above are delicious and satisfying. There&rsquo;s only so much of them a person can eat. Enter: sides. I like the idea of preparing the sides yourself, unless you bring these into the competition too! You don&rsquo;t need a lot, and that way you know exactly what&rsquo;s on your table. Here are some of my favorites:</p>
    <p><strong>Chips and Homemade Guacamole</strong></p>
    <p>Granted, if you don&rsquo;t want to make your own guacamole, grocery stores tend to do a decent job! I really like Whole Foods&rsquo; medium spice one. Paired with lime tortilla chips, you have a crowd pleaser on your hands.</p>
    <p>&nbsp;</p>
    <p><strong>Cole Slaw and Potato Salad</strong></p>
    <p>Cole slaw and potato salad are two that can go either way: you can buy these premade or make them yourself. Similarly, you can add these to the competition because there are so many variations to each recipe.</p>
    <p>And last but not least&hellip;what&rsquo;s a barbeque without a dessert?!</p>
    <p>Competition or not, a tray of cookies or an awesome fruit pie are great ways to end this indulgent meal. And once again, if you do a pie&hellip;maybe skip all the food cook-offs and have a bake-off instead!</p>
    <p>Be sure to remind your guest to come with an open mind, and empty stomach. Also, don&rsquo;t forget to buy prizes! You can pick up fun little ribbons at Dollar Stores, or if you want to get fancier with prizes&hellip;that&rsquo;s on you. Happy eating!</p>
    <br><br /><br />
    <i>
        Jessica Sorentino is from Yonkers, New York. She lives and works in New York City, as the prepress coordinator at the international publishing house, Simon & Schuster. In her free time, Jessica plans and hosts many social events for friends and family and likes to make each one creative and unique. She is also an avid reader, city traveler and professional dancer with DanceWorks NYC. Jessica holds a bachelor's degree in mass communications with minors in journalism and dance education from the University of Delaware, and a master's degree in dance therapy/education from Lesley University. Stay up-to-date with Jessica by following her on social media and by subscribing to her city lifestyle blog, <a href="https://www.simplybedazzled.com" target="_blank">
    www.simplybedazzled.com</a>.    
</i>
    <br><br><br>
    </blockquote>
</td></tr>
</table>