@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/familymatters.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote>
<br><br />
<div class="header">    
<table align="left"><tr><td width="200" align="left"><img src="~/images/writers/mzito.jpg">
</td></tr></table>
    Assertive Parenting Is The Best Approach
</div>
<br><br />    
<div class="writer">By Michael D. Zito, Ph.D.</div>
    <br><br><br> 
    <p>It is important to be aware of your parenting style and understand the likely effect on your child and the family. The three main styles are permissive, aggressive and assertive. While most families utilize a blended approach, a predominant parenting style is typically most apparent.</p>
<p>A permissive style is often used by the parent(s) who may fear upsetting their child, are hyper focused on the child&rsquo;s needs, have a false belief that the child&rsquo;s self-esteem will be hurt if the parent persists, and fear being disliked by the child. As a result, parent(s) then might not follow through on their requests, have inconsistent expectations and may plead with the child to cooperate. The typical outcome is that children generally don&rsquo;t respect the parent(s), are not held accountable, perceive significant power in the family decision-making and are unlikely to show self-discipline to complete obligations and responsibilities independently.</p>
<p>With an aggressive parenting style, one or both parents are easily angered by normal childhood behavior e.g. resistance. The parent(s) with this style engages in power struggles, (&ldquo;I&rsquo;ll show you who&rsquo;s boss&rdquo;), uses fear and intimidation, rigidly enforces rules and hands out harsh punishments in the heat of the moment, which are often retracted later. The typical outcome of this style of parenting is a high degree of family tension and conflict, passive aggressive behavior by the child to get back at parent(s), and possibly extreme submissiveness or rebelliousness. This type of style can often lead to chaotic family functioning and inconsistent self-discipline on the part of the child. Often, if one parent is aggressive and the other is permissive it can further exacerbate family functioning.</p>
<p>The assertive parenting style is the most effective to promote healthy behavior management and life skills. In the case of 2 parent households, it is most effective when both parents utilize this approach and when parents jointly agree on behavioral expectations. Assertive parenting considers a balance of the child&rsquo;s needs as well as of the parent and family. Assertive parenting includes making clear and direct requests that a parent persists in achieving, even if a child resists. This persistence is done by listening to and validating a child&rsquo;s perspective, briefly describing the reasons for the request but making it clear, respectfully, that the parent is &ldquo;in charge&rdquo; and expects requests to be completed. These clear and persistent expectations often facilitate self-discipline because negotiating out of responsibility is not an option. Assertive parenting generally helps facilitate a positive parent-child relationship, greater mutual problem-solving and self-esteem in the child because they realize they can meet the demands placed upon them. Life skills of dealing with frustration, accepting what can and can&rsquo;t change, complying with rules and expectations, and dealing with uncomfortable situations are usually promoted as well. Assertive parenting could best address situations where the child is showing resistance to accepting things in their best interest such as academic tutoring, limits on videogaming, exercise, socialization activities, participation in family activities, need for medical or psychological care and/or monitoring of activities for safety reasons such as the parent calling to verify adult supervision at a teen social gathering.</p>
<p><strong>Some key tips to use an assertive parenting style:</strong></p>
<ul>
<li>Carefully consider the needs of your child (i.e., tutoring) and assert your parental authority accordingly.</li>
<li>When asserting your parental authority, do so in a calm, respectful and confident manner which will give credibility to your request.</li>
<li>Don&rsquo;t put a request in the form of a question i.e., &lsquo;You have to clean your room ok?&rsquo; Rather, Say, &lsquo;After you clean your room your friend can come over.&rdquo;</li>
<li>Recognize you can disappoint your children since it is part of being an effective parent.</li>
<li>Realize children need limits and parental guidance to develop into healthy adults.</li>
<li>Follow through on requests and outcomes.</li>
</ul>
    <br /><br /><br />
    <i>Michael D. Zito, Ph.D. is a licensed psychologist (#3599) with offices in Warren and Morristown. He practices clinical and sport psychology with children through adults and can be reached at <a href="mailto:MichaelZitoPhD@yahoo.com">MichaelZitoPhD@yahoo.com</a>  Dr. Zito welcomes your questions and ideas for future articles.</i>
  <br><br>
</blockquote>
</td></tr>
</table>