@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
        <blockquote>
            <br>
            <div class="header">   <br />           
                FAMILY FUN FALL CALENDAR
            </div>
            <br><br />
            <p><strong>Apple Pancake Breakfast</strong><br />September 2, 2018 &mdash; September 9, 10 am-5 pm<br />Alstede Farms<br />Start with a Scenic Hay Wagon ride to Harvest Hall. Then enjoy a hearty farm All You Can Eat Breakfast which includes Pancakes, our Special Apple Topping and whipped cream and lots more. You will also gain entrance to our Pick Your Own fields to pick your own apples.&nbsp;Tickets may be purchased online.<br />1 Alstede Farms Ln., Chester, NJ 07930</p>
            <p><strong>Hoboken Italian Festival</strong><br />September 6 - September 9, Thursday &amp; Friday, 6 pm - 11 pm, Saturday &amp; Sunday 12 pm - 11 pm<br />The 92nd Annual Hoboken Italian Festival emulates the "Feast of the Madonna Dei Martiri" which began in 1399 in Molfetta, Italy. The Festival has become an annual Hoboken waterfront extravaganza with international foods, music, fantastic fireworks display, large crowds, picturesque landscapes and a unique "blessing of the feet." The event also features amusement rides. Vendors line the street with a variety of foods and a beer &amp; wine garden. <br />Frank Sinatra Dr., Hoboken, NJ 07030</p>
            <p><strong>Fanny Wood Day Street Fair</strong><br />Sunday, September 16, 10 am &ndash; 5 pm. Rain or Shine.<br />Non-stop music and entertainment along with family fun attractions. Over 100 exhibitors, kiddie rides &amp; climbing wall, face painters, amusements, temporary tattoos, &amp; more. The car show will be back better than ever! Returning this year is the "pet parade contest! Fabulous festival foods, everything from shish kabobs, kettle corn, pulled pork, sausage sandwiches to ice cream, zeppoles, funnel cakes, and Italian ices. Come eat, shop &amp; play!<br />South &amp; Martine Ave., Fanwood, NJ 07023</p>
            <p><strong>Chemistry Family Day</strong><br />Saturday, September 22, 11 am &ndash; 4 pm <br />Get a jump start on National Chemistry Week with a day of fun and learning at the Morris Museum. Enjoy exciting experiments in BASF's Kids' Lab, and explore science throughout the museum on this Family Fun Day! Members: FREE; Non-Members: FREE with Museum Admission.<br />Morris Museum, 6 Normandy Heights Rd, Morristown, NJ 07960</p>
            <p><strong>United Airlines Plane Pull</strong> <br />Saturday, September 29, 8 am &ndash; 2 pm <br />Come Support Special Olympics New Jersey and watch as teams of 20 attempt to be the quickest at pulling a 93,000 lb. plane twelve feet. The event is family friendly and free to those who would like to watch. There is a small fee to those who would wish to participate in the challenge itself; otherwise it is free.<br />Newark Liberty Airport</p>
            <p><strong>The Lord Stirling 1770s Festival</strong><br />Sunday, October 7, 11:30 am - 4:30 pm<br />Get a glimpse of daily colonial life and crafting and be entranced by a trip though time. Colonial regiments will march, crafts will be available for sale and there will be authentic artifacts on display at the site's archeological project. Kids can also enjoy hay rides, stenciling, tin crafts, colonial games and food, all while learning about Lord Stirling, a local Revolutionary War hero. Suggested donation of $5 per person.<br />96 Lord Stirling Road, Basking Ridge, NJ</p>
            <p><strong>Somerville Street Fair &amp; Craft Show</strong><br />Sunday, October 7, 11 am5 pm<br />This event features more than 200 artists, crafters and vendors set up along on the streets of downtown Somerville offering a variety of arts, crafts, gifts, home decor, holiday items and much more.<br />Downtown Somerville, NJ 08876</p>
            <p><strong>Annual Harvest Celebration</strong><br />Saturday and Sunday, October 13 to October 14, 11 am &ndash; 5 pm<br />Free 2 day event in Historic Downtown Chester. &nbsp;Features Chester Food Fest plus antique apple press and blacksmith demonstrations, clowns, antique car show, pumpkin painting and carving, face painting, and live music.<br />Chester, NJ</p>
            <p><strong>Fall Festival</strong><br />Sunday, October 14, 12:00 pm - 4:00 pm<br />Free scavenger hunt, animals, pumpkin painting, games and crafts. Admission: $5, ages 17 and younger free <br />Rutgers Gardens, 112 Ryders Lane, New Brunswick, NJ 08901</p>
            <p><strong>New Providence Street Fair</strong><br />Sunday, October 28, 10 am - 5 pm. Rain or Shine.<br />Non-stop music and entertainment along with family fun attractions. Over 150 exhibitors, kiddie rides &amp; climbing wall, kid&rsquo;s games, face painters, amusements, temporary tattoos, &amp; more. A special section with craft exhibitors &amp; artists. Fabulous festival foods and free kids art tent.<br />1260 Springfield Ave., New Providence, NJ 07974</p>
            <p><strong>Short Hills/Millburn Street Fair &amp; Craft Show</strong><br />Sunday, November 4, 11 am5 pm<br />Fine arts and crafts, antique/collectibles, and food booths.<br />Downtown Short Hills, NJ 07078&nbsp;&nbsp;&nbsp;</p>
            <p><strong>Winter Village Marketplace</strong><br />Saturday, November 24 12:00 pm - 5:00 pm<br />Outdoor, tented and heated craft market with 40 local vendors<br />Red Mill Museum Village, 56 Main St., Clinton, NJ 08809</p>
            <p>&nbsp;</p>
            </blockquote>
      <br><br>
</td>
</tr></table>
