@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/getaways.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
        <blockquote>
            <br>
            <div class="header">
                <table align="left">
                    <tr>
                        <td width="170" align="left"><img src="~/images/writers/acasorio.jpg" width="150" height="220" alt=""></td>
                    </tr>
                </table>
                Hawaii: Open for Business
            </div><br>
            <div class="writer">
                by Ashley Casorio
            </div><br><br />                 
            <p>There&rsquo;s been an infinite amount of news coverage of the volcano eruption on the Big Island of Hawaii as of late. It makes for great news, with images of orange lava spewing out of fissures that open up in the middle of the road and and rocks being thrown into the air hundreds of feet. It cannot be denied that it&rsquo;s serious threat and dangerous situation for the people in the Puna area. What the news does fail to say, however, is that the area affected is a very small portion of what is a very large island. So large, in fact, that all of the other Hawaiian Islands could actually fit inside the footprint of the Big Island.</p>
<p>With the Big Island very much open for business, here are some awe-inspiring activities that will leave you wanting to book your plane tickets:</p>
<p><strong>Flumin&rsquo; Kohala</strong></p>
<p><a href="http://fluminkohala.com" target="_blank" rel="noopener"><em>fluminkohala.com</em></a></p>
<p><em>844.933.4294</em></p>
<p>You may have experienced kayaking before, but have you kayaked in old tunnels and flumes that at one time (110 years ago to be exact) brought water to the people of Kohala and allowed Hawaii&rsquo;s famed sugar plantations to flourish? Didn&rsquo;t think so! Flumin&rsquo; Kohala is a one of a kind experience, both educational and eco-friendly, that you must experience. The cool waters that flow through these old channels are the perfect refreshment on a hot Hawaiian day.</p>
<p><em>Tours start at $135.00</em></p>
<p><strong>Kona Joe Coffee</strong></p>
<p><a href="http://konajoe.com" target="_blank" rel="noopener"><em>konajoe.com</em></a></p>
<p><em>808.322.2100</em></p>
<p>A visit to the island of Hawaii (the proper name for the Big Island) is not complete without some sort of Kona coffee experience. Kona Joe&rsquo;s offers tours of their farm and facilities and it&rsquo;s fascinating to see the process behind something everyone (or nearly everyone!) drink&rsquo;s every single day. Sample some of their homemade chocolate as well before roasting your own beans to bring home.</p>
<p><em>Tours starting at $15.00 and go up to $300.00</em></p>
<p><strong>Hawaii Forest &amp; Trail</strong></p>
<p><a href="http://hawaii-forest.com" target="_blank" rel="noopener"><em>hawaii-forest.com</em></a></p>
<p><em>800.464.1993</em></p>
<p>Hawaii Forest &amp; Trail is the premier tour company when it comes to outdoor activities, offering everything from waterfall tours to zip lining. Here are some of their coolest tours to choose from:</p>
<ul>
<li><em>Mauna Kea Sunrise or Sunset Tour</em></li>
</ul>
<p>Mauna Kea, a dormant volcano on the island and the tallest mountain in the whole island chain, houses the world&rsquo;s largest astronomical observatory with the telescopes operated by astronomers from eleven different countries. To put the scope (see what I did there?) of it into perspective, the power of the equipment up there is <em>60 times</em> stronger than the Hubble Space Telescope. It&rsquo;s for this reason that the street lights on Hawaii have all been replaced with low light pollution LED bulbs to allow for maximum star gazing. You can bet that the views of below and above are supreme from the summit. The terrain is also incredible with the snow (sometimes blizzards!) adding to its allure.</p>
<p>Hawaii Forest &amp; Trail will set up breakfast or dinner at a former sheep station to enhance your experience. Gaze out at the first rays of sunlight casting sherbet colors into the sky or look for constellations in the dark sky above with minimal light interference from below.</p>
<p><em>Tours stating at $190.00</em></p>
<ul>
<li><em>Kohala Waterfall Tour</em></li>
</ul>
<p>Set off in a Pinzgauer (an old 6-wheel vehicle used in the Austrian military) towards one of the most beautiful parts of the entire island. After a guided walk through scenery so unreal you won&rsquo;t be sure if it&rsquo;s real or not (think dramatic cliffs along the coastline), take a dip in one of the many waterfalls that you&rsquo;ll encounter. The trail showcases some of the best things that Hawaii has to offer and you&rsquo;ll feel fully immersed in the island.</p>
<p><em>Tours starting at $180.00</em></p>
<p>Lastly, I am a firm believer of leaving a place in better shape than when you arrived. Find some time to give back to the land and to the people. Whether you bring some old clothes to donate to those who have lost everything in the lava flow and the associated fires or you donate your time at an animal shelter to care for cats and dogs that have been displaced because of the volcano, the point is that the people of the Big Island need our support and whether you know it or not, your soul needs Hawaii.</p>

            <br /><br /><br />
    <i>
        @*Ashley Casorio is the writer behind the travel blog The Wandering Ash (<a href="http://www.thewanderingash.com" target="_blank">www.thewanderingash.com</a>).*@
        Ashley Casorio is the writer behind The Wandering Ash travel blog: <a href="http://www.thewanderingash.com" target="_blank">www.thewanderingash.com</a>. Follow her on Instagram and Twitter <a href="https://twitter.com/#!/&#64;thewanderingash" target="_blank">&#64;thewanderingash</a> for photos and musings on her travels.
    </i>
</blockquote>
</td></tr>
</table>