@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/eyeonhealth.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote>
<br>
<div class="header"><br />   
<table align="left"><tr><td width="170" align="left"><img src="~/images/articles/mrowley.jpg">
</td></tr></table>   
   Athletes Hit the Gym - But How?
</div>   
<br>
<div class="writer">    
   <br /><br />
    By Malcolm Rowley, C.P.T.
</div>
<br>
<br><br>
    <p>After a volleyball match, a tired player cannot imagine lifting her arm for another spike. What more can she do? She hits the gym. As sports become more competitive, high school level, and earlier, many athletes seek additional training to be better. Some go to the gym and train on their own, or with friends, some seek out training centers that specialize in their sport, others look to personal trainers. </p>
<p>All of these are better than no training at all. The question will come down to which option is the best? </p>
<table align="right">
        <tr>
            <td width="250" align="right">
                <img src="~/images/articles/eyeonhealth2.jpg" />
            </td>
        </tr>
    </table>     
<p>Let&rsquo;s start at the beginning. Sending the athlete off to the gym to &ldquo;work out&rdquo; with a list of exercises to complete. This is the most challenging option. Some young athletes are more prepared for this than others. Many young athletes have no clue, without guidance. They sling around some weights with no plan and, worse, bad technique. It is a miracle they can get out of the gym without an injury. </p>
<p>An improvement is to use workouts found on YouTube. The YouTuber could be an athlete and/or an experienced coach. They can offer real insight and ideas for workouts. Now, what are the athletes doing with these videos? Are they following the video with the proper form? Solo training is better than no training, but there are some serious downsides for an athlete coming into training by themselves.</p>
<p>Others train with their parents. I suppose this is a good time for me to introduce myself. My name is Malcolm Rowley, with my wife, ZiLe Wu, we are the new owners of Mountain Fitness. I am also the father of two athletes. It was the effort to help my kids in their sport that drove me to become a personal trainer. My son, then 12 (now 18), came to me after a Taekwondo tournament. He wanted to be stronger. I&rsquo;ve been a competitive athlete most of my life, but could I translate that into training to help my son? Over several weeks, I took a close look at his training and spent time talking to his coaches about what he needed. Over time, I built a system of workouts that proved to be effective at improving my son, later, his sister, and a couple of his teammates in this sport. The improvements were definitive, he was stronger, faster, and more balanced. He recovered quickly from one fight to the next. This was crucial in getting to the podium when it required 4 to 5 five fights in a tournament. His sister did even better, this past year she ranked number one in the U.S., even with chronic asthma. All of this is to say training with a parent can be a great asset. It can be challenging, too. Our children take instruction from us &ldquo;differently&rdquo; than they do from teachers and coaches.</p>
<p>Sport training centers, support many of the popular sports; lacrosse, soccer, football, basketball, and some others, depending on where you live and the sport&rsquo;s popularity. If she&rsquo;s in a sport that the facility supports, the athlete can gain a high level of training to make serious improvements. That is if the facility supports her sport. If your young athlete falls outside of the major sports noted earlier, you might be out of luck. Another concern could be the number of athletes training, which varies from facility to facility. Some centers work with small groups, others larger groups, and sometimes option for one-on-one training is available. A final concern is scheduling. It can be a challenge to another scheduled training on top the athlete&rsquo;s current training.</p>
<p>This brings me to personal trainers. Finding a personal trainer that is interested and willing to do the homework to help your young athlete can be a boon. She can get one-on-one attention, competent instruction, and varieties of different exercises. The personal trainer would be able to personalize a workout for her, based on her abilities, and help her improve those abilities. In addition, personal trainers are easily found at gyms nearby, and have flexible schedules for the athletes.</p>
<p>There is no question that a serious, young athlete will benefit from additional training outside of practice. There are several choices for her. Picking the best option is a challenge that an athlete&rsquo;s parents must confront to help their child improve.</p>
<p><br /><br /><br /><br /><br /><br /></p>
  <!-- <i>
      Ed Halper has a Master's degree in Education (concentration in Physical Education) from Trenton State College (1991), and is a Certified Personal Trainer through SCW. He is recognized as an IDEA Master Trainer.
  </i>       -->
  <br><br>
</blockquote>
</td></tr>
</table>