@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/healthawarenesshead.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
        <blockquote>
            <br><br />
            <div class="header">
                CoolSculpting  
            </div>         
            <div class="writer">
                <br /><br />
                Submitted by Peak Medical
            </div>
            <br>
            <br /><br />                      
            The CoolSculpting procedure eliminates stubborn fat safely and effectively, without surgery or downtime. This fat reduction treatment is the only FDA-cleared procedure to use controlled cooling to safely target and eliminate diet- and exercise-resistant fat in various parts of the body, including the flank (love handles), abdomen, and thigh. With over one million CoolSculpting treatments performed worldwide, CoolSculpting results are proven, noticeable, and lasting, so you'll look and feel great from every angle.
            <br /><br />
            <table align="right">
                <tr>
                    <td width="220" align="right"><img src="~/images/articles/health1.jpg" alt=""></td>
                </tr>
            </table>
            Freeze away fat? It comes down to science. Fat cells freeze at higher temperatures than surrounding tissues.  CoolSculpting technology safely delivers precisely controlled cooling to gently and effectively target the fat cells underneath the skin. The treated fat cells are crystallized (frozen), and then die. Over time, your body naturally processes the fat and eliminates these dead cells, leaving a more sculpted you.
            <br /><br />                      
            You can reshape your body!  We will develop a customized CoolSculpting treatment plan that addresses your problem areas. Beyond your initial sessions, additional sessions may further enhance your results. Your individualized treatment plan will be tailored to your body, your goals, and your budget.
            <br /><br />                      
            Good candidates have noticeable bulges in certain areas that they would like to get rid of. The CoolSculpting fat reduction procedure is specifically designed for those who have unwanted fat that resists diet and exercise. Unlike gastric bypass surgery, the CoolSculpting procedure is not a weight loss solution for people who are obese. It is, however, a non-surgical alternative to liposuction that provides noticeable, long-lasting results.
            <br /><br />                      
            It’s easy to sit back, relax and say goodbye to stubborn fat. After we select the area(s) to be treated, the device is positioned on your body and controlled cooling is applied. As the cooling begins during the first few minutes, you will feel pressure and intense cold, which dissipates soon after.  During your procedure, you may choose to read, check email, or even take a nap. Following the procedure, typical side effects include temporary numbness, redness, swelling, bruising, firmness, tingling, stinging and pain.
            <br /><br />                      
            The CoolSculpting fat freezing procedure is completely non-surgical, so you can typically return to work and normal activities immediately.
            <br /><br />                      
            You will like what you see. In the weeks and months following your procedure, your body naturally processes the fat and eliminates these dead cells. Once the treated fat cells are gone, they're gone for good. No supplements or pills are required and you do not have to adopt new diet and exercise habits. Many patients feel more motivated to take care of themselves after their CoolSculpting treatment. It is as if they get a second lease on their body and want to start anew again by taking even better care of themselves.
            <br /><br />                      
            Are you ready to love every view of you? The sooner you set up your consultation, the sooner you'll see results in the mirror—long-term results in those areas that have resisted all efforts through diet and exercise. Contact us today to find out if the CoolSculpting fat freezing procedure is right for you.
            <br /><br />                      
            Results and patient experience may vary.
        </blockquote>
    <br><br><br>
</td></tr>
</table>
