@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/happeninghills.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote>
<br>
<div class="header">
</div><br>
<div class="writer">
 <table align="left">
	<tr>
		<td width="330" align="left"><img src="~/images/writers/adnanc.jpg" alt=""></td>
	</tr>
</table><br /><br />
By Adnan Contractor
<br /><br />
</div>   
    <br /><br />
   
    <p>If you imagine Watchung Hills as a massive, challenging book, September is the chapter that nobody knows how to read. It&rsquo;s packed with exciting opportunity, confusion, adjustment, and anticipation.&nbsp;</p>
<p>Fortunately, Watchung Hills has a strong apt for giving students the most diverse set of educational resources and social profiles that a kid can find in Central New Jersey. Stimuli are newly processed, data swarms around everywhere for interpretation, and opportunity is freshly&nbsp;available for capitalization. It&rsquo;s truly a great month.&nbsp;</p>
<p>Lots of things have happened this summer, and lots of things are continuing to happen this year. Many students at Watchung Hills have committed to promoting collaborative, next-generation projects for students in STEAM (STEM, with &ldquo;a&rdquo; for arts). Last year, small steps were taken (a Hackathon and TedX events) to build an awareness for computer science research and collaborative brainstorming. Fortunately, there will be another Hackathon this year, another TedX event, a potential Journalism Hackathon, a potential Quantum Computing workshop, andpotential weekly AI seminars. For the curious, &ldquo;potential&rdquo; means, &ldquo;students are working on it, not finalized yet.&rdquo;</p>
 <table align="right">
        <tr>
            <td width="250" align="right">
                <img src="~/images/articles/hills1.jpg" />
            </td>
        </tr>
    </table>     
<p>As for Sports, the previous Athletics Director, Mr. Van Vilet, has retired. In his place will serveMr. Root, or Se&ntilde;or Root. He&rsquo;s a popular Spanish teacher with an excellent reputation for making linguistics one of the most enjoyable programs here.&nbsp;</p>
<p>The fall pre-season actually began in August. And from now until November (perhaps even December), fall athletes will contend in the Skyland Conference, followed by Somerset County, followed by (and this is uncommon) the State of New Jersey. Based on last year&rsquo;s performance, the team projected to make it the farthest this season is Women&rsquo;s Tennis.&nbsp;</p>
<p>In terms of how to approach this month (and the months after!), there are many takes on it, and I&rsquo;ll give you a few of my own. For freshman: do not be anxious about this place. It&rsquo;s best to join two to three clubs that you find most appealing, and stick to those clubs. Take challenging classes and talk to people, but talk to them about academic projects, community events you might want to organize, and clubs you might want to start. You have entered an entirely new playing field, with novel rules and distinct techniques. Your performance is no longer just about grades and scores; it&rsquo;s about how you contribute to your community, how you learn from thatcommunity, and the extent to which you turn your education into the enriching experience it can be. The trick? Hard work!</p>
<p>For sophomores, a great thing you can do is expand your network. Look for research internships at Rutgers/NJIT/Stevens/etc., summer opportunities for next year (yes, applications for those go live in about two months!), and volunteering positions. Find out which regional/national/international competitions, conferences, and events are relevant in your areas of interest, and pursue those. Meet as many people as you can, learn about their experiences, and do your best to work with them on something. You need to collaborate with others to finishWHRHS&rsquo;s race. It&rsquo;s too difficult to run in your own lane. For juniors, the advice is simple: if this year is hard for you, you&rsquo;re doing something right. Push, grind, and don&rsquo;t stop.&nbsp;</p>
<p>There&rsquo;s a saying that goes, &ldquo;When life gives you lemons, you make lemonade&rdquo;. September gives us all lemons, but somehow, we each find unique ways to make them into apple juice. Peculiar? Sure. But who ever said high school isn&rsquo;t peculiar?</p>
    <br><br><br>
 </blockquote>
</td></tr>
</table>
