@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote>
<br><br />
<div class="header">
    Holiday Walk Sponsors<br /><br />
</div><br>
    The Warren Township Chamber of Commerce would like to thank everyone involved with the 2013 Warren Holiday Walk which took place on Sunday, December 8th.  The beautiful winter snow contributed to the large turn out of town residents and visitors from the surrounding area.  The day was a huge success with hundreds of families, friends and children in attendance and it was just wonderful to see the support of the Warren Community and business owners alike as the Chamber resurrected the much missed Holiday Walk.
    <br /><br />
    With the help of the Washington Valley Fire Department, the Watchung Hills Regional High School Band, and the Warren Police Department, Santa led the parade through the center of town with assistance from his Elf! The event also included Frosty the Snowman, Mickey & Minnie Mouse, Arts & Crafts, a Children's Reading Corner  and refreshments and snacks along the route which brought young and old together to kick off the "Holiday Season".
    <br /><br />
    The Chamber urges the community to continue to patronize these businesses and professionals who so generously support our schools and organizations.
    <br /><br />
    A big thank you goes out to all the sponsors of the Holiday Walk:
    <br /><br />
    AO Florist<br />
    Alternative Press<br />
    Beer Architectural Group<br />
    Beveled Edge Custom Framing<br />
    Children's Dental Specialists<br />
    Ciro's  Pizzeria<br />
    Coldwell Banker<br />
    Country Squire<br />
    Dakini Movement<br />
    Echoes-Sentinel<br />
    Edgewood Pharmacy<br />
    Elements Therapeutic Massage<br />
    Extreme Excellence Entertainment<br />
    Mr.& Mrs. Garafola<br />
    Impact Martial Arts<br />
    JM27 Designs<br />
    Kreations by Anne<br />
    Little Shanty<br />
    New Fountain of Vitality<br />
    Our Lady of the Mount Church<br />
    Pheasant Run Dr Cleaner<br />
    Prezzo Italian Restaurant<br />
    Ralph Garafola Studio<br />
    Roxdane Kennels<br />
    Showcase Magazine<br />
    Smoothie King<br />
    Soft Care Dental Group<br />
    Somerset County VoTech High School - The Culinary Arts Department<br />
    Sports Minded Unlimited<br />
    Starbucks<br />
    Step It Up Events<br />
    Stonecrest Community Church<br />
    The Connection<br />
    The Corner Village at Warren<br />
    Turf ' N Surf Burger Grill<br />
    UPS Store<br />
    Vicendese Family Properties<br />
    WHRHS Marching Band/Mr. Udell<br />
    Walgreens<br />
    Warren Concierge<br />
    Warren Little League<br />
    Warren Police Dept.<br />
    Warren Township Library<br />
    Washington Valley Fire Dept.<br />
    Watchung Pediatrics<br />
    Weichert Realtors<br />
    Wells Fargo Advisors - Richard Zangara<br />
    Richard Zangara Family<br /><br />

    All of us at the Chamber wish you a Happy, Healthy, Peaceful, & Prosperous New Year!
    <br /><br />

    <b>Warren Township Chamber of Commerce Executive Committee</b>
    <br /><br />

    <table>
        <tr>
            <td>
                Chelsea at Warren<br />
                Echoes-Sentinel Newspaper<br />
                Fulton Financial Corp.<br />
                Healthier Living Network<br />
                Mt. Bethel Village<br />
                Raymour & Flanigan<br />
                Renna Media<br />
                Right at Home<br />
                Showcase Magazine<br />
                Warren Library<br />
                Wells Fargo
            </td>
            <td width="20%"></td>
            <td>
                Melanie Varnerin<br />
                Jennifer Ward<br />
                Evan Tornquist<br />
                Yee Jao<br />
                Carolann Garafola<br />
                Addie DelVecchio<br />
                Joe Renna<br />
                Janet Kuebler<br />
                Nina Ulloa<br />
                Cathy DeBerry<br />
                Richard Zangara
            </td>
        </tr>
    </table>



<br><br><br>
</td></tr>
</table>
