@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote>
<br><br />
<div class="header">
Holiday Hot Toy List
</div><br>
<div class="writer">
</div><br><br />  
<ol>
    <li><b>Disney Frozen Snow Glow Elsa Doll</b> - Young Frozen fans can relive favorite moments with the Disney Frozen Snow Glow Elsa Doll. Touch her magical snowflake necklace to hear Queen Elsa speak phrases from the film as her dress lights up. Lift her arm to hear her sing her hit song, "Let It Go," while her dress sparkles.
    (Ages 3 & up)</li>

    <li>
        <b>Transformers Age of Extinction Chomp and Stomp Grimlock Figure</b> -This fast-changing, 20-inch robot will have kids eager to take on the Decepticons! In just one step, GRIMLOCK can transform from a gigantic robot to a dinosaur with a chomping jaw and light-up eyes. With pop-out weapons and a mighty sword, Stomp & Chomp GRIMLOCK gets kids ready for any TRANSFORMERS adventure. Transformers and all related characters are trademarks of Hasbro.
        (Ages 5 & up)
    </li>
      <table align="right"><tr><td width="300" align="right"><img src="~/images/articles/hottoylist1.jpg" /></td></tr>
    </table>
    <li>
        <b>LeapTV Active Gaming System</b>
        <ul>
        <li>Gets minds and bodies moving</li>
            <li>Educational, active video gaming system</li>
            <li>Three ways to play</li>
            <li>
                Library of 100+ educator-approved games and videos that teach skills from reading to mathematics (sold separately)
                (Ages 3-8)
            </li>
         </ul>
    </li>
    <li>
        <b>Fisher-Price Laugh & Learn Smart Stages Chair</b> - Fisher-Price Laugh & Learn Smart Stages Chair: Its baby's very own place to sit and discover new things! This magic ABC seat knows when baby sits, activating songs and phrases when baby stands. Press the light-up remote or flip book pages to hear numbers, shapes and more. Lift the cushion to reveal more fun surprises.
        (Ages 1-3)
    </li>
    <li>
        <b>Max Tow Truck with Turbo Mode</b> - Red
        The Max Tow Truck with Turbo Mode in the Red style is a hard-working truck that can pull or push up to 200 pounds. Push the truck over tough road blockages and obstacles with ease. Turbo mode makes its tough job easier. Over 50 different phrases and sounds make playtime fun.
        (Ages 6-9)
    </li>
    <li>
        <b>FurReal Friends Get Up and Go Go My Walkin' Pup Pet</b> - A day together is the best day ever with this new furry friend. Kids can talk to her and she'll bark back with sweet ruffs and other puppy sounds, or walk her with the included remote control leash for hours of pretend play. Download the free iOS or Android FurReal Friends app to mix up this pup's playtime by creating tasty meals and giving her a bubbly bath.
        (Ages 4-6)
    </li>
    <li>
        <b>Barbie Endless Curls Doll</b> - Your little one will love doing Barbie's hair over and over again with the Barbie Endless Curls Doll. The two curling irons and four curlers help your child style the doll's hair into loose waves or tight curls without using any heat! Your little hair stylist can arrange the doll's locks with the cute barrettes and rubber bands into braids, ponytails, pigtails and many other fun styles to suit every occasion.
        (Ages 5 & up)
    </li>
    <li>
        <b>Playskool Sesame Street React Let's Imagine Elmo</b> - Features: Music, Speaks Phrases, Motion, Multiple Activities, Multiple Modes of Play Educational Focus: Social Skills, Motor Skills, Letters and Numbers
        (Ages 18 months & up)
    </li>
    <li>
        <b>American Girl Doll</b> - Meet Isabelle Palmer girl of the year. Isabelle excited to start the dance program at Anna Hart School of the Arts. Then she realizes how talented her classmates are. Keeping up is a challenge-until Isabelle discovers a unique talent to truly call her own.
        (Ages 8 & up)
    </li>
    <li>
        <b>Star Wars Command Star Destroyer Set</b> - Kids can finally take command of the greatest battles in STAR WARS history with this interactive play set, which comes complete with 8 collectible figures. Create battles and destroy armies with the Command sets! This Star Destroyer set includes a force of 3 obedient Stormtrooper figures and a Darth Vader figure to lead them against anyone who dares to challenge Imperial rule in the remote-controlled Star Destroyer vehicle.
        (Ages 5-7)
    </li>
    <li>
        <b>Yvolution Y Fliker Lift Self-Propelling Scooter</b> - The three polyurethane wheels of the Y Fliker Lift Scooter offer your child a smooth ride as he or she performs a variety of wild stunts. With exciting lift technology, all your little rider has to do to pop a wheelie is gain speed and lean back.
        (Ages 7-15)
    </li>
    <li>
        <b>Disney Jr Doc McStuffins Get Better Talking Mobile Cart</b> - The Doc McStuffins Get Better Talking Mobile Cart gives kids everything they need to provide on-the-go care! Physicians-to-be can let friends know they're in a hurry with the motion-activated siren that lights-up and plays the "Doc Mobile" song. Doc Mobile is equipped with a working ladder to help toys wherever they are. Future doctors can use the light & sound EKG, otoscope, and thermometer to give on-site checkups and fix boo boos with the bandage sticker dispenser. They can call in their diagnosis using the working CB radio, and then secure their patients for rolling rescue using the gurney and patient seat!
        (Ages 3-6)
    </li>
    <li>
        <b>Journey Girls London Holiday Doll</b> - The Journey Girls 18" Mikaella Holiday Doll in the Purple Ball Gown style loves to create her own recipes and is an incredible chef. She's ready to celebrate the holidays at any party in her beautiful purple ball gown. Mikaella graces the dance floor with black elbow-length gloves, an evening bag, pearl bracelet, teardrop faux diamond necklace and purple flats.
        (Ages 6 & up)
    </li>
    <li>
        <b>Nerf Mega ThunderBow Blaster</b> - Become a master marksman with the Nerf Mega Thunderbow Blaster. This long-range bow shoots your Mega Darts up to 100 feet to hit your target. The darts will scream through the air one after another, and you can launch up to five Mega Darts before you have to reload. The flexing bow arms and real bow action will help you hone your skills as an archer.
        (Ages 8-11)
    </li>
    <li>
        <b>Aria Child 6V Mercedes GL450 SUV</b> - Look out! Your little one is almost road-ready with the Aria Child 6V Mercedes GL450 SUV. This handsome kids' electric car gives them their first set of wheels and what an amazing set they are. A Mercedes GL450 SUV decked out with all the amenities a ride-on car should have.
        (Ages 3 & up)
    </li>

</ol>

<br><br><br>
</td></tr>
</table>
