@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/hintshome.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
        <blockquote>
            <br>
            <div class="header">
                <br /><br />
                Raising the Bar and Wine Cellar to New Heights
            </div>            
            <br /><br>
            <table align="right">
                <tr><td width="300" align="right"><img src="~/images/articles/hintshome1.jpg" /></td></tr>
            </table>                        
            <p>(NAPS)&mdash;When you&rsquo;re looking for a great place to unwind with friends, as more and more Americans are discovering, few spots can beat your own home bar or wine cellar.</p>
            <p><strong>What&rsquo;s Cool In Wine Cellars</strong></p>
            <p>A recent survey of home decorators, designers and fabricators found four facts and trends to consider when you want to install your own bar.</p>
            <ol>
            <li>What are the new technologies for bars and wine cellars? The majority of designers brought up LED lighting, flexible lighting, appliance lighting and the addition of more lighting displays. &ldquo;Bars and wine cellars will trend toward backlighting in the future with the increasing prevalence of LED lighting,&rdquo; according to Paul Menninger, owner of Capitol Granite. &ldquo;The options for LED come with reduced costs, longer life and lower heat generation.&rdquo;</li>
            <li>What materials or appliances are trending? The hottest materials today include ultracompact surfacing&mdash;more commonly known as &ldquo;thin&rdquo; tile. These surfaces have the advantage of stain resistance and durability&mdash;you can have a marble look, for instance, without having to worry about stains. Mixed textures were also a common answer. These are spaces designed to &ldquo;stand out.&rdquo;</li>
            <li>What trends do you anticipate for the future? Designers and fabricators anticipate the use of more glass, unique surface materials such as porcelain countertops, or looks such as a mitered drop edge. Cheryl Clendenon, owner of InDetail Design, states, &ldquo;I would say unique wine storage in unusual places&mdash;we have proposed one in a large foyer. Sounds odd but it will be part of a built-in area with a bench and the wine will become drinkable art! Also, more clients want wine refrigeration.&rdquo;</li>
            </ol>
            <p>&ldquo;Clients tend to want a bar or wine cellar that is a conversation piece,&rdquo; states Krista Lake, owner of Signature Interior Expressions. &ldquo;They like for their bar/wine cellar to have a unique look that stands out from the rest of the home.&rdquo;</p>
            <p>&ldquo;The products we feel are currently trending are wine barrel and winepress furniture,&rdquo; states Brad Burns, partner/owner of Cutting Edge Countertops. That may help explain the appeal of Blanco&rsquo;s new Empressa faucet collection, which coordinates bar and kitchen sink faucet styles with a vintage winepress-inspired handle shape. </p>
            <ol start="4">
            <li>What colors are in for bars and wine cellars? Mostly whites and grays, automotive and industrial finishes. &ldquo;Whites and grays with dark-colored woods contrasting in the wine cellars, like walnut and cherry,&rdquo; are popular, adds Menninger. What&rsquo;s working, he said, is contrasting light and dark colors for entertaining spaces. For example, the Empressa faucet ranges from contemporary polished chrome or stainless, to more traditional polished nickel and even oil-rubbed bronze.</li>
            </ol>
            <p>The award-winning design team at Blanco foresaw the fusion of old-world influences and contemporary style in today&rsquo;s kitchens and bars. Traditional finishes such as oil-rubbed bronze is making a comeback, even as modern design is surpassing traditional. The result is a transitional look with one foot in the familiar past and another in the functional present. It can be the best of both worlds.</p>
            <p><strong>Learn More </strong></p>
            <p>For further facts about faucets, go to www.blancoamerica.com.</p>
            <p><strong>The best bar around could be the one in your own home.</strong></p>

            <p>&nbsp;</p>
            <br><br><br>
</blockquote>
</td></tr>
</table>

