@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
    <tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
    <tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
    <tr><td id="header2" align="left"><div id="articles"></div></td></tr>    
    <tr>
        <td bgcolor="#FFFFFF" valign="top" align="left">
            <blockquote>
                <br>
                <center>
                 <a href="http://raceroster.com/events/2014/2370/race-for-kidkind" target="_blank"><img src="~/images/articles/kidkind1.jpg" /></a>
                </center>
                <br><br>
        </td>
    </tr>
</table>