@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/kidscorner.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote>
<br><br>
<br>
<div class="header">
    Unleash Girls’ Strength at Girl Scouts
<br /><br />
</div><br />
<div class="writer">     
</div>
<br />
<br>
<br>    
    <table align="right">
        <tr>
            <td width="120" align="left"><img src="~/images/articles/kidspic1.jpg" alt=""></td>
        </tr>
    </table>    
    <p>(NAPS)&mdash;Today&rsquo;s youth are more vocal than ever about the change they want to see in the world, and Girl Scouts are the most equipped with the skills needed to make a real impact. Girl Scouts will now be even more prepared to address society&rsquo;s most pressing needs, both today and in their future careers, with Girl Scouts of the USA&rsquo;s (GSUSA&rsquo;s) release of 30 new badges in exciting fields such as cybersecurity, environmental advocacy, mechanical engineering, robotics, computer science, and space exploration. The organization&rsquo;s new and existing programming will unleash your girl&rsquo;s strength and confidence in a supportive all-girl environment.</p>
    <p><strong>An All-Girl Leadership Experience</strong></p>
    <p>Illustrating how important it is for girls and volunteers to join Girl Scouts, the KPMG Women&rsquo;s Leadership Study of more than 3,000 professional and college women found that early exposure to leadership has a significant effect on a woman&rsquo;s perceptions of her ability to lead. What&rsquo;s more, 76 percent of women today wish they had learned more about leadership and had more leadership opportunities while growing up. Girl Scouts&rsquo; all-girl environment allows girls to take healthy risks, learn from failure, have one-of-a-kind experiences, and form friendships that will last a lifetime.</p>
    <p>Research supports the benefits of an all-girl environment. For example, Linda J. Sax, associate professor of education at the UCLA Graduate School of Education &amp; Information Studies, found that girls who attend single-gender high schools show higher levels of civic engagement, greater interest in engineering careers, and measurably more self-confidence in public speaking.</p>
    <p><strong>New Ways to Learn and Lead</strong></p>
    <p>Girl Scouts&rsquo; new programming includes Environmental Stewardship badges for girls of all ages, teaching them to respect the outdoors and take action to protect the natural world. For girls in middle and high school, there are badges on how to program, design, and showcase robots and learn about computer science and engineering. Girls in grades 11 and 12 can earn the College Knowledge badge, which covers how to research the admissions process, financial aid, and other factors&mdash;providing crucial information for many girls who don&rsquo;t have this kind of support outside Girl Scouts.</p>
    <p>All Girl Scouts in elementary school are now able to earn badges in cybersecurity, space science, and mechanical engineering, introducing them to the fundamentals of these timely topics in a fun and engaging way.</p>
    <p>&ldquo;Girl Scouts&rsquo; new badges sound awesome, and I can&rsquo;t wait to earn them, especially the ones in Environmental Stewardship,&rdquo; said Shelby O&rsquo;Neil, a current Girl Scout Ambassador going into 12th grade. &ldquo;Because of Girl Scouts and the Gold Award, I was able to initiate a No Straw November campaign to advocate for reducing plastic pollution, and I even convinced companies including a leading airline to replace plastic straws with marine-friendly alternatives. Girl Scouts has offered me amazing experiences that have helped me become a leader, gain confidence, and try new things. I think every girl should have the opportunity to join Girl Scouts.&rdquo;</p>
    <p><strong>How You and Your Girl </strong><strong><br /></strong><strong>Can Be a Part of It All</strong></p>
    <p>Girl Scouts prepares all girls to unleash their inner strength and have unique experiences and opportunities. To join or volunteer, visit www.girlscouts.org/join.</p>
    <p><strong>Girls can learn the soft and hard skills they need to succeed, in a safe, all-girl space.</strong></p>
     <br><br>
    <br><br><br>
</blockquote>
</td></tr>
</table> 





