@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
        <blockquote>
            <br>
            <div class="header">                
                A Library…"The Fabric of a Town"
            </div>
            <br><br />
            <div class="writer">
                By Gail B Tafaro and Linda Lauerman
             </div>
             <br /><br />         
            <table align="right">
                <tr>
                    <td width="200" align="right"><img src="~/images/articles/library1.jpg" border="0"></td>
                </tr>
            </table>
            <p>A library is essential to any community.</p>
            <p>A library is more than just a building. Open its door and witness a constant state of evolution. A library offers the patrons digital downloads, eBooks, personal content, and live programming that competes for space with books, periodicals, microfilm, movies and music on digital media.</p>
            <p>A library has the responsibility to provide global learning, such as STEAM, the educational approach to learning that uses Science, Technology, Engineering, the Arts, and Mathematics as well as community centered social spaces. As the library meets these needs and expands with open light filled reading spots, art exhibitions, clubs and meetings&hellip;a town, a community comes together.</p>
            <p>A library is the students&rsquo; office to complete work and develop a stronger relationship with learning. Schools depend on outside learning for group related projects, and for learning to work with others. Libraries are important to teens to help develop life skills. They also provide space for tutoring and summer reading.</p>
            <p>A library is a community builder, strengthening neighborhoods and building the cultural lives of the residents. A library helps to revitalize struggling communities, partnering in sustainability community education. It is a home to special collections that grow out of specific community needs, such as archives that preserve historic artifacts, and oral histories and monographs relevant to a community. A library&rsquo;s responsibility to a town proves to be remarkable as it takes on these challenges.</p>
            <p>Libraries are places where people come to know themselves and their communities; such as new moms connecting with others through programs, and retired citizens who attend events and make new friends.</p>
            <p>Libraries are centers for the arts, local and worldwide. The library is the people&rsquo;s university offering opportunities for remote access, to create their own content, and to promote civil discourse.</p>
            <p>A library is the Most Important Place in Town. From the smallest town to the largest city, people realize the importance of a library in their community. &ldquo;The Fabric of a Town&rdquo; is and always will be a library.</p>
            <br /><br />
            <p>In support of the Save the Watchung Library Coalition</p>
    <br /><br /><br />
    
</blockquote>
      <br><br>
</td>
</tr></table>
