@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/locallowdown.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/locallowdown.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
        <blockquote>
            <br>
            <div class="header">
                <table align="left">
                    <tr>
                        <td width="270" align="left"><img src="~/images/articles/localtalent1.jpg" alt=""></td>
                    </tr>
                </table>
                 Charlie Alberto IV
            </div><br>
            <div class="writer">   
                By Erik Slagle             
            </div>
            <br /><br />                        
            <p>A short sci-fi drama starring Michael Madsen and filmed, in part, right here in Warren. A series of shorts, documentaries and music videos compiled over a 10-year career in the film industry. A Production Assistant credit on the blockbuster <em>The Amazing Spider-Man 2</em>. Full-time location department work on <em>The Americans</em> and <em>High Flyin&rsquo; Bird, </em>the latter an upcoming project from Steven Soderbergh. An outstanding body of work for anyone working in the business, but especially exciting given that it belongs to one of Warren&rsquo;s own &ndash; Charlie Alberto IV, a graduate of Watchung Hills Regional High School and one of America&rsquo;s most exciting new film talents!</p>
            <p>Being in the movie industry is about more than making movies, Charlie says &ndash; &ldquo;It&rsquo;s about making an experience.&rdquo; Getting to travel, meet new people, and speak to an audience through the medium of film are the things that engage him most when he takes on a project as an actor, writer, director or producer. He&rsquo;s able to change hats easily and often, filling multiple roles on any given work and instilling his own sense of quality and authenticity into each.</p>
            <p>A 2008 graduate of Watchung Hills, Charlie went on to study film at Hofstra Film School and Stellla Adler before being hired for his position on the <em>Spider-Man</em> crew. &ldquo;This got my foot in the door,&rdquo; Charlie says. &ldquo;<em>Spider-Man </em>was where I made the initial connections to spread my name around and be considered for future jobs.&rdquo;</p>
            <p>One of those future jobs was a role in <em>Poolside, </em>a short film that starred singer Lana Del Rey. On <em>Poolside</em>, Charlie served as both actor and producer. On his next project, <em>Sound of Her</em>, Charlie added &ldquo;transportation engineer&rdquo; to his resume &ndash; packing a van with equipment and driving his team 33 hours to Colorado to shoot the film. <em>Sound</em>, he says, taught him the importance of networking: something you can really learn outside of school.</p>
            <p>&ldquo;Making connections is the art of the [movie] business,&rdquo; he says. &ldquo;I learned a lot on <em>Sound of Her</em> that I was able to bring with me to <em>Killian </em>when the time came.&rdquo;</p>
            <p><em>Sound </em>was selected for the New Jersey State and Hoboken International Film Festivals in 2016. Charlie then wrote and directed<em>&nbsp;Killian</em>&nbsp;(view the trailer at Killianshortfilm.com), which follows what he describes as a "nostalgic family affected by advancements of the future and the abandonment of one another." Madsen, a veteran of films like the <em>Kill Bill</em> series, <em>Reservoir Dogs, </em>and <em>Thelma and Louise, </em>is on board as the father &ndash; whose collection of pinball machines is based on a favorite pastime of Charlie&rsquo;s own father, still a Watchung resident. Many of Madsen&rsquo;s scenes, in fact, were shot around Warren.</p>
            <p>To further his creative vision and to ensure he would always be involved in films that are meaningful to him, Charlie founded Viattis Production. Viattis (the last name of Charlie&rsquo;s great grandfather &ndash; a surname that can be found on the registers on Ellis Island) partners with The Tao Company, and the two will soon be merging to form Caribou Lodge Films. It&rsquo;s another step deeper into the business for Charlie, who now lives in Jersey City but keeps close ties to the Warren-Watchung area.</p>
            <p>&ldquo;We&rsquo;ve been producing and filming a lot in the area,&rdquo; he says, noting spots around town that lend a natural outdoors air and play well on film.</p>
            <p>Charlie says that following his passion and starting a career in the film industry was the best thing he could have done after graduating from Watchung Hills. &ldquo;I&rsquo;ve gotten to do things I never would have done otherwise,&rdquo; he says. Now, with <em>Killian</em> about to be released, Charlie looks ahead to future projects. Keep up with everything this local celebrity is doing by following him on his website, charliealbertoiv.com.</p>
            <p>Warren, and Watchung, and the <em>Showcase</em> readership congratulate Charlie Alberto IV on his personal and career successes!</p>

          
            <p>&nbsp;</p>
        </blockquote>
<br><br> 
  <br><br>
</td></tr>
</table>