@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/locallowdown.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
        <blockquote>
            <br>
            <div class="header">
                <table align="left">
                    <tr>
                        <td width="230" align="left"><img src="~/images/writers/monicagiglio3.jpg" alt=""></td>
                    </tr>
                </table>
                MONICA’S CORNER, THE BOOK
                <br /><br />
                A NEW BOOK BY OUR VERY OWN, MONICA GIGLIO
            </div><br>
            <div class="writer">
                
            </div>
            <br /><br />            
            Monica Giglio, a resident of Warren Township since 1998, is known to many from her column in The Showcase Magazines, Monica’s Corner. Her third book is also known by that name and has just been released on amazon.com in paperback and e-book/kindle editions!        <br /><br />
            Newly released Monica’s Corner is a collection of previously published inspirational and humorous short stories with positive take-away messages. Many Showcase readers will remember with nostalgia some of their favorite stories from the past fifteen years within the pages of the book. Every story is an easy and quick read, but you will not want to put this book down! In Angels On Ice, the Monica shares inspirational lessons gleaned from a near-death experience at age seven. Her home life stories like Freezer Bra and Carrying the Big Blue Can are sure to tickle your funny bone and give you some quick chuckles! 
            <table align="right">
                <tr>
                    <td width="200" align="right"><img src="~/images/articles/lowdown2.jpg" alt=""></td>
                </tr>
            </table>
            <p><strong>About the Author:</strong></p>
            <p>Internationally known artist, author, Christian leader, and life coach, Monica&nbsp;Giglio&nbsp;has been writing her column, Monica&rsquo;s Corner, for over fifteen years in The Warren Showcase magazine. Her stories have been published in several internationally circulated anthologies including Chicken Soup For The Soul, and Monica is the author of several books. She is also the owner of Giglio Interiors, Painting Meetups, and Purpose Driven Arts. Monica&rsquo;s Corner, the book, can be purchased on amazon by following this link <a href="https://www.amazon.com/dp/B0791M427G%20 &nbsp;" target="_blank" rel="noopener">https://www.amazon.com/dp/B0791M427G</a></p>
            <p><a href="https://www.amazon.com/dp/B0791M427G%20 &nbsp;" target="_blank" rel="noopener">&nbsp;</a></p>
        </blockquote>
<br><br> 
  <br><br>
</td></tr>
</table>