@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
        <blockquote>
            <br>
            <div class="header">
                <table align="left">
                    <tr>
                        <td width="180" align="left"><img src="~/images/writers/jsardillo.jpg"alt=""></td>
                    </tr>
                </table>
                Letter from the Mayor's Office
            </div><br /><p></p><br /><br /><br />
            <p>To Warren Township residents and our business community,</p>
            <p>Our summer recreation programs have been a great success. The Fabulous 50&rsquo;s Night featuring the Keynotes started out in the rain but cleared up and residents were dancing and singing with the group. Thanks to the Knights of Columbus and Domino&rsquo;s Pizza, the attendees were provided with dinner and desert.</p>
            <p>The Warren Township Committee is continuing to aggressively negotiate with the Fair Share Housing Center, the group&nbsp;founded in 1975 to defend the housing rights of New Jersey&rsquo;s poor, to establish Warren&rsquo;s Affordable Housing obligation that meets with court approval but does not significantly impact the character of our town.</p>
            <p>Our town sponsored project on Lindbergh Avenue is a big step forward in our effort to ensure that all development is done in the most thoughtful and strategic way.&nbsp;This project of about 80 affordable housing units saves us a potential 400 units if a builder were to develop a parcel of land and have mixed income occupancy. I am proud of our Township officials as we have continuously fulfilled our obligations in a way that allows for these new residents to seamlessly become a part of our community.</p>
            <p>There are other projects under consideration and as soon as we are allowed, by law, to discuss them in public, they will be announced. The restrictions placed on us that require these negotiations to be conducted in executive session are frustrating. We would prefer that the public had all the information and could provide greater input.</p>
            <p>Our public works department has been hard at work maintaining our parks and trails. Over 90 storm drains have been repaired and 24 municipal roads were paved.</p>
            <p>I am proud of our police department and what they bring to the community. Over the past few weeks I have received numerous letters from residents regarding the professional service rendered to them in emergencies. One resident had burns from a kitchen fire and our officers not only provided first aid but drove him to the hospital.</p>
            <p>In addition, we purchased a new fire fighting vehicle for our volunteer fire department. This new unit combines an aerial ladder, water tank and pump. It was displayed at the &ldquo;wet down&rdquo; in June. These volunteers provide exceptional service and keep us all safe.</p>
            <p>Finally, congratulations to the class of 2018 from WHRHS. We have a great school system. As the presenter of the Lions&rsquo; Club Outstanding Citizen award at the Middle School graduation and judge of the Central School 5th grade projects, I observed the finest students in New Jersey. We have a great future.</p>
            <p>&nbsp;</p>
            <p>Regards,</p>
            Mayor Victor Sordillo<br>
            Deputy Mayor Gary DiNardo<br>
            Carolann Garafola<br>
            George Lazo<br>
            Mick Marion


        </blockquote>
      <br><br>
</td>
</tr></table>
