@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/meet_showcase.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote><br><br>
    <table align="right">
        <tr valign="top">
            <td width="260" align="right" style="font-size:x-small">
                <img src="~/images/articles/ShowcaseFamily.jpg" border="0">
            </td>
        </tr>
    </table>
    <p>Renee Gatz joined the &ldquo;Showcase Family&rdquo; in 2014 with her Wise Words &amp; Witty Expressions column. </p>
    <p>Renee Gatz is an inspirational author, columnist, and speaker. Gatz&rsquo;s book, &ldquo;Wise Words &amp; Witty Expressions&rdquo; is a collection of the sayings&mdash;funny, sarcastic, and profound&mdash;her Irish American mother said to her growing up to help her navigate life&rsquo;s ups and downs. It has never ceased to amaze her how these expressions have come back to her at just the right moment to help her understand, laugh, and even survive. It was the power of these messages that prompted her to want to share them with others. </p>
    <p>Gatz firmly believes that you cannot speak too much optimism into a person. That belief motivated her to write inspirational articles that weave expressions from her book into her message. Her articles have been published by the Irish American Cultural Institute, The Home News Tribune and subsidiary newspapers, and the Showcase Magazine. Whether you are Irish or not, you will find much humor and wisdom in her book and articles.</p>
    <p>Renee has also been featured along with 35 other women of Irish descent in a book titled, <em>W</em>i<em>se Irish Women</em>, which shares their personal stories, authored by Patricia Connorton Kagerer, and her cousin Laura Prendergast Gordon. Gatz has shared her inspirational messages as a speaker with a variety of business and cultural organizations, on-line radio programs, and has been a week-long guest speaker at Deerfield Spa in East Stroudsburg, PA. </p>
    <p>Renee garnered a review in Irish America magazine for her book where they stated, <em>"With sections devoted to motherhood, love, life&rsquo;s challenges, and sarcasm, readers will carry wisdom and wit through all of life&rsquo;s situations."</em></p>
    <p>Gatz said, &ldquo;I look forward to continuing to share the wisdom I learned from my mother with others through my writing and speaking. I can&rsquo;t express fully how encouraging it is to my work and soul when I hear that my efforts have helped others have more gratitude, joy, and peace in their life. What a priceless gift. Thank you.&rdquo;</p>
    <br /><br /><br /><br /><br /><br />
</blockquote>
</td></tr>
</table>




























