@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/njmilestones.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote>
<br><br />
<div class="header">
   ANOTHER ATTACK ON OUR HERITAGE<br><br>
   New Jersey ’s Churches Are Literal Milestones
</div><br> <br />
<div class="writer">
    By Walker Joyce
</div><br>
<br><br>    
    <p>The so-called Establishment Clause in our glorious First Amendment is the most misunderstood phrase in the entire Constitution.</p>
    <p>&ldquo;Congress shall make no law respecting an establishment of religion&rdquo; should be plain enough. It means the Founders didn&rsquo;t want to duplicate the Church of England, which Henry the Eighth established to replace Roman Catholicism, with himself as its head.</p>
    <p>In other words, they didn&rsquo;t want to sanction an official national church. </p>
    <p>Its second part clarified things further: &ldquo;&hellip;Or prohibiting the free exercise thereof.&rdquo; </p>
    <p>And still, people misinterpret it. They take these lovely 16 words as a condemnation of ANY religious expression in public, hoping to completely divorce our government from anything that references God or Spiritualism.</p>
    <p>The clause actually means the opposite of exclusion. It only seeks to prevent favoring one faith over another. It was NEVER meant to block public prayer, bludgeon schools from singing carols, or forbid Christmas trees in front of city hall. <em>The complete separation of Church and State is a myth.</em></p>
    <p>Indeed, the Founders mentioned God twice in the Declaration of Independence, and they fervently believed a moral (i.e. a worshipping) populace was vital to self-government. In his classic book <em>Democracy in America</em>, French scholar Alexis de Tocqueville called our churches the key to our republic&rsquo;s success!</p>
    <p>We&rsquo;ve long suffered from this Bill of Rights delusion, and now it&rsquo;s driving the latest assault on state history. Churches that are inextricably linked to our secular past are being denied restoration funds, simply because they&rsquo;re houses of worship.</p>
    <p>Yes, this stems from a strict reading of our state constitution, which says no person &ldquo;should be obliged to pay taxes for building&rdquo; sanctuaries, or &ldquo;the maintenance of any ministry.&rdquo; But such literalism misses the real issue: these churches are actual bricks and mortar of our past.</p>
    <p><strong>You simply CAN&rsquo;T separate them from New Jersey&rsquo;s story.</strong> Consider:</p>
    <p>--The First Presbyterian Church of Elizabeth occupies the site of that city&rsquo;s and our state&rsquo;s founding in 1664. Erected in 1668, its grounds included an Academy ironically attended by both Alexander Hamilton and his eventual killer Aaron Burr. The campus was burned by the British during the Revolution. </p>
    <p>(Colonial villages with Presbyterian churches were usually patriot strongholds, as opposed to those with Anglican, i.e. Episcopal congregations, populated with English loyalists. Thus, identifying what denominations were on the map was and is a shorthand way of classifying a town&rsquo;s Revolutionary allegiance.)</p>
    <p>--James Caldwell, the famed &ldquo;Fighting Parson,&rdquo; was Elizabeth&rsquo;s pastor, and after it was torched he and wife Hannah moved to present-day Union. She was killed by enemy fire during a fight there, and 16 days later the grieving minister took up arms during the Battle of Springfield.</p>
    <p>When the Continental artillery ran out of wadding for their cannons, Caldwell (whose name would eventually grace another city) grabbed songbooks from the pews, tore out the pages and shouted &ldquo;Give &lsquo;em Watts, boys!&rdquo;, referring to Isaac Watts, the composer of many classic hymns. Today, you can visit the adjoining &ldquo;Cannonball House&rdquo; near the Springfield church, which was scarred by Redcoat shells.</p>
    <p>--George Washington spent two winters in Morristown during the war, and he took communion at the Presbyterian Church, which as now had grounds adjacent to the famed Green. Today, a stained-glass window in the current sanctuary commemorates the event. </p>
    <p>--My home parish, the Presbyterian Church at New Providence, is also forever fixed to America&rsquo;s beginnings. It was founded in 1737, 39 years before the country was, when the place was called Turkey. During the fight for liberty 700 citizens routinely worshiped there, and the cemetery contains scores of Continental soldiers. One fateful Sunday, the balcony collapsed onto the main floor. That no one got hurt was attributed to &ldquo;Divine Providence,&rdquo; and in 1750 the town was (blessedly) renamed New Providence. The building&rsquo;s image still appears on the city seal.</p>
    <p>There are many more churches that date way back, and all are indelible parts of their local (and state) history. I doubt that patching their leaky roofs or doing other repairs jeopardizes religious freedom.</p>
    <p>Many are also precious architectural relics, like the Reformed Church in Pequannock, which has a steeple designed by the celebrated draftsman Sir Christopher Wren, who created London&rsquo;s St. Paul&rsquo;s Cathedral.</p>
    <p>That special interest groups backed by the ACLU can prevent money earmarked for their preservation is just<strong> wrong</strong> and should be challenged. Otherwise, more of our heritage will meet the wrecking ball.</p>
  <br><br><br>
 </blockquote>
</td></tr>
</table>
