@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/monicascorner.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote>
<br>
<div class="header">
<table align="left">
	<tr>
		<td width="200" align="left"><img src="~/images/writers/monicagiglio2.jpg" alt=""></td>
	</tr>
</table>   
    Cooking With Color
</div><br />
<div class="writer">
By Monica Giglio</div>
<br><br />    
    <br><br />    
    <table align="right">
        <tr valign="top">
            <td width="260" align="right" style="font-size:x-small">
                <img src="~/images/articles/monicascorner1.jpg" border="0">
            </td>
        </tr>
    </table>
    <p>Creative thought permeates the very existence of artists and is reflected in everything they do. From a young age, my art was expressed in the way I dressed, did my hair, wrote, arranged my room, and even made its way into the way I helped my mom in the kitchen. Cooking was a natural expression of creativity for me, and I hope it will be for you too. My siblings were subject to my experiments like meatloaf with two peeled, hard-boiled eggs in the middle (successful), and banana bread with a peeled banana in the middle (epic fail!). These two recipes confabulate into one food, in their memories as &ldquo;&hellip;the time Monica made meat loaf with a banana in the middle!&rdquo;</p>
    <p>As a freelancer, I rely partially on social media to market my products, offering up pictures regularly. However just for fun, almost a decade ago I first posted a food picture. In keeping with the theme of something in the middle, &ldquo;Spaghetti in Meatloaf&rdquo; got a lot of attention and response. As its name implies, I molded an Italian seasoned meatloaf around a mound of leftover cooked pasta drenched in sauce. The meal was presented like a Bundt cake; each slice had an outside ring of meatloaf, encircling a pasta middle. I was surprised by the overwhelming response, as a decade ago people weren&rsquo;t taking food pictures like today. I continued to intermittently post my epicurean creations, most made without any electric appliances. Comments, likes, and responses were always plentiful. Without a doubt, of all the products, ideas, and concepts I have posted over the years, it is the food pictures that get the most attention. In time, I had hundreds of food photos in an album on my computer labeled &ldquo;Culinary Intuition.&rdquo; I was on to something! So, it finally occurred to me to write a cookbook. But not just one cookbook; a whole series!</p>
    <p>The cookbook series I am compiling contains recipes for every day foods that can be prepared quickly and easily by anyone and can be summarized as an artistic approach to preparing, presenting, and economizing every day, familiar foods! Many current dietary trends are interspersed throughout each edition such as vegetarian, low carb, high protein, clean, whole, and occasionally, even a little junk food. Also, several editions are devoted to one of these singular trends.</p>
    <p>Food should look as good as it tastes, so I employ the rules of color theory, composition, and other formal elements of art. The Cooking With Color series is about engaging more senses than just taste. Color obviously appeals to the sense of sight and serves an enormous role in making food look appetizing, but there is more than just taste and color that goes into cooking like an artist! My outside the box approach is free of rigid ideas about the foods associated with breakfast, lunch, and dinner. Artistic concepts are introduced within the recipe discussions to help the reader gain the confidence to express their own creativity.</p>
    <p>Minimalism is another prominent theme. I lean toward economy of ingredients, time, and appliances in most recipes in the Cooking With Color Series. This means many recipes can be completed less than thirty minutes, with almost no need for special kitchen gadgets, and there are no obscure or expensive ingredients. Everything you need can be found in a typical grocery store.</p>
    <p>Readers will find that some recipes appear in more than one edition of Cooking With Color, or in more than one chapter within the same edition. For example, Warm Banana Tortilla may appear in a Breakfast Chapter, and again in a Desserts Chapter where it can be topped with whipped cream and chocolate syrup!</p>
    <p>Even though a few fried foods are included as well as desserts and treats, most recipes are highly nutritious. The entire Cooking With Color series which will be available this year as e-books, each less than $5 with full color pictures of course. Most of all, this series will help you learn to see food preparation not as a chore, but as an artistic expression, served to your favorite people or just for you!!</p>
    <p>&nbsp;</p>

    </blockquote>
  <br><br><br>
</td></tr>
</table>