@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/njbest.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote>
<br>
<div class="header">
    NEW JERSEY YOUTH CHORUS<br /><br />
    CELEBRATES 25TH ANNIVERSARY SEASON
</div><br />
<div class="writer">
</div>
<br><br />
    <table align="center">
        <tr>
            <td width="200" align="center"><img src="~/images/articles/njbest1.jpg" alt=""></td>
        </tr>
    </table>
    <br /><br />
    Chatham, NJ – The New Jersey Youth Chorus, founded in 1992 by Patricia Joyce, is marking its 25th Anniversary Season this year, and there is much to celebrate.  In its 25 years, NJYC has grown from 30 students in grades 5-8, to five ensembles and a musicianship class with over 200 choristers from ages 8 to 18.  Today NJYC’s choirs perform locally, nationally and internationally for community, civic and corporate audiences. Expansion has not meant losing sight of its mission, however. As Mrs. Joyce explains, “While there have been incredible changes over the past 25 years, one thing has remained constant – our commitment to each child’s artistic, emotional and personal growth.  It is far more than singing. We teach values, we nurture, we inspire.”
    <br /><br />
    <table align="center">
        <tr>
            <td width="200" align="center"><img src="~/images/articles/njbest2.jpg" alt=""></td>
        </tr>
    </table>
    <br /><br />
    Originally called the “Somerset Hills Children’s Chorus”, NJYC was started to expand children’s exposure to the joy of music. For Mrs. Joyce, a General Music and Choir instructor at Bernardsville Middle School at the time, 20 minutes of choir three days a week was simply not enough to provide the true appreciation and confidence that music can inspire.
    <br /><br />
    The original rehearsal location for the Somerset Hills Children’s Chorus was St. Bernard’s Church in Bernardsville. The choir was renamed the New Jersey Youth Chorus in 2001-02, the 10th Anniversary Season. Two years later, NJYC relocated to the College of St. Elizabeth to accommodate the need for more space.  NJYC now rehearses at Chatham United Methodist Church.
    <br /><br />
    As the organization grew, so did the opportunities.  The first performance at a music convention was during the 3rd season; NJYC now performs regularly at such events. This season Coriste, NJYC’s 14-18-year-old girls’ ensemble directed by Mrs. Joyce, was invited to perform at the National Conferences of both the American Orff-Schulwerk Association (AOSA) and the Organization of American Kodaly Educators (OAKE). They have also performed three times at the American Choral Directors Association’s Eastern Division Conference, and Coriste was the only children’s choir invited to sing at Chorus America’s 2009 National Conference. One audience member at the AOSA conference observed, “These girls have music in their souls - it shows in their faces and their movements.”
    <br /><br />
    NJYC’s first music festival was in its 5th season; the choristers now attend multiple festivals a year.  The first tour was in season 6, tours are now an annual event.  NJYC has also had the opportunity to sing at multiple sporting events, from NY Mets and NY Yankees games to joining Queen Latifah for America the Beautiful at Super Bowl XLVIII. After an NJYC performance of the Star-Spangled Banner at the Jimmy V Basketball Classic at Madison Square Garden earlier this season, one of the announcers there commented, "That is the way the National Anthem is supposed to be sung!"
    <br /><br />
    Over the last 25 years, NJYC’s choirs have sung in such distinguished venues as Lincoln Center and Carnegie Hall, toured in locations ranging from Chicago to the Czech Republic, and collaborated with such renowned musicians as The Chieftains, Ronan Tynan, the Canadian Brass, the New Jersey Symphony Orchestra, and many others. Ensembles have appeared on The Today Show, lifted spirits with performances in children’s hospitals and retirement homes, hosted many visiting youth choirs, and sponsored music educator workshops.  The organization’s “Kids for Kids” concerts benefit children’s organizations and charities, and a CD entitled Stand Together; Music of Hope and Healing was recorded and donated to area hospitals for patients who are battling cancer and other serious illnesses.
    <br /><br />
    This year Coriste has been chosen as a Semi-Finalist in the Youth/High School Choral Performance division of the American Prize, a prestigious national competition for arts organizations. Six members of Sola Voce, the middle school girls’ ensemble, have also been selected to sing at the American Choral Director’s Association (ACDA) National Convention in Minneapolis. As described by Joe Miller, Director of Choral Activities at the renowned Westminster Choir College in New Jersey, NJYC “represents the highest quality of artistry, and is making a difference in the lives of its singers and audiences.”
    <br /><br />
    NJYC will be marking this special season with a 25th Anniversary Gala on Sunday, April 30th.  The spring concert is on May 21st, and there are many other events on the calendar, including two workshops, several festivals and tours, and an appearance at an upcoming Harlem Globetrotters game. For more information on NJYC’s performances and auditions, please visit <a href="http://www.njyouthchorus.org" target="_blank">www.njyouthchorus.org</a>.

</blockquote>
  <br><br><br>
</td></tr>
</table>