@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/nutrition.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote>
<div class="header">
    <table align="left">
        <tr>
            <td colspan="2" class="header">
                <br /><br /><br />
                Good Nutrition Made Easy for Older Adults
                <br /><br /><br>        
            </td>
        </tr>
    </table><br /><br />        
</div>     <br><br /><br>
    <br><br /><br>
    <p>(NAPS)&mdash;Roughly 110 million adults in the U.S. are age 50 or older. If you&rsquo;re one of them or know someone who is, there&rsquo;s something you need to know: As you age, your nutrition needs change. You may become less active, your metabolism slows, and your ability to absorb some nutrients becomes less efficient. You need fewer calories to keep you going&mdash;which means the amount of nutrients in your food becomes even more important. </p>
    <p>To help, the U.S. Department of Health and Human Services and nutrition scientists at the Jean Mayer U.S. Department of Agriculture Human Nutrition Research Center on Aging at Tufts University, with support from AARP Foundation, created MyPlate for Older Adults. </p>
    <br /><br />
    <table align="right">
        <tr>
            <td width="120" align="left"><img src="~/images/articles/nutrition101a.jpg" alt=""></td>
        </tr>
    </table>    
    <p><strong>What&rsquo;s on MyPlate for Older Adults?</strong></p>
    <p>Based on the federal government&rsquo;s guide to forming healthy dietary habits, MyPlate for Older Adults makes good nutrition easy. Even better, it helps seniors with fixed incomes select healthy foods within their budget. That includes showing how frozen, dried and canned fruits and vegetables can be wise alternatives to fresh produce. </p>
    <p>MyPlate for Older Adults encourages eating whole grains, which are high in fiber, as well as plant-based proteins such as beans and tofu, along with fish and lean meat. Vegetables and fruits make up half the plate, reflecting the importance of eating several servings a day in a range of colors. MyPlate for Older Adults also recommends using herbs and spices instead of salt to season food. Cutting back on salt can have big health benefits&mdash;especially for older adults, who are at risk of hypertension. </p>
    <p>You can use the MyPlate for Older Adults as a tool when you shop to help you decide on types and combinations of foods, and as a reminder that the foods you choose to eat should be rich in vitamins and minerals.</p>
    <p>The rest of the recommendations include:</p>
    <ul>
    <li>Brightly colored vegetables such as carrots and broccoli </li>
    <li>Deep-colored fruit such as berries and peaches</li>
    <li>Whole, enriched and fortified grains and cereals such as brown rice and 100 percent whole wheat bread</li>
    <li>Low-fat and nonfat dairy products such as yogurt and low-lactose milk</li>
    <li>Dry beans and nuts, fish, poultry and eggs</li>
    <li>Liquid vegetable oils, soft spreads low in saturated and trans fats</li>
    <li>Lots of fluids such as water and fat-free milk</li>
    <li>Physical activity such as walking, resistance training and light cleaning.</li>
    </ul>
    <p><strong>Learn More</strong></p>
    <p>You can check out MyPlate for Older Adults and find more information about AARP Foundation at www.aarpfoundation.org/myplate.</p>
    <p><strong>Older people can help their own health by watching what they eat.</strong></p>
    <br><br><br>
  </blockquote>
</td></tr>
</table>

