@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/ontherecord.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote>
<br>
<div class="writer">    
     <table align="left">
        <tr valign="top">
            <td align="left">
                <img src="~/images/writers/lholstein.jpg" border="0">
            </td>
            <td width="5%"></td>
            <td>   
                <div class="header">
                    Keenobby<br><Br>
                    <a href="https://www.keenobby.com/" target="_blank">https://www.keenobby.com/</a>
                </div><br /> <br /><br />
                <div class="writer">
                    By Lauren Holstein             
                </div>                
            </td>
        </tr>
    </table><br /><br />
</div>
    <br><br /><br><br /><br><br /><br><br /><br>
    <p>September may mean back to class for most, but that doesn&rsquo;t necessarily mean for reading, writing, science or math! Keenobby.com connects people to share in authentic arts, crafts, fashion, beauty, cooking, and baking experiences in New York City. Their website hosts a global community of &ldquo;makers&rdquo; showcasing creative talents through various classes. The site&rsquo;s visitors can then connect with the &ldquo;makers&rdquo; and select join in on their classes, which are hosted at various locations and times. Experiences are broken down into four different categories: Arts &amp; Crafts, Food &amp; Drink, Health &amp; Wellness, and Nature &amp; Science.</p>
    <table align="right">
        <tr>
            <td width="250" align="right">
                <img src="~/images/articles/ontherecord1.jpg" />
            </td>
        </tr>
    </table>        
    <p><br />Founded in 2015, every Keenobby class is a unique experience and a way to learn new skills. I stumbled upon Keenobby through a work newsletter. I don&rsquo;t think anyone would be surprised to find out that I first searched through the Arts and Crafts section. Upon seeing all the group activity options, I decided to book a clay flower making class for a Bachelorette party I was planning, as I knew the bride would love the hands-on experience. The class was outlined as five people maximum and lasted for two hours. All necessary materials were provided, and everyone got to bring home their creation. &ldquo;We left with a beautiful rose that can be mistaken for a real flower. I love that I have this clay rose out in my apartment to remember such a special day!&rdquo; says Alexa Nelson, 27, the bride.</p>
    <p><br />The small class size was perfect as it allowed us to have a private experience. Additionally, the &ldquo;maker&rdquo; was extremely communicative and accommodating prior to us booking. She let us adjust the minimum size of the class to fit our entire group, adjust the timing last minute, move the location from Brooklyn to Manhattan, and allowed us to cater for lunch. She was just as accommodating on the day of with Nelson describing the experience as &ldquo;very laid-back, enjoyable, and a good amount of time.&rdquo; &ldquo;The teacher was very sweet. She took pictures of us, helped us if we wanted it, had conversations with us, and was very clear and explicit when giving us step by step directions.&rdquo;</p>
    <p><br />Nicki Berman, 27, who also attended the class, noted how the small size allowed a lot of one on one attention. &ldquo;The teacher was intricate when it came to explaining how we were supposed to make the clay rose and she was there to help at all times. I would definitely recommend this class.&rdquo;</p>
    <p><br />Keenobby offers classes for all ages and interests with prices varying depending on the experience you choose. Their catalog is full of options for private events, birthday parties, bachelorettes, team bonding, or for yourself to create a custom gift for a loved one.</p>
    <p><br />Also, if you want to host workshops, provide event services, or sell custom items, Keenobby is still accepting &ldquo;expertainers&rdquo; into their global community. By becoming an expertainer, you can showcase your talents on <a href="http://Keenobby.com" target="_blank" rel="noopener">Keenobby.com</a>, meet the right customers, and gain opportunities to host experiences!</p>
    <p><br />While fun in the sun may be coming to an end... it doesn't mean that there can't be fun in the classroom!</p>
    <br><br><br>
  </blockquote>
</td></tr>
</table>

