@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/paws.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote>
<br>
<div class="header">
    I Miss my Mommy!
</div>
<br /><br />
<div class="writer">
By Mary Lou Hanlon</div>    
    <br /><br />    
    
    <br /><br />     
    <p>Is your canine confident in his role as fun-loving companion, providing the family with unconditional love, comfort, and lots of laughs? Perhaps your canine doesn&rsquo;t fit this description. Perhaps your canine is nervous, anxious, and uncomfortable when the environment changes due to your absence, a condition known as separation anxiety.</p>
    <p>So, why are many animals not concerned when their owners leave while others are thrown into a panting, barking state that is not good for the dog or the owners? We can&rsquo;t ignore the genetic component at play here as, just like people, dogs are pre-disposed to their own personality traits. Other reasons include but are not limited to being abandoned, experiencing something very scary or a significant change in environment such as boarding, top the list as some underlying causes for this condition. Many animals will bounce back just fine from these experiences, but some do not.</p>
    <p>In this article I am going to specifically address what steps puppy owners can take to help ensure that their puppy grows up well-adjusted and confident. </p>
    <ol>
    <li> Provide your animal with its own special place where it is safe. A sturdy crate is a perfect place. Contrary to what many people think, a crate is not cruel and if introduced properly can become a haven for the animal. Dogs by nature like small cozy spaces. A great way to teach your puppy that the crate is its special place is to feed him his meals there.</li>
    <li>Make sure your dog is well-exercised and has gone to the bathroom before you leave. Tired puppies are good puppies and if it is physically comfortable the chances that it will remain relaxed in your absence is great.</li>
    <li>Just before you leave your puppy home alone give your puppy a special treat that will keep him occupied. Go to any pet supply store and you will find several different toys that you can fill with something yummy that your dog would love to lick.</li>
    </ol>
    <p>Upon leaving don&rsquo;t make a big deal about your departure. You don&rsquo;t want to bring any attention to the fact that your dog is now being left alone. Have your puppy in its crate, give it it&rsquo;s special treat and leave.</p>
    <ol>
    <li> Dogs are phenomenal when it comes to picking up patterns of behavior. We all are creatures of habit. Purposefully alter how you exit your home. For example, don&rsquo;t always go out the same door to get to your car. Go out different exits with your dog happily licking that special treat and your departure will become associated with something good for your puppy!</li>
    <li>If possible, try and keep your puppies&rsquo; environment consistent. If you are planning significant time away from home such as a vacation or business trip, instead of boarding consider using a reputable pet-sitting service such as PetMinders, Inc. A reputable service can come into your home at specified times and care for your puppy where it lives keeping the sights, sounds and smells familiar.</li>
    <li> Do not inadvertently reward attention getting behaviors like barking and scratching. Attention should be provided when the dog is exhibiting calm behavior and over time your puppy will learn that calm behavior is what gets your attention.</li>
    <li>Discuss any separation anxiety you are seeing with your veterinarian. There may be some underlying medical causes for the behavior. Homeopathic remedies such as chamomile, passionflower, St. John&rsquo;s Wort and valerian can be used to help calm a dog. Discuss this with your veterinarian to see if appropriate and what dosage to use.</li>
    </ol>
    <p>Have fun with your animals. They are counting on you to provide them with a safe, loving and nurturing environment.</p>

    <br><br /><br />
    <i>Mary Lou Hanlon is a longtime resident of Warren and is the owner of PetMinders, Inc, The Kennel Alternative.  PetMinders has been providing professional pet sitting and dog training lessons in the privacy of clients homes for over 18 years.  Mary Lou is one of the nation's top agility competitors.  She has competed both nationally and internationally and has received numerous awards in both dog obedience and agility.   She can be reached at 908-755-PETS (7387), via email at <a href="mailto:petmindersinc@yahoo.com">petmindersinc@yahoo.com</a> or visit the website <a href="http://www.petmindersinc.com" target="_blank">www.petmindersinc.com</a></i>
</blockquote>
<br><br><br>
</td></tr>
</table>


