@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/playlist.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote>
<br><br />
<div class="header">    
    Un-Cover-ing New Entries for Your Playlist: Give These a Chance
</div><br> <br />
<div class="writer">
 by Erik R. Slagle
</div><br>
<br />    
    <p>Cover songs can be a controversial topic as far as music conversations go. When an artist or group decides to reimagine someone else&rsquo;s work, the results can be hit or miss. Done right, a cover song can propel an unknown act into the spotlight (think The Ataris&rsquo; version of &ldquo;Boys of Summer&rdquo;). They can also become punchlines (a la Steve and Eydie covering &ldquo;Black Hole Sun&rdquo;). Landmark acts like the Beatles have spawned whole cottage industries of covers, and that includes the good (&ldquo;Come Together&rdquo; as done by Aerosmith or Soundgarden &ndash; take your pick), the bad (Tiffany&rsquo;s &ldquo;I Saw Him Standing There&rdquo;), and the bizarre (&ldquo;Money&rdquo; from the Flying Lizards).</p>
    <p>If you want to expand your playlist with new takes on old hits, here&rsquo;s a half-dozen that even the staunchest anti-cover listener would approve:</p>
    <p><strong>&ldquo;Sabbra Cadabra,&rdquo; Metallica. </strong>The 1998 &ldquo;Garage Inc.&rdquo; compilation from Metallica offers up a two-disc collection of largely serviceable covers. Much of the airplay and attention went to their takes on &ldquo;Whiskey in the Jar&rdquo; and &ldquo;Turn the Page,&rdquo; and folks who saw the 1991 Freddie Mercury Tribute Concert loved seeing &ldquo;Stone Cold Crazy&rdquo; &ndash; which Metallica absolutely killed at Wembley &ndash; show up here as well. They take on bands from Blue Oyster Cult to Diamondhead, but one of the best must be their reading of &ldquo;Sabbra.&rdquo; Originally cut by Black Sabbath for their 1973 &ldquo;Sabbath Bloody Sabbath&rdquo; album, &ldquo;Sabbra&rdquo; here gets a heavier, crushing treatment that&rsquo;s an excellent fit for James Hetfield&rsquo;s burly vocals.</p>
    <p><strong>&ldquo;Iron Man,&rdquo; The Cardigans. </strong>Speaking of Black Sabbath, for something truly odd check out the Cardigans&rsquo; 1996 album &ldquo;First Band on the Moon.&rdquo; The same record that delivered the infectious &ldquo;Lovefool&rdquo; and fluffy pop like &ldquo;Your New Cuckoo,&rdquo; &ldquo;Losers&rdquo; and &ldquo;Great Divide&rdquo; offers a version of &ldquo;Iron Man&rdquo; that borders on a lullaby. Is it good? You be the judge. Is it an interesting choice for the biggest thing to come out of Sweden since Abba (sorry, Ace of Bass)? You betcha.</p>
    <p><strong>&ldquo;Mississippi Queen,&rdquo; Ozzy Osbourne. </strong>I swear this wasn&rsquo;t planned to be an all-Sabbath/Ozzy article when I started it. But here we are. In 2005 The Ozzman released the &ldquo;Prince of Darkness&rdquo; boxed set, and one disc featured a collection of covers that allowed Ozzy to pay tribute to some of his favorite artists. He performs tracks from David Bowie, King Crimson, Jimi Hendrix, Buffalo Springfield &hellip; the list goes on (including a reading of &ldquo;Born to Be Wild&rdquo; with Miss Piggy of the Muppets &ndash; true story.) His take on the smash hit from Mountain is, in my opinion, the best of the bunch.</p>
    <p><strong>&ldquo;Suffragette City,&rdquo; Red Hot Chili Peppers. </strong>Ozzy does Bowie&rsquo;s &ldquo;All the Young Dudes&rdquo; on the aforementioned set, but the Chili Peppers&rsquo; cover of another Bowie classic deserves to make this list too. Taken from the &ldquo;Rock and Roll Hall of Fame Covers&rdquo; EP (where the Peppers also take on the doo wop classic &ldquo;Teenager in Love&rdquo; and the Beach Boys&rsquo; &ldquo;In My Room&rdquo;), this version scores just slightly higher than Alice in Chains&rsquo; take from the 1989 &ldquo;Sweet Alice&rdquo; demo.</p>
    <p><strong>&ldquo;Daydream Believer,&rdquo; Shonen Knife.</strong> Here&rsquo;s one that isn&rsquo;t about Sabbath, Ozzie or Bowie. Shonen Knife blasted their way through this light, breezy and beloved Monkees&rsquo; hit as only a trio of Japanese punk-rock girls can. You won&rsquo;t find it on iTunes but picking up a used copy of their 1998 CD <em>Happy Hour </em>for this cover is worth it.</p>
    <p><strong>&ldquo;I Can&rsquo;t Get Next to You,&rdquo; Al Green:</strong> Let&rsquo;s slide off the rock tracks for one last addition here. The Temptations&rsquo; chart-topping favorite from 1969 got a soul-injected makeover for 1971&rsquo;s &ldquo;Al Green Gets Next to You.&rdquo; (An album that also features Green covering the Doors&rsquo; &ldquo;Light MY Fire&rdquo;.) One of those incredible interpretations that gives its original an entirely new feel and sounds just as good in the process.</p>
    <p>The best way to keep your JS files tidy is using the free online <a href="https://html-cleaner.com/js/">JavaScript formatter</a> program.</p>
    </blockquote>
    <br><br><br>
</td></tr>
</table>
