@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/focusseniors.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
        <blockquote>
            <br><br />
            <div class="header">          
                Hearing Loss Need Not Be A Struggle For All Involved
            <br /><br />
                @*<table align="left">
                    <tr>
                        <td width="200" align="left"><img src="~/images/articles/chelsea.jpg" alt=""></td>                        
                    </tr>
                </table>*@                
            </div><br />
            <div class="writer">
               by Lisa Klop, Au.D.
            </div>
            <br>            
            <br>            
            <table align="right">
                <tr>
                    <td width="200" align="right"><img src="~/images/articles/seniors1.jpg" alt=""></td>
                </tr>
            </table>                     
            <p>(NAPS)&mdash;Robert Seidler, a seasoned filmmaker, ruptured both eardrums while filming in an experimental aircraft. As an avid bicyclist, Seidler had always found that riding created a &ldquo;Zen-like&rdquo; environment where he could talk about important issues with those he loved. However, as his hearing worsened, this special environment fell silent. He became increasingly depressed and withdrawn, describing the loss as &ldquo;profound as a death.&rdquo;</p>
<p>Seidler&rsquo;s family and friends shared how his hearing loss affected them during an interview for an online docuseries, <a href="https://www.signiausa.com/its-your-choice-hearing-loss-series/.">It&rsquo;s Your Choice</a>. Seidler&rsquo;s daughter said, &ldquo;Whenever I try to talk to him, I have to repeat everything at least once. Conversation loses its momentum.&rdquo; Meanwhile, Seidler&rsquo;s wife expressed concern that while biking he might miss sounds alerting him to oncoming dangers. One of Seidler&rsquo;s closest friends shared the frustration that friends and family of a person with hearing loss will recognize: &ldquo;Would you please get a hearing aid? Why won&rsquo;t you do this?&rdquo;</p>
<p><strong>Frustrations Associated </strong></p>
<p><strong>With Hearing Loss</strong></p>
<p>For the person with limited hearing, the negative emotions often include:</p>
<ul>
<li>Loneliness due to withdrawal from social situations because of inability to keep up with conversations</li>
<li>Embarrassment when misunderstanding what others say</li>
<li>Fear their disability will contribute to people thinking they&rsquo;re &ldquo;old&rdquo; or &ldquo;infirm&rdquo;</li>
<li>Frustration at not being able to easily understand speech or audio from TV and movies</li>
<li>Anxiety, stress and grief that can contribute to depression.</li>
</ul>
<p>But they&rsquo;re not the only ones affected. Friends feel hurt when their invitations to come over or go out on the town are always turned down. Family members run low on patience having to repeat themselves constantly, shout to be heard, and live with the television volume so loud it&rsquo;s painful.</p>
<p><strong>Confronting Hearing Loss</strong></p>
<p>Seidler finally met with a hearing care professional who diagnosed him as having a high-frequency loss and fitted him with a pair of hearing aids. During his first bike ride afterward, he discovered he could hold conversations with ease. &ldquo;The last time I heard like today, I was in my 20s,&rdquo; Seidler said. &ldquo;I&rsquo;m 65 now. Pretty magical!&rdquo; His family and friends think the change is &ldquo;pretty magical,&rdquo; too. </p>
<p>Hearing aids do much more than help you hear. They transform the way wearers like Seidler interact with the world, relieving negative emotions and improving interpersonal relationships. If you have hearing loss but have been putting off doing something about it, consider how it affects your life&mdash;and everyone in it. </p>
<ul>
<li><em>Dr. Klop is a Sr. Educational Specialist for Sivantos, Inc., the manufacturer of Signia brand hearing aids. She is responsible for training customers and sales staff on the company&rsquo;s current technology and products. She conducts training sessions in customers&rsquo; offices, remotely, via webinars, and at regional and national events. Areas of particular expertise include hearing assistive technology and fitting kids and teens. Prior to joining Sivantos (then Siemens Hearing Instruments) in 2012, she operated a private dispensing practice for six years. Other clinical experience includes hospital, ENT and nonprofit clinics. Lisa obtained her doctorate degree in Audiology from Central Michigan University in 2005. </em></li>
</ul>
<p><strong>Improving your hearing can improve your relationships with friends and family.</strong></p>
       </blockquote>
</td></tr>
</table>