@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/spicestyle.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote>
<br>
<div class="header">
<table align="left">
	<tr>
		<td width="170" align="left"><img src="~/images/writers/julieurban.jpg" width="150" height="220" alt=""></td>
	</tr>
</table>
<br /><br /><br /><br />
    Sneakers, Boots and Mules... oh my!
</div> 
<br>
<div class="writer">by Julie Urban</div>
<br><br><br />
    Forget your basic black or standard brown knee-high riding boots. This fall, you are upgrading the best part of any woman's closet...the shoe section! A great pair of shoes doesn't have to cost a lot to be
    current and can upgrade your entire ensemble look to be instantly on trend for the latest fall fashion styles. Check out my top four picks to update your wardrobe through this season’s top shoe trends.
    <br><br><br /><br><br><br />      
    <table align="center">
        <tr>
            <td width="180" align="right">
                <img src="~/images/articles/styleb1.jpg" border="0">
            </td>
        </tr>
    </table>    
    <br /><br />    
    <table align="center">
        <tr>
            <td width="180" align="left">
                <img src="~/images/articles/styleb2.jpg" border="0">
            </td>
        </tr>
    </table>    
    <br /><br />
    <table align="center">
        <tr>
            <td width="180" align="right">
                <img src="~/images/articles/styleb3.jpg" border="0">
            </td>
        </tr>
    </table>    
    <br /><br />
    <br />
    <table align="center">
        <tr>
            <td width="180" align="right">
                <img src="~/images/articles/styleb4.jpg" border="0">
            </td>
        </tr>
    </table>        
    <br /><br />    
    <br /><br /><br /><br />    
  
</td></tr>
</table>