@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote>
<br>
<div class="header">
<br />
THE WATCHUNG ARTS CENTER
<br /><Br />
Teen Piano Virtuosos To Perform In Benefit Concert
</div> 
<br><br />

Five teenage piano prodigies will join hands at the Watchung Arts Center on Saturday, November 23rd at 8 PM, in a concert called Music for Music, to benefit VH1 Save the Music Foundation and The Watchung Arts Center, two non-profit organizations that support the Arts. VH1 Save the Music Foundation is dedicated to restoring instrumental music education in America's public schools, and raising awareness about the importance of music as part of each child's complete education.  The Watchung Arts Center, a volunteer-run organization, gives performing artists as well as visual artists the opportunity to display their talents to the greater community in a professional venue.  The Center is unique in New Jersey due to the depth and variety of art and music experiences and educational opportunities that it offers to children and adults.
<br /><br />
Featured performers are Justin Lee, a senior at the Union County Magnet High School; Eric Lee, a senior, and sophomores Camille Afable and Amy Zhuang who all attend Millburn High School; and Rayleen Hu, a sophomore at West Morris Mendham High School. These teenagers who already have impressive biographies and credentials want to give back to the music community by raising funds through this concert for the non-profits. All the youthful performers are students of Beatrice Long, an esteemed piano pedagogue and concert artist.
<br /><br />
<table align="right">
    <tr>
      <td width="340" align="right">
        <img src="~/images/articles/teenconcert.jpg" border="0">
      </td>
    </tr>
  </table>
The Program for the evening includes selections by a list of honored composers. Represented are compositions by Schumann, Debussy, Brahms, Chopin, Rachmaninoff, Bizet, Beethoven, Rossini, Griffes, Turina, and Villoldo.  In addition to the piano solos, a clarinet-bassoon-piano trio will be presented as well as a six-hand version of Rossini's Overture from 'The Barber of Seville'.
<br /><br />
"I want to help both organizations who work to spread their love of music with the whole community."  Camille Afable
<br /><br />
"I am participating in this concert to help raise awareness to the importance of having music in the community..."  Rayleen Hu
<br /><br />
"I believe that all students deserve to be exposed to music and all of its benefits."  Justin Lee
<br /><br />
"...I would like to help others who love music and be given the opportunity to experience and express music as I had."  Amy Zhuang
<br /><br />
"We want all children to have the necessary tools to make the music they love. With VH1 and the Watchung Arts Center, we can do just that."  Eric Lee
<br /><br />
Tickets are $20 for adults, $10 for students and can be purchased online at <a href="http://watchungartscenter.eventbrite.com" target="_blank">watchungartscenter.eventbrite.com</a> using a credit card or by a check made payable to the Watchung Arts Center, 18 Stirling Road, Watchung, NJ 07069.  Advance sale is highly recommended. To obtain more information about upcoming performances, classes and workshops or monthly art exhibitions, please visit <a href="http://www.WatchungArts.org" target="_blank">WatchungArts.org</a>.
<br /><br /><i>
</i>


<br><br></td>
</tr></table>
