@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/finewineheader.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote>
<br><br />
<div class="header">   
10 Game-Changing Cocktail Trends
</div>
    <div class="writer"><br />     
        By Merilee Kern  
    </div>
 <br><br />
 <table align="right">
    <tr>
      <td width="230" align="right">
        <img src="~/images/articles/finewine2.jpg" />
      </td>
    </tr>
  </table>    
   Mix up your spirit selections and take your soirées to an unforgettable new level this season with libations that eradicate expectations. There’s no need to hit the bar for a stellar craft cocktail, as killer concoctions are a snap to make at home! Just heed these cocktail trends offered up from Linda Losey, founder of Bloomery Plantation Distillery, and you can be a home bar rock star!
<ol>
<li>More Playfulness, Less Pretention – cheeky and whimsical brands and beverages kicking severe mixology to the curb. Preciousness and pomposity has taken a back seat to professionalism, opting for homespun hospitality over haughtiness. Cocktailing is becoming simpler with a lowbrow laid-back sensibility on the rise.</li>
<li>Small Batch is Still Big - the American Distilling Institute reports the meteoric rise in craft and micro distilleries, where true ingenuity is underway—the results of which are getting to market quicker than ever. Validating the power of craft, even the “big boys” are now getting into the small-batch business.</li>
<li>Simplicity Reigns Supreme – gone are the days where overzealous mixologists have something to prove, taking 15 minutes or more to perfect a drink. Now, simplified elixirs are at the forefront that require few ingredients and/or steps of preparation to create a killer craft cocktail—even at home.</li>
<li>Increasing Culinary Influence – fresh fruit, roots, nut and herb-laden libations are all the rage, even taking cues from the kitchen with imaginative culinary cocktail filled with farmed foodstuffs. Mixers with all-natural ingredients like Italian lemons, Hawaiian ginger, black walnuts and pumpkins are being utilized to craft distinctive, memorable and crave-worthy flavors.</li>
<li>Locavore Garden-to-Glass Libations – local and farm fresh approaches to ingredient sourcing are taking root on cocktail menus. Garden grown is in, preservatives, concentrates or artificial ingredients are out. Indeed, craft cocktail distillers are turning hand-selected agricultural ingredients grown on their own or other neighboring American farms into 100% natural artisan liquors that are elevating cocktails, beers and other beverages like coffee and tea.</li>
<li>Moonshine Goes Gourmet – once just a novelty item, distillers are now getting creative proffering high-end premium spirits like Bloomery Plantation Distillery’s SweetShine that are taking crafted cocktails to an incredible new level using time-honored recipes with a modern spin and hand-crafted technique.</li>
<li>Beer Cocktails – no longer reserved for the world of spirits, beer is being elevated with toppers and mixers taking barley and hops to a whole new level.</li>
<li>Nostalgia for Prohibition-Era Elixirs – prohibition was one of America's most colorful and complex times in its history, from flappers and suffragists, to bootleggers and temperance workers, to speak easies and The Charleston. For some it was a time of uninhibited expression, for others, a period of resistance. It was a spirited time when moonshiners flourished in spite of the revenuers' best efforts and where the “cocktail” was essentially born. Prohibition-era recipes that use distinctive ingredients—some savory, some bitter, some sweet—are back in vogue. </li>
<li>Fancy Glassware Need Not Apply – furthering the penchant for nostalgia and the pasting of pretention, mason jars have made a comeback both as a cocktail shaker for mixologists as well as a vintage-inspired drinking glass, trumping classic serving vessels at an increasing clip—particularly within the burgeoning craft cocktail culture. This old-time approach speaks of a more humble and rustic time in America, often promoting a warm and fuzzy sentimental state-of-mind even before the elixir touches the lips. </li>
<li>Handcrafted Manufacturing – today, beverage purveyors are taking a more homespun approach to crafting their wares. For some leading-edge distilleries, for example, the entire process of creating their produce-driven product is handcrafted–from the hand-zesting of every lemon to the hand-chopping of the ginger to the hand-making of syrups to actual handwriting that goes on every bottle of every label. This personalized care, concern and charm is resonating in the marketplace.</li>
</ol>
“There is clearly a growing resurgence of consumers who want to create craft beverages from high quality, fresh ingredients and sustainability-minded purveyors, but don't want to be burdened with a drink that's too complex to make,” Losey says. 
<br><br>
A tasty farm fresh cocktail using eco-conscious components that’s a breeze to make? I’ll toast to that! 
<br><br>
"The Luxe List" Executive Editor Merilee Kern scours the luxury marketplace for exemplary travel experiences, extraordinary events, and notable products and services. Submissions are accepted at <a href="http://www.TheLuxeList.com" target="_blank">www.TheLuxeList.com</a>. Follow her on Twitter here: <a href="http://www.Twitter.com/LuxeListEditor" target="_blank">www.Twitter.com/LuxeListEditor</a> and Facebook here: <a href="http://www.Facebook.com/TheLuxeList" target="_blank">www.Facebook.com/TheLuxeList</a>.

    <br><br>
</td></tr>
</table> 





