@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote>
<br><br /><br />
<div class="header">
  Wise Words & Witty Expressions
<br />
</div><br /><br /><br />
<div class="writer">
    <table align="left">
	<tr>
		<td width="150" align="left"><img src="~/images/writers/rgatz.jpg" alt=""></td>
	</tr>
</table>
    <h2>Be Happy Always</h2>
    By Renee’ Gatz, &nbsp;Author of Wise Words & Witty Expressions <a href="http://www.reneegatz.com" target="_blank">http://www.reneegatz.com</a>
</div>
<br>
    <p><strong><em>Money can&rsquo;t buy happiness</em></strong> and there is a good reason for that&mdash;it&rsquo;s free! Access to this abundantly available commodity is easily gained by making a conscience choice to find joy every day, regardless of the day. Joy is not contingent upon the world living up to our expectations. If that was the case, we would be sentenced to a life of disappointment that granted only fleeting moments of happiness, and we were designed for a far greater experience. However, achieving a rich and joyful life is up to us. We must be able to see the beauty and promise in life even when we are living through disappointment and struggle. By remembering that if we did not face challenges, but rather lived in a constant state of bliss that allowed us to fall into complacency, the beauty and promise of life would not be as deeply appreciated. </p>
    <p>To experience happiness, we must accept that the volume to which we feel happy moves up and down but is never muted. When the volume of our happiness is down, it is time to <strong><em>count our blessings,</em></strong> focus on the exquisiteness found in nature, or the love of a friend or pet. There is always a reason to be grateful regardless of the size of a challenge. By making an effort to think positively, we demonstrate that happiness cannot be muted and that a positive demeanor will see us through our challenges, so we can cheerfully embrace a new and better day. If, however, we elect to become mired down in feelings of despair and anger, we will have muted our happiness and be left vulnerable to not experiencing a joyful life. For this mentality becomes habitual and can severely block our ability to see the omnipresent beauty and promise of life. </p>
    <p>As we develop ourselves as a life force for positivity, which secures our happiness, we will find that we attract positive people and circumstances to ourselves and, thereby, build the joyful life we have been promised. With a positive attitude as our guiding mantra, we must protect ourselves from negativity. Negativity is a strong force that can lead us away from access to our happiness. While it is impossible to completely escape negativity, we can look to it as a test of our commitment to remain positive and mitigate its impact on our lives by not taking the bait when misery comes looking for company. Instead say a prayer for those who wish to poison your happy state of mind with their discontent. By doing so, you will have twice blessed yourself. Once by not falling prey to their negativity and claiming your right to be happy and twice by taking the step of helping a negative soul become a positive one.</p>
    <p>There can be no greater example of our divine right and ability to achieve happiness than when we learn of the extraordinary challenges someone has been faced with and, in spite of it all, is a positive, happy person. In fact, if you did not know their story, it would appear as if they have lived a life of ease and endless good fortune. They know better than most that there is no advantage to going through life in a perpetual state of dissatisfaction. They have mastered the ability to remain positive, embrace the beauty and wonder of this life in all its shapes and sizes and to keep a grateful heart for their many blessings. Their life is a gift to those they meet, a living inspiration and example that a happy life is achievable by maintaining a positive attitude and remembering that life is beautiful and to be celebrated, always.</p>
    <br /><br /><br />
    <i> 
        Renee’ Gatz has been an executive in the
        ﬁnancial services industry for 15 years
        where she has held a variety of marketing
        and communications roles.  Renee’ is a
        graduate of St. Peter's College in Jersey
        City, NJ where she earned a Bachelor of
        Science degree in Business Management while attending school
        in the evening and working full time. She lives in Woodbridge,
        NJ not far from her childhood home.
    </i>
<br><br><br>
    </blockquote>
</td></tr>
</table>