@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote>
<br>
<div class="writer">
<table align="left">
	<tr>
		<td width="300" align="left"><img src="~/images/articles/wordfind1.jpg" alt=""></td>
	</tr>
</table>
By Nina Ulloa
</div><br><br />
    All correct Word Find Puzzles faxed to Nina at 908-757-1148 by Oct. 19th will be entered into a drawing and a winner will be selected at random.
    <br /><br />
    <b>Please include your name,
    address, phone number &
    email in the fax.</b>
    <br /><br />
    The winner will receive a $25 Gift Card to Frutta Bowls in Warren. Good luck to all!  
    <br /><br />
<b>SUMMER WORD FIND WINNER!
</b>
<BR><br />
    Congratulations to Steve Skrobacz of Gillette. Steve won 6 tickets to a Somerset Patriots game!
    <br /><br />
<table width="900" valign="top" align="left" border="0">
<tr >
<tr>
<td align="center" colspan="3"><img src="~/images/articles/wordfindgrid.jpg" ></td>
</tr>
<tr><td><br /></td></tr>
<tr valign="top">
<td width="20%"></td>
    <td width="30%">
        Apple Picking<br>
        Aster<br>
        Autumn<br>
        Autumn In New York<br>
        Autumnal Equinox<br>
        Back To School<br>
        Baked Apples<br>
        Boarding School<br>
        Candy Corn<br>
        Drama Club<br>
        Exam<br>
        Fall Festival<br>
        Fire Prevention Week<br>
        Foliage<br>
        Football Season<br>
        Giants<br>
        Halloween<br>
        Harvest Moon<br>
        Hayride<br>
        Homework<br>
        Indian Summer<br>
        Jets<br>
        Keep It Local
    </td>
    <td>
        Kindergarten<br>
        Labor Day Weekend<br>
        Libra<br>
        Marigold<br>
        October<br>
        Oktoberfest<br>
        Opal<br>
        Patriot Day<br>
        Pine Cones<br>
        Sapphire<br>
        Scorpio<br>
        See You In September<br>
        September<br>
        Student Council<br>
        Support Local<br>
        Sweater Season<br>
        Teachers Pet<br>
        Tourmaline<br>
        Trick Or Treat<br>
        Tutor<br>
        Virgo<br>
        World Series
    </td>    
    <td>
        
      <br /><br /> 
    </td>  
</tr>
</table>
</blockquote>
</td></tr>
</table>




