<nav class="navbar navbar-default" role="navigation">
    <div class="wrap">
        <!--/.navbar-header-->
        <div style="display: flex;justify-content: center;align-items: center;">
            <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
            <ul class="nav navbar-nav">
                <li class="active"><a href="~/home">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Salutes<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/warren_edition/salutes/giovanni">Giovanni's Bistro Bar & Catering</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/salutes/goodman">Goodman's Restaurant & Deli</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/salutes/hacienda">Hacienda Mexican Restaurant & Grill</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/salutes/salted">Salted Lime Bar & Kitchen</a></li> 
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Articles<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/warren_edition/articles/artscene">The Arts Scene</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/articles/Autozone">Autozone</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/articles/booknook">Book Nook</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/articles/bytheexits">By The Exits</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/articles/cardiology">Cardiology Today</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/articles/college">College Bound</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/articles/doctor1">Dr. Is In: Barghash</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/articles/health">Eye On Health</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/articles/funfestivals">Family Fun Fall Calendar</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/articles/family">Family Matters</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/articles/seniors">Focus On Seniors</a></li>
                        <li class="divider"></li>                        
                        <li><a href="~/warren_edition/givingback/givingback22">Giving Back</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/articles/getaways">Great Getaways</a></li>
                        <li class="divider"></li>                                               
                        <li><a href="~/warren_edition/articles/home">Hints For The Home</a></li>
                        <li class="divider"></li>                        
                        <li><a href="~/warren_edition/articles/investmentplanning">Investments & Planning 2018</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/articles/kids">Kids Corner</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/articles/mayor">Letter from the Mayor's Office</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/articles/library">A Library…”The Fabric of a Town”</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/articles/locallowdown1">Local Lowdown: Charlie Alberto IV</a></li>
                        <li class="divider"></li>                        
                        <li><a href="~/warren_edition/articles/meetshowcase">Meet Our Showcase Family</a></li>
                        <li class="divider"></li>                        
                        <li><a href="~/warren_edition/articles/milestones">NJ Millestones</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/articles/nutrition101">Nutrition 101</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/articles/ontherecord">On the Record in NYC</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/articles/paws">Paws Around Town</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/articles/playlist">The Playlist</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/articles/realtor2">Realtors' Showcase</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/articles/entertaining">Simply Entertaining</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/articles/style1">Spice Up Your Style</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/articles/wordfind">Autumn Word Find</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/articles/hills">What's Happening At The Hills</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/articles/wisewords">Wise Words & Witty Expressions</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Giving Back<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/warren_edition/givingback/givingback1">Giving Back to the Community</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/givingback/givingback22">Giving Back - September 2018</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/givingback/givingback21">Giving Back - June 2018</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/givingback/givingback20">Giving Back - April 2018</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/givingback/givingback19">Giving Back - February 2018</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/givingback/givingback18">Giving Back - November 2017</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/givingback/givingback17">Giving Back - September 2017</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/givingback/givingback16">Giving Back - June 2017</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/givingback/givingback15">Giving Back - April 2017</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/givingback/givingback14">Giving Back - February 2017</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/givingback/givingback13">Giving Back - November 2016</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/givingback/givingback12">Giving Back - September 2016</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/givingback/givingback11">Giving Back - June 2016</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/givingback/givingback10">Giving Back - Apr 2016</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/givingback/givingback9">Giving Back - Feb 2016</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/givingback/givingback8">Giving Back - Nov 2015</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/givingback/givingback7">Giving Back - Sept 2015</a></li>
                        <li class="divider"></li>
                        <li><a href="~/westfield_edition/givingback/givingback2">Giving Back - June 2015</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/givingback/givingback6">Giving Back - Apr 2015</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/givingback/givingback5">Giving Back - Feb 2015</a></li>
                        <li class="divider"></li>
                        <li><a href="~/westfield_edition/givingback/givingback1">Giving Back - Nov 2014</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/givingback/givingback4">Giving Back - Sept 2014</a></li>
                        <li class="divider"></li>
                        <li><a href="~/westfield_edition/givingback/givingback">Giving Back - June 2014</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/givingback/givingback">Giving Back - Apr 2014</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/givingback/givingback3">Giving Back - Feb 2014</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/articles/divaforaday">Diva For A Day</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/givingback/givingback2">Pump It Up For Platelets</a></li>
                        <li class="divider"></li>
                        <li><a href="~/warren_edition/givingback/givingback1">Giving Back to the Community</a></li>
                    </ul>
                </li>
                <li><a href="~/home/advertise">Ad Calendar</a></li>
                <li><a href="~/warren_edition/coverartist">Front Cover Artist</a></li>
                <li><a href="~/home/aboutUs">About Us</a></li>                              
            </ul>            
            <div class="clearfix"></div>           
    </div>
  </div>    
    <!--/.navbar-collapse-->
    <!--/.navbar-->
</nav>