<div class="first_half">
    <div class="side-bar-articles">      
        <div class="side-bar-article">
            <!-- Facebook Widget -->
            <div id="fb-root"></div>
            <script>
                            (function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id)) return;
                                js = d.createElement(s); js.id = id;
                                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                                fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));
            </script>
            <div class="fb-like-box" style="width:100%" data-href="https://www.facebook.com/TheShowcaseMagazine" data-width="600" data-show-faces="true" data-stream="false" data-colorscheme="dark" data-header="true"></div>

            <!-------------End -------------------->
        </div>
        <div class="side-bar-article">
            <a href="~/listings/businessguide"><img src="~/images/shared/business4.jpg" alt="" /></a>
            <div class="side-bar-article-title">
                <a href="~/listings/businessguide">BUSINESS GUIDE</a>
            </div>
        </div>
        <div class="side-bar-article">
            <a href="~/home/testimonials"><img src="~/images/shared/testimonials.jpg" alt="" /></a>
            <div class="side-bar-article-title">
                <a href="~/home/testimonials">TESTIMONIALS</a>
            </div>
        </div>
        <div class="side-bar-article">
            <a href="~/issues/index_issues"><img src="~/images/shared/past_issues.jpg" alt="" /></a>
            <div class="side-bar-article-title">
                <a href="~/issues/index_issues">PAST ISSUES</a>
            </div>
        </div>
        <div class="side-bar-article">
            <a href="~/images/ad/pop_Ad_big.jpg" class="popper" data-popbox="pop1" target="_blank"><img src="~/images/ad/pop_Ad_small.jpg" alt="" /></a>
            <div class="side-bar-article-title">
                <a href="~/home/testimonials">CUTIE PIE AWARD</a>
            </div>
        </div>        
    </div>
</div>
<div class="clearfix"></div>