@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Salutes</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
    <tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
    <tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/ssalutes1.jpg" width="339" height="11"></td></tr>
    <tr><td id="header2" align="left"><div id="salutes"></div></td></tr>
    <tr><td bgcolor="#FFFFFF"><a href="http://www.giovannisbistrobar.com" target="_blank"><img src="~/images/salutes/giovanni.jpg" border="0"></a></td></tr>
    <tr>
        <td bgcolor="#FFFFFF" valign="top" align="left">
            <blockquote><br /><br />
                <div class="header">                           
                </div>
                <br>
                <br />                
                <div class="writer">   
               By Erik Slagle 
                </div>
                <br /><br />                               
                <p>After a successful experience in a cozy restaurant setting, Giovanni&rsquo;s Bistro is growing.</p>
                <p>By early September, this exciting dining spot will increase in size with more seating and a larger bar. </p>
                <p>The first thing you notice when you enter Giovanni&rsquo;s Bistro Bar and Catering on Springfield Avenue in Berkeley Heights might just be the d&eacute;cor. Linens in soft, easy shades of lavender tell you this isn&rsquo;t just another &ldquo;white tablecloth&rdquo; dining experience. There&rsquo;s something different about Giovanni&rsquo;s &ndash; casual yet elegant, upscale yet welcoming, with a husband-and-wife ownership team who built the bistro as a passion project of sorts after fulfilling careers in other fields. At Giovanni&rsquo;s, the name of the game is customer service and guest satisfaction &ndash; which only makes the outstanding food taste that much better!</p>
                <table align="right">
                    <tr>
                        <td width="250" align="right"><img src="~/images/salutes/giovanni1.jpg" alt=""></td>
                    </tr>                     
                </table>
                <p>Proprietors Nadine and Bob Tokash opened Giovanni&rsquo;s &ndash; named for their grandson, John &ndash; a little over five years ago, after Nadine enjoyed a rewarding, 40-year career as a school speech pathologist in the Berkeley Heights school district, and Bob completed three decades with the Pitney Bowes Corporation. After a fair amount of anticipation with town approval, they were able to open the doors to more than a restaurant &ndash; they were starting the next chapter of their lives. They were delighted to have the Berkeley Heights community to share it with.</p>
                <p>&ldquo;We are thrilled to see how Giovanni&rsquo;s has become a favorite spot, where guests frequent our restaurant many times during the week. We have styled Giovanni&rsquo;s to be the perfect choice for dinner for two, or a venue for your next large party.&rdquo; </p>
                <p>Since that opening, Giovanni&rsquo;s has netted countless rave reviews both online and in print &ndash; the New York Times even rated them &ldquo;Excellent&rdquo; not long after their opening! You&rsquo;ll find consistent four and five-star ratings on sites like Trip Advisor, OpenTable, Yelp, and Facebook. It starts in the kitchen &ndash; where guests can watch meal preparation through a large glass window. There they&rsquo;ll find Executive Chef George Calvo leading a team in creation of culinary masterpieces made fresh daily from &ldquo;farm to table&rdquo; produce, organic poultry and prime beef, and prime seafood. Chef George has put Giovanni&rsquo;s &ldquo;on the map,&rdquo; so to speak, with a wide-ranging selection of New American dishes blending fine Italian and Mediterranean influences.</p>
                <p>As chef George stated, &ldquo;Our team demonstrates a flare to excite your taste buds.&rdquo; George is a gentle, caring chef who has combined the art of cooking with the beauty of styling and plating his creations. </p>
                <p>Menu highlights include openers such as an escarole, bean and sausage cassoulet; avocado, watermelon and blackberry salad; or shrimp tempura. Pasta selections such as Pappardelle Giovanni&rsquo;s, braised beef ravioli, and lobster ravioli are popular with diners, and as &ldquo;main events&rdquo; the halibut, Filet Mignon D&rsquo;Artagnan, Berkshire pork chop schnitzel in a Chardonnay white balsamic reduction, scrumptious eggplant parmesan, and cast iron-seared half-chicken will leave you wanting more. Which is a great thing, because with a dessert lineup including New York-style cheesecake, a limoncello mascarpone cake, cannolis, tartufo and a rum-infused tiramisu, you&rsquo;ll want to make sure you&rsquo;ve saved room for something sweet!</p>
                <p>General Manager, Greg Gibbs, is an engaging, jovial host with a huge desire to please. He has built a premier selection of wines and spirits highlighted by exquisite martinis. Gibbs brings to Giovanni&rsquo;s a background as an advanced sommelier. Greg is happy to recommend a glass or bottle for any occasion, to pair with most anything on the menu.</p>
                <p>Giovanni&rsquo;s, at 449 Springfield Avenue in Berkeley Heights, is open Sunday through Friday for lunch and dinner, Saturday for dinner. Visit giovannisbistrobar.com or call (908) 464-6644 for reservations &ndash; particularly on weekends &ndash; and experience a friendly, casual atmosphere paired with remarkable food in a setting unlike anything you&rsquo;ve tried before. It&rsquo;s time to experience Giovanni&rsquo;s. Nadine and Bob Tokash look forward to sharing their love of great food, fun and  camaraderie with you!</p>
                <br><br><br>
            </blockquote>
</td>
    </tr>
</table>

