@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Salutes</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
    <tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
    <tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/ssalutes1.jpg" width="339" height="11"></td></tr>
    <tr><td id="header2" align="left"><div id="salutes"></div></td></tr>
    <tr><td bgcolor="#FFFFFF"><a href="http://www.goodmansdeli.net" target="_blank"><img src="~/images/salutes/goodman.jpg" border="0"></a></td></tr>
    <tr>
        <td bgcolor="#FFFFFF" valign="top" align="left">
            <blockquote><br /><br />
                <div class="header">                           
                </div>
                <br>
                <br />                
                <div class="writer">   
                   by Susan Baldani
                </div>
                <br /><br />                               
                <p>This year, Goodman&rsquo;s Deli and Family Restaurant in Berkeley Heights is celebrating their 75th anniversary. In recognition of this milestone, they will be offering some great specials during Berkeley Heights Restaurant Week, which will take place from September 9th through the 16th. </p>
                <p>Originally located in Elizabeth, Goodman&rsquo;s moved to Berkeley Heights back in 2000. Don Parkin, the current owner, purchased it in 2010. His main goals were to play a role in the preservation of Jewish Deli cuisine and to introduce Chicago specialty products to the surrounding communities, such as the Chicago Style Hot Dog and the Italian Beef Sandwich. His other goal, which has now come to fruition, was to introduce Eastern European specialties like Beef Stroganoff, Chicken Paprikash and Hungarian Goulash. These are dishes that can be difficult to find on other restaurant menus in the area. Many traditional items such as Matzo Ball Soup, Chopped Liver, Hot Corned Beef, Hot Pastrami, Brisket, Stuffed Derma (Kishke) and Potato Latkes figure predominantly on the menu. You can also find Stuffed Cabbage, Borscht, Poutine, and Kreplach Soup (a traditional meat filled dumpling served in their famous Chicken Orzo Soup.) Most of the main dishes are family recipes that have been passed down from the Goodman and Parkin families for many years.</p>
                <table align="right">
                    <tr>
                        <td width="250" align="right"><img src="~/images/salutes/goodman1.jpg" alt=""></td>
                    </tr>
                     <tr>
                        <td width="250" align="right"><img src="~/images/salutes/goodman2.jpg" alt=""></td>
                    </tr>
                </table>
                <p>As you can see, the Jewish deli is the main emphasis of this establishment, but there is something for everyone. &ldquo;We have a diner style menu, with breakfast all day, and burgers and wraps to round out what we bring to the table,&rdquo; said Don. You can also find a good variety of salads and numerous specialty sandwiches including Sloppy Joes. Many homemade desserts, such as Rice Pudding, Bread Pudding and Death by Chocolate are also on the menu. They offer dine in, carry out, catering and delivery (Goodman&rsquo;s utilizes some well-known services to handle this aspect of the business.)</p>
                <p>What makes this restaurant different is not only the dishes they offer, but the high quality of the ingredients they use. In order to maintain these standards, Don procures his produce and meats from specialized sources in Newark, Elizabeth, Chicago, Brooklyn, and the Bronx. &ldquo;Because of the specificity of our menu, we have very select providers,&rdquo; explained Don. The dishes are made with fresh ingredients in-house and 85% of the menu offerings are cooked from scratch every day. </p>
                <p>The types of patrons who come in are wide and varied &ndash; young to old - or as Don said, &ldquo;from bris to shiva&rdquo; &ndash; and everyone wants a good breakfast, everyone wants good ethnic food. He reported that many of his customers come in regularly, with about 75% being repeat customers. &ldquo;We know many of our customers by name, what they like to order and how they like to have it served,&rdquo; he stated. Price points are different throughout the menu, so there&rsquo;s something for every budget.</p>
                <p>Don mentioned that regionally there aren&rsquo;t many Jewish delis around anymore. Fortunately for the community and surrounding areas, he plans on staying in Berkeley Heights for many years to come.</p>
                <p>Goodman&rsquo;s Deli and Restaurant is located at 400 Springfield Avenue (in the Stop &amp; Shop shopping center) in Berkeley Heights. They are open Tuesday through Saturday from 8:00 am to 8:00 pm and Sunday and Monday from 8:00 am to 3:00 pm. For more information, please call 908-898-0900 or go to their website at <a href="http://www.goodmansdeli.net">www.goodmansdeli.net</a>. </p>
                <br><br><br>
            </blockquote>
</td>
    </tr>
</table>

