@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Salutes</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
    <tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
    <tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/ssalutes1.jpg" width="339" height="11"></td></tr>
    <tr><td id="header2" align="left"><div id="salutes"></div></td></tr>
    <tr><td bgcolor="#FFFFFF"><a href="http://www.haciendamexicanandgrill.com" target="_blank"><img src="~/images/salutes/hacienda.jpg" border="0"></a></td></tr>
    <tr>
        <td bgcolor="#FFFFFF" valign="top" align="left">
            <blockquote><br /><br />
                <div class="header">                           
                </div>
                <br>
                <br />                
                <div class="writer">   
                By Sue Baldani
                </div>
                <br /><br />                               
                <p>Walk into Hacienda in Berkeley Heights and you will know right away you&rsquo;re in a Mexican restaurant. The burnt oranges, rustic yellows, and avocado greens that cover the walls, combined with the Mexican tapestries, paintings and colorful pottery, will transport you to a place south of the border.</p>
                <p>Pass through the semi-private dining room and continue farther into the restaurant, and you&rsquo;ll see that this theme continues. The main dining room with its fanciful tiles, fancy sombreros and fireplace make for a cozy setting, and a side room has comfortable booths with plentiful seating. The staff adds to the welcoming atmosphere, and many of the patrons come back again and again not just for the delicious food, but also for the servers who attend to their needs.</p>
                <table align="right">
                    <tr>
                        <td width="250" align="right"><img src="~/images/salutes/hacienda1.jpg" alt=""></td>
                    </tr>                     
                </table>
                <p>Gilma Kieffer Acosta has owned Hacienda for 20 years and prides herself on the unique dishes she has personally developed for the restaurant. Along with the traditional tacos, enchiladas, and burritos one would expect, there are also many surprising and delightful combinations on the menu that she finds are often the most popular. Dishes such as Camarones Diablo, which consists of baby shrimp sprinkled with lemon and marinated in garlic, olive oil, tomatoes and peppers, and Steak and Portabella Strips, which are saut&eacute;ed with soy sauce, tomato sauce and Dijon mustard, are a couple of favorites. And of course, many of these dishes are served with a variety of sides, from refried beans and Mexican rice, to guacamole and even French fries! There are many types of Mexican food from many different regions, and Hacienda doesn&rsquo;t confine itself to the standard, everyday dishes.</p>
                <p>Gilma believes the food she serves should be high-quality and healthy. Everything in the restaurant is made from scratch (there are no cans to be found in the kitchen), the meats are lean and the vegetables fresh. The homemade chips with Pico de Gallo sauce and tortillas are all natural and very tasty. Also try out some of the soups (two of which are vegetarian) and the salads. There is even a children&rsquo;s menu for the little ones to enjoy.</p>
                <p>In addition to the usual soft drinks and iced teas, they have Jarritos Mexican Carbonated Fruit Flavored sodas in varieties such as strawberry, lemon, sangria and mango. These are fun and worth a try. Otherwise, the restaurant is BYOB, so feel free to bring along your favorite choice of alcohol to accompany your meal.</p>
                <p>While at the restaurant, one of the customers told me she has lived all over the United States and loves this restaurant because it has some of the best Mexican American food in the area. She dines here regularly, and she and her husband just brought their two young boys in to introduce them to the wonderful mix of flavors as well as to celebrate her birthday.</p>
                <p>Gilma stated that Hacienda is a true family restaurant, where they welcome input to ensure they are satisfying all their patrons. She and her staff enjoy serving the community and look forward to doing so for many more years to come.</p>
                <p>Hacienda is located at 579 Springfield Avenue, Berkeley Heights, NJ 07922, and is open Monday through Thursday from 11:00 am to 2:30 pm for lunch, and then 4:30 pm to 10:00 pm for dinner, on Friday and Saturday from 11:00 am to 10:30 pm, and on Sunday from 12:00 pm to 10:00 pm. For more information and menus, please visit <a href="http://www.haciendamexicanandgrill.com">www.haciendamexicanandgrill.com</a> and for reservations, please call 908-665-8565.</p>
                <br><br><br>
            </blockquote>
</td>
    </tr>
</table>

