@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Salutes</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
    <tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
    <tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/ssalutes1.jpg" width="339" height="11"></td></tr>
    <tr><td id="header2" align="left"><div id="salutes"></div></td></tr>
    <tr><td bgcolor="#FFFFFF"><a href="http://www.saltedlimerestaurant.com" target="_blank"><img src="~/images/salutes/salted.jpg" border="0"></a></td></tr>
    <tr>
        <td bgcolor="#FFFFFF" valign="top" align="left">
            <blockquote><br /><br />
                <div class="header">                           
                </div>
                <br>
                <br />                
                <div class="writer">   
                By Erik Slagle
                </div>
                <br /><br />                               
                <p>The culinary masters behind the landmark INC Restaurant in New Brunswick and Warren&rsquo;s own Uproot are bringing a taste of Latin America to Somerville this fall. A late September opening is planned for Salted Lime Bar &amp; Kitchen, a Modern Latin-themed eatery preparing to open its doors at 46 East Main Street &ndash; and area foodies can&rsquo;t wait!</p>
                <p>&ldquo;Everyone is incredibly excited,&rdquo; says Danny McGill, Operations Manager of Mark Daniel Hospitality and Salted Lime&rsquo;s General Manager. &ldquo;The city of Somerville has been terrific. We were part of this year&rsquo;s Taste of Somerville, as well as the Girls Night Out, and the reception was amazing.&rdquo;</p>
                <table align="right">
                    <tr>
                        <td width="250" align="right"><img src="~/images/salutes/salted1.jpg" alt=""></td>
                    </tr>                     
                </table>
                <p>McGill says that of the three restaurants operated by Mark Daniel Hospitality, which is owned by Mark Farro, Salted Lime will be the most casual &ndash; with a menu that hopes to foster sharing around the table. He expects the focus on tacos and the &ldquo;street food&rdquo; of Mexico, Central and South America will add to an atmosphere that will reflect how much fun he and Farro had bringing their vision to life. </p>
                <p>&ldquo;It&rsquo;s been really fun getting to explore the spirits and foods of Latin America,&rdquo; he says &ndash; noting the cuisine of Mexico, Chile and Peru as major influences on Salted Lime&rsquo;s menu. He points out the planned offerings of shareable plates and the presence of an open-air kitchen, where guests can watch the chef hand-press tortillas and create dishes from scratch. &ldquo;Guests will be able to witness the care and craft that goes into each dish we prepare,&rdquo; McGill says.</p>
                <p>Looking into that open-air kitchen will be a 30-seat bar &ndash; &ldquo;the biggest bar of any space in the Mark Daniel Hospitality family,&rdquo; he says. &ldquo;We&rsquo;re going to have a focus on new spirits people might not be aware of, and we&rsquo;ll also have cocktails on draught. Of course, patrons can expect a selection of specialty margaritas and classic Latin cocktails as well. </p>
                <p>Leading the kitchen will be Executive Chef Renner Burgos, an eight-year veteran of Mark David Hospitality who brings a background in Latin American cuisine to Mark Daniel Hospitality. &nbsp;And the menu will be fueled, at least in part, by owner Farro&rsquo;s passion for tacos. McGill and Farro are also excited to unveil Salted Lime&rsquo;s cocktail menu: INC has been recognized for its exceptional whisky program, and McGill expects their new spot&rsquo;s cocktail program to be a similar success.</p>
                <p>Since its opening more than nine years ago, Uproot has become one of the most talked-about spots in Warren. &ldquo;Warren has been great to us,&rdquo; McGill says. &ldquo;We love being a part of towns like Warren that have a strong sense of community.&rdquo; It&rsquo;s a description that fits Somerville as well, and McGill adds that he and Farro are looking forward to adding to the fantastic food landscape of the burgeoning Somerville food scene.</p>
                <p>Although there are still a few weeks to wait until the opening, you can keep up on Salted Lime&rsquo;s progress on Facebook (@('@')saltedlimerestaurant), Instagram (@('@')salted_lime_restaurant) and Twitter (@('@')saltedlime_rest). In the meantime, make a point to visit INC in New Brunswick and Uproot in Warren&rsquo;s Corner Village at 9 Mt. Bethel Road. A stop at either of these American fare restaurants will give you a taste of the quality and atmosphere that have come to define what Mark Daniel Hospitality is all about. And it&rsquo;s sure to whet your appetite for what&rsquo;s to come at Salted Lime!</p>
                
                <br><br><br>
            </blockquote>
</td>
    </tr>
</table>

