@{
    ViewBag.Title = "Westfield";
}
<title>The Showcase Magazine - Cover Artist</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/fca1.jpg" width="417" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="fca2"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/fca3.jpg" width="417" height="25"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left" height="400">
<br>
<blockquote>
    <div class="header">
        <table align="left">
            <tr>
                <td width="260" align="left">
                    <img src="~/images/artists/dsiclare.jpg" alt="">
                </td>
            </tr>
        </table>
    </div>
    The Westfield/Scotch Plains Showcase fall issue front cover features “Pumpkins” a painting created by Dorothy Siclare.
    <br><br>
    Ms. Siclare is a multi-award winning realist painter with a focus on figurative and portrait work. Like so many other artists she has loved to draw since she was very young. Throughout her working years she kept her hand in the artistic process, creating small paintings and sculpting dolls.  Due to a childhood illness she became dependent on a wheelchair in 2000.  It was at this time that she retired from the work force and started painting.  Encouraged and propelled by her successes she now paints full time and welcomes commissions.
    <br><br>
    “I paint what catches my attention, what excites. I try to mirror the expression on a face, the soft light of early morning, the purity of a communion with nature. I'm passionate about my subjects and seek to paint the truth in what I see, while adding a touch of my own spirit. As an artist, I want to share my love of art and the creative process with those who appreciate beauty, hope and inspiration.”
    <br><br>
    Ms. Siclare hopes to engage you with compositions that evoke strong feelings in you. Accurate drawing skills, sound painting techniques are the foundation of her artwork.  “Although truthful depictions are my goal, it is important that you sense the soul in my subjects and the beauty that lies in the simplest of objects.”
    <br><br>
    Ms. Siclare recent awards include….
    <br><br>
    2015 - First Place Award, Contemporary Center of Art, Bedminster, NJ, "Evening"<br>
    2015 - First Place Award, Contemporary Art Group, Watchung, NJ, "Evening"<br>
    2015 - First Place Award, M-SHAC, Bernardsville, NJ, "Evening"<br>
    2014 - Award of Merit, Livingston Art Center, Livingston, NJ, "B.F.F."<br>
    2014 - Award of Merit, Park Avenue Club, Morristown, NJ, "Phyllis"
    <br><br>
    To commission a painting, simply send an email to <a href="mailto:dasiclare@gmail.com">dasiclare@gmail.com</a> with your request. She works from your photos in pastel, oil or charcoal.
    <a href="http://www.dorothysiclare.com" target="_blank">www.dorothysiclare.com</a> 
    <br><br>
    <br><br>
</td></tr>
</table>
