@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Giving Back</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/givingback1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="givingback"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/givingback3.jpg" width="339" height="25"></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/givingbackcommunity.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
<blockquote><br />
<div class="header">
</div>
<br>
    <b>The Showcase Magazine</b> was established in 1996 for the purpose
    of promoting the businesses in Warren and the surrounding areas. We
    take pride in having partnered with the WBPA in years past and have
    donated over $100,000 since 1996 by supporting area schools, sports
    programs, civic groups, and numerous charitable associations. Among
    the organizations <b>The Showcase</b> has helped to support include:
<br><br>

    911 Heroes Memorial Monument Warren<br />
    American Cancer Society – Relay for Life<br />
    American Red Cross Disaster Relief for Hurricane Sandy<br />
    Avon Walk for Breast Cancer<br />
    Children’s Miracle Network<br />
    Comprehensive Autism Medical Assessment & Treatment Center<br />
    The Elks Club<br />
    Friends of the Warren Township Library<br />
    Green Brook Little League<br />
    Green Day<br />
    Hearing Loss Association of America<br />
    The Holiday Walk<br />
    The Janet Fund<br />
    Joseph and the Amazing Technicolor Dream Coat Musical<br />
    The Ladies Auxiliary<br />
    The Lions Expo<br />
    Middle School Award of Excellence<br />
    Pride in Warren Day<br />
    Project Graduation<br />
    The Rainbow Foundation<br />
    Raise Your Glass Foundation<br />
    Ridge Competition Cheerleading Team<br />
    Ridge Youth Sports Inc.<br />
    Rolling Thunder Charities<br />
    S.A.V.E.  (Students Against Violent Environments)<br />
    Shriners Children Hospitals<br />
    Somerset Bears<br />
    St. Jude Children’s Research Hospital<br />
    Team For Kids<br />
    The Valerie Fund<br />
    Wagner Farm Arboretum Foundation<br />
    Warren Baseball Association<br />
    Warren Bicentennial Committee<br />
    Warren Bike Rodeo<br />
    Warren Chamber of Commerce<br />
    Warren Middle School<br />
    Warren Middle School Showcase Award of Excellence<br />
    Warren Municipal Drug Awareness<br />
    Warren Oral Surgery Golf Outing<br />
    Warren PBA<br />
    Warren Rescue Squad<br />
    Warren Township Education Foundation<br />
    Warren Township Library<br />
    Warren Township Lions Club<br />
    Warren Township Recreation Commission<br />
    Warren Township Winter Festival & Yuletide Bonfire<br />
    Warren-Watchung Rotary Club<br />
    Washington Valley Fire Department<br />
    Watchung Hills High School Booster Club<br />
    Watchung Hills High School Boys Basketball<br />
    Watchung Hills High School Hall of Fame<br />
    Watchung Hills High School Robotics Team<br />
    Watchung Hills Soccer Association<br />
    Watchung Hills Warrior Track & Field<br />
    World Trade Center Relief Fund

</blockquote>
<br><br><br>
</td></tr>

</table>
