@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Warren";
}
<title>The Showcase Magazine - Articles</title>
<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr><td bgcolor="#FFFFFF"><img src="~/images/space.gif" width="780" height="1"></td></tr>
<tr><td style="background-color:#b4b5b9"  align="left"><img src="~/images/articles1.jpg" width="339" height="11"></td></tr>
<tr><td id="header2" align="left"><div id="articles"></div></td></tr>
<tr><td bgcolor="#FFFFFF"><img src="~/images/articles/givingbackhead.jpg"></td></tr>
<tr><td bgcolor="#FFFFFF" valign="top" align="left">
   <blockquote>
    <br>
    <div class="header">
    </div><br>
    <br>
       In the spirit of continually Giving Back, this column Showcases three meaningful organizations and charities that are doing amazing work and would appreciate your donations of time and/or money.
       <br /><br />
       Please remember that generous donations are critical to our neighbors down the street, across the nation and around the world.
       <br /><br />
       The Showcase will feature charities in every issue with the hopes that one will stand out and become special to you. From all of us at The Showcase Magazine we wish you a Happy & Peaceful Holiday Season!
       <br /><br /> <br /> <br /><br /><br />
       <table align="center">
           <tr>
               <td width="240"><img src="~/images/givingback/givingback18a.jpg" alt=""></td>
           </tr>
       </table>     
       <br /><br /><br /><br /><br />
       Family-to-Family, Inc. is a grassroots nonprofit 501(c)(3) hunger and poverty relief organization dedicated to providing food, personal hygiene products and other basic life essentials to American families struggling with the challenges of poverty.
       <br /><br />
       By connecting donors one-to-one with specific families in need, Family-to-Family’s mission is to bring a large and seemingly intractable problem – poverty – into personal focus, making proactive, attainable results possible…one family at a time.
       <br /><br />
       <a href="http://www.family-to-family.org" target="_blank">www.family-to-family.org</a>
       <br /><br /><br /><br /><br />
    <table align="center">
        <tr>            
            <td width="340" align="center"><img src="~/images/givingback/givingback18b.jpg" alt=""></td>
        </tr>
    </table>       
       <br /><br />
       Founded in 2011
       <br /><br />
       The mission of Moms Helping Moms Foundation is to provide the basics, so babies can have a safe, happy, and healthy start.
       <br /><br />
       Moms Helping Moms Foundation is a baby supply and diaper bank serving low-income and vulnerable children 0-5 who live in New Jersey.
       <br /><br />
       <a href="http://www.momshelpingmomsfoundation.org" target="_blank">www.momshelpingmomsfoundation.org</a>

    <br /><br /><br /><br /><br />
    <table align="center">
        <tr>
            <td width="240" right="center"><img src="~/images/givingback/givingback18c.jpg" alt=""></td>
        </tr>
    </table>
       <table align="center">
           <tr>
               <td width="340" align="center"><img src="~/images/givingback/givingback18d.jpg" alt=""></td>
           </tr>
       </table>      
    <br /><br /><br />
       The mission of The Food Bank Network is to distribute food and to provide other basic human needs to those less fortunate in our community in a manner which recognizes and advances self-worth and human dignity. Our method of distributing this food is through three food pantries, located in Somerville, Bound Brook, and North Plainfield, and a warehouse in Bridgewater.
       <br /><br />
       Daily, we take emergency calls from people who need our help and are unable to wait until our Saturday pantry distribution. Usually, they are first-time people or people with special needs. We also take walk-ins of people needing immediate help. Our goal is to help create the opportunity for each person to become self-sufficient.
       <br /><br />
       <a href="http://www.somersetfoodbank.org" target="_blank">http://www.somersetfoodbank.org</a>
    <br /><br /><br /><br /><br />
       <table align="center">
           <tr>
               <td width="240" right="center"><img src="~/images/givingback/givingback18e.jpg" alt=""></td>
           </tr>
       </table>
       <br /><br /><br />
       The mission of the FGF is multi-pronged:
       <br /><br />
       To assist all emergency personnel, including but not limited to, firefighters, police officers, nurses, volunteers, sanitation workers, transportation workers and construction workers, within the United States who have been injured, or face serious injury due to action or omission, during their duties or within their everyday lives.
       <br /><br />
       <a href="http://www.feelgoodfoundation.com" target="_blank">www.feelgoodfoundation.com</a>

</blockquote>
    <br /><br /><br /><br /><br /><br />
</td></tr>
</table>


